[2017-10-01 09:21] wojtekmaj opened #1 "Allow passing custom className"

[2017-10-01 09:22] wojtekmaj opened #2 "Allow defining renderChildren to pass to React-Calendar"

[2017-10-07 08:46] wojtekmaj commented on #2
Actually, perfectly working in 6.1.0. Just needs some documentation.

[2017-10-07 08:46] #2 closed, assigned to nobody

[2017-10-07 09:28] #1 closed, assigned to nobody

[2017-10-11 22:53] ReactGirl opened #3 "mask typed input support"
Any plan to support a mask user input? Ex.: --/--/----

[2017-10-12 11:39] ro-savage opened #4 "Add ability to return an ISO date string"
It would be great to return the date as a string, or as a Date().

Date() has a bunch of weird issues around it that can randomly bite people in the butt.

As the datepicker only returns a date, if it could (optionally) be returned as in the [ISO date format](https://en.wikipedia.org/wiki/ISO_8601) `YYYY-MM-DD` it would allow developers to figure out how they wanted to handle the date.

My specifi

[2017-10-12 11:43] ro-savage opened #5 "Add ability to use a native datepicker"
On all mobile devices (and some browsers), there are native datepickers.

It would be great `react-date-picker` could be told to just use the native date picker through a prop (`useNative={true}`).

Let the developer decided when to use native datepicker rather than `rect-date-picker` trying to decide.

An alternative / extra implementation could be to have a `nativeOnMobile={true}` where `react-d

[2017-10-14 00:15] #3 closed, assigned to nobody

[2017-10-15 14:15] wojtekmaj commented on #4
Hey @ro-savage,
sadly people have tons of use cases and it would be hard to satisfy all; probably that would end in onChange sending 14 parameters along ;)

The good news is, you can get an ISO date from Date() pretty easily:

[code]

One thing to remember in order to avoid confusion is to always remember that the user picks their local date. So, unless placed around London, ISO calendar date may

[2017-10-15 14:26] wojtekmaj commented on #5
Hey @ro-savage,
thank you for your suggestion!

First of all, react-date-picker does not try to figure out if browser supports native date picker or not. In current implementation, it will always display its custom UI, and native hidden input for accessibility reasons.

If you would like to use native date picker, react-date-picker would give you no value whatsoever. I see added value in forcing n

[2017-10-17 12:18] jimbobhickville opened #6 "Placeholder text"
It would be nice if we could have some placeholder text in the inputs if we don't pass in a default date. Something like:

MM / DD / YYYY

That way we could require the user to pick a date, but show them something in the input by default.

[2017-10-17 12:20] jimbobhickville opened #7 "Remove dependence on own <form> element"
I have to imagine a lot of use cases involve embedding this input inside another form. Nesting forms is not supported by the spec. Can we, perhaps optionally, not have this component inject its own form element so we can embed it inside other forms with other fields.

[2017-10-22 15:26] wojtekmaj commented on #7
Hey @jimbobhickville, thank you for this report. Just fixed this and the new version is coming :)

[2017-10-22 15:26] #7 closed, assigned to wojtekmaj

[2017-10-23 11:05] marcofugaro opened #9 "The build/ folder isn't published! Version 6.2.1 is broken!"
Hey, somehow on your latest publish the build folder to which points the library when you require it isn't there --> `"main": "build/entry.js",`.

Maybe is it because `build` is in the .npmignore, or because the `prepublishOnly` hook didn't work?

Please publish a patch as soon as possible, for the future maybe include the build in the repo, I think it's safer and many other libraries do it. Or us

[2017-10-23 12:04] wojtekmaj commented on #9
Thanks, I'm on it. Strange, it used to work perfectly.

[2017-10-23 12:12] wojtekmaj commented on #9
Fixed in 6.2.2. Thanks so much!

[2017-10-23 12:12] #9 closed, assigned to nobody

[2017-10-23 12:17] marcofugaro commented on #9
Thank you for being so quick!

[2017-10-23 12:25] wojtekmaj commented on #9
FYI it's still publishing, I'm rescuing it on another computer. Please give me 10 minutes tops!

[2017-10-23 12:26] marcofugaro commented on #9
Sure thing! No prob!

[2017-10-23 12:40] wojtekmaj commented on #9
@marcofugaro You should have 6.2.2 published and 6.2.1 marked as deprecated. I manually checked package contents and build folder is back in place. Please confirm whether everything works fine for you.

[2017-10-23 12:43] marcofugaro commented on #9
Updated it just now, it works fine! Thank you!

[2017-10-23 19:37] yongzhihuang opened #10 "Ability to pick time?"
Hi, Thanks for taking over this project.  I'm a user of the former library, and was able to pick time along with date.  In this version i'm unable to do so, apologize in advance if this was documented somewhere but can you tell me how I can do this?

[2017-10-24 05:20] IftekherSunny opened #11 "Module not found"
Getting [ Module not found: Error: Can't resolve 'react-date-picker' in '/path/to/*.jsx' ] error.

Here my package.json

[code]

here my component..

[code]

and my webpack config

[code]

[2017-10-24 07:47] wahidsherief commented on #11
run: `npm cache clean`
then
`npm install react-datepicker --save`
hope that fixed..

[2017-10-24 19:33] wojtekmaj commented on #10
Hey @yongzhihuang!
I have a very busy period in my personal life but I think it is a great idea and it's definitely on my list. If you really need to have this feature right now, I'd suggest keeping an old version. I'll keep you updated if I have any news about this!
Cheers,
Wojciech

[2017-10-24 19:35] wojtekmaj commented on #6
Hey @jimbobhickville!
I think it's a great idea. It's my priority to keep everything localized though and I need to figure out how this could be working with little to no configuration.

[2017-10-24 19:38] yongzhihuang commented on #10
No problem @wojtekmaj thanks for keeping this project going.  I will try to contribute to this when I have time too.

[2017-10-24 20:24] wojtekmaj commented on #10
Actually, my plan is to create another repo just like I did for the calendar which react-date-picker uses under the hood. After that, I'll use it in react-date-picker. I believe that in this way, I can benefit much more people and at the same time, because of having everything physically separate, keep the structure much more ordered and robust.

[2017-10-26 02:56] IftekherSunny commented on #11
already did. and react-date-picker already exists in the node_modules. I'm not sure why gulp didn't find it.

[2017-10-31 21:42] wojtekmaj commented on #11
Hey @IftekherSunny, do you still have this issue? If so, could you paste me the full error and what contencts do you have in node_modules/react-date-picker folder?

[2017-11-07 02:07] DaveyEdwards opened #12 "Unable to get the /'s in the date display to line up"
![image](https://user-images.githubusercontent.com/15203899/32473338-f2b6e3c8-c31b-11e7-9550-d0f7bef20723.png)
Reproduced in "react-date-picker": "^6.2.0", and 6.2.2

Is it currently possible to target the "/" between the dd/mm/yyyy with css?  I am not sure what could be causing this, I had tried toggling all styles around the date picker.  The closets thing I had was disabling display: flex on re

[2017-11-07 18:16] DaveyEdwards commented on #12
My current workaround has been to add alittle bit of padding top to the input (not quite perfect, but will do)

[code]

![image](https://user-images.githubusercontent.com/15203899/32510212-9b87b1e8-c3a4-11e7-9deb-cfd6796e8099.png)

[2017-11-08 14:51] jtwhittington opened #14 "March and October get messed up in Safari"
<img width="397" alt="2007 ok" src="https://user-images.githubusercontent.com/1642289/32555227-320da242-c46a-11e7-9e13-9d6645ecddcc.png">
<img width="433" alt="2006 broken" src="https://user-images.githubusercontent.com/1642289/32555228-321b9dd4-c46a-11e7-9517-f5f9f7ad05c8.png">

Happens only on Safari so far that I've seen. March duplicates itself and replaces April once you go back some years -

[2017-11-09 08:58] wojtekmaj commented on #12
Hey @DaveyEdwards, that's a fair point - I'll add .react-date-picker__button__divider in the next release!

[2017-11-09 18:16] joebourne opened #15 "Calendar closes on navigation click in Safari and Firefox on macOS"
Browsers used: Safari 11.0.1 & Firefox 56.0.2

Steps to reproduce:

- Click one of the three inputs - day, month or year (NB this is *not* a problem when you click the calendar icon)
- Click any of the navigation items (next/previous chevrons or the navigation label)
- The calendar closes

I've attached a GIF of the behaviour.

![date-picker](https://user-images.githubusercontent.com/12598119/3262

[2017-11-10 09:28] wojtekmaj commented on #15
Uh-oh! Thank you for the report. Will fix over the weekend!

[2017-11-10 11:48] wojtekmaj commented on #14
That's actually bug in react-calendar which is responsible for rendering calendar. Raised an issue in react-calendar and quoted your post. If you'd like to get updates, subscribe to the thread there.

[2017-11-10 11:48] #14 closed, assigned to wojtekmaj

[2017-11-10 13:53] jtwhittington opened #16 "Allow prop to determine if date is required"
Currently the inputs for the date-picker are hard-coded as being required. Would you be interested in allowing a prop to determine if the date is required or not?

Only reason I am not just making a PR - I found when not required, the inputs are filled out automatically once you enter a single value (day, month, or year) and also its basically impossible to clear the date.

I'd be happy to dig int

[2017-11-10 15:54] wojtekmaj commented on #15
Hey @Joebourne, I can't reproduce it :( Is the problem you see on Firefox is also on a Mac? I currently have Windows-only machine here to investigate...

[2017-11-10 16:13] wojtekmaj commented on #12
Thank you for the report! The issue has been fixed in `v6.2.4`, as well as the alignment issue. It should be well aligned out of the box.

[2017-11-10 16:13] #12 closed, assigned to wojtekmaj

[2017-11-10 16:26] wojtekmaj commented on #16
Hmmm. That's a little tough indeed. I currently have no time to dig into this, but I guess it is a very needed enhancement.

I believe that onChangeExternal function would be the one to be changed in order to validate. Currently, we're running native `.checkValidity()` on each field (day, month, year). Changing it so that it also validates on its own whether all fields are filled in would be a goo

[2017-11-10 16:27] wojtekmaj commented on #11
Closed as it seems to be abandoned thread. Happy to reopen if still necessary.

[2017-11-10 16:27] #11 closed, assigned to nobody

[2017-11-10 16:33] #4 closed, assigned to wojtekmaj

[2017-11-10 17:39] joebourne commented on #15
Hi @wojtekmaj - thanks for looking into it!

Yes I am on a Mac using OS X and so is the rest of our dev team. Do you have a access to a Mac to test at some point?

[2017-11-10 19:13] third774 opened #17 "Add TypeScript type definitions"
Would be great to have TypeScript definitions included with the module. I might try to work on a PR for this, but figured I should open the issue in case someone wants to jump on it before I get around to it.

[2017-11-11 10:05] wojtekmaj commented on #17
Hey @third774! I think it's an excellent idea. I don't have any experience in TypeScript though, so I'm not confident doing this right away, especially on this project which has around 60,000 downloads/mo. I do releases very carefully... ;)

[2017-11-11 10:17] wojtekmaj commented on #15
I'm afraid not 😢

Here's my best guess of what might be happening.

Opening and closing the calendar relies on `focus` and `blur` events. When you click around the calendar, you blur one element and focus another one. So when you click an input field (which opens the calendar) and then a button on a calendar, it behaves like so:
[code]
as you can see, `onBlur` and `onFocus` happen very quickly one

[2017-11-11 18:15] third774 commented on #17
PR https://github.com/wojtekmaj/react-date-picker/pull/18 created! 🕺

[2017-11-11 21:19] wojtekmaj commented on #10
Quick update on progress: [react-clock](https://github.com/wojtekmaj/react-clock) repository was created, I'm currently building and documenting UI for the clock for time picking.

[2017-11-13 17:32] joebourne commented on #15
Hi @wojtekmaj - thanks for your help above.

I've opened a pull request (https://github.com/wojtekmaj/react-date-picker/pull/19).

I tried to rewrite the blur functionality so that the blur happens when a user clicks outside the DatePicker. I had to remove the `onBlur` function you mentioned to make it work.

Let me know if it works for you.

[2017-11-13 21:24] #17 closed, assigned to nobody

[2017-11-13 21:58] #15 closed, assigned to wojtekmaj

[2017-11-13 21:58] wojtekmaj commented on #15
Yes, it does! Thank you so much for this!

[2017-11-14 09:54] ajoshi123 opened #20 "Highlight specific day."
I want to implement a holiday list and change the style for the same day in calendar.
Any way to highlight a specific day like **Holiday or Holiday list**?

[2017-11-14 10:14] wojtekmaj commented on #20
Hmmmm, you can certainly add some content to any day/month/year/decade tile, but it's not currently possible to apply styles based on it.

As a workaround, you could use renderChildren for rendering custom content for these tiles and style it with CSS.

I do think that would be an awesome thing to have. There could be two approaches:

- Passing a list of holidays
- Passing a function that, given d

[2017-11-15 14:46] joebourne opened #21 "Calendar closes on drilldown from century to decade, decade to year and year to month"
When you drilldown from any view except top level (click a month name to get to month view / click a year to get to year view / click a decade to get to decade view), the calendar closes.

The blur method changed in PR https://github.com/wojtekmaj/react-date-picker/pull/19 and this may be a side effect.

I am trying to fix it but wonder if you might have any advice. It seems that the `event.target

[2017-11-15 14:55] wojtekmaj commented on #21
Hmm. I'll have a look on it in a couple of hours.

[2017-11-15 15:41] joebourne commented on #21
@wojtekmaj I think it's fixed in my latest PR https://github.com/wojtekmaj/react-date-picker/pull/22. Please check and let me know.

[2017-11-15 21:25] wojtekmaj commented on #21
Well, actually again it must have been macOS-only issue, so I must trust you on this! Sorry for messing that up!

[2017-11-15 22:09] #21 closed, assigned to wojtekmaj

[2017-11-23 11:02] PetrSnobelt opened #23 "locale problem"
Hi,
when I set locale to "cs-CZ" input display only day number and nothing else.

When I use "de-DE" which has the same display format "dd.MM.yyyy" it displays value in input correctly.

Any idea?

[2017-11-23 14:01] PetrSnobelt commented on #23
I found out that problem is caused by placeholder (https://github.com/wojtekmaj/react-date-picker/blob/master/src/DateInput.jsx#L393) which value is for "cs-CZ" locale `day. month. year` **with spaces between it**.
It cause that next swich (https://github.com/wojtekmaj/react-date-picker/blob/master/src/DateInput.jsx#L400) do not catch `month` and `year` part, because it starts with space.
It can b

[2017-11-28 20:37] wojtekmaj commented on #20
Hey @ajoshi123, good news!
React-Calendar version 2.4.0 just went live. This means that you can use its new functionalities throuh react-date-picker, and that includes custom classNames based on dates! Check out `tileClassName` (and `tileContent`) in README.md.
Hope this helps!

PS. Update react-date-picker to 6.3.2 if you're a TypeScript user. You're fine with 6.3.1 if you're using plain JavaScri

[2017-11-28 20:37] #20 closed, assigned to wojtekmaj

[2017-11-28 20:40] wojtekmaj commented on #23
Hey @PetrSnobelt,
sorry for the long wait.
Would you please give me more details about your testing platform (Browser, OS)? React-Date-Picker highly depends on native date format functionality and I can't reproduce it on Windows 10 on any browser.

[2017-11-28 20:53] wojtekmaj commented on #23
Or actually, would you kindly check if `bugfix/cz-CZ-displays-only-day` branch does the trick for you?

[2017-12-02 14:36] wojtekmaj commented on #23
The patch is now included in 6.3.3. Please let me know if it works for you!

[2017-12-02 14:38] #23 closed, assigned to wojtekmaj

[2017-12-02 16:38] wojtekmaj commented on #16
Hey @jtwhittington,
Version 6.4.0 just went out and you can now have fields not required. All the side effects you were writing about were elliminated. Please let me know what you think!

[2017-12-02 16:38] #16 closed, assigned to wojtekmaj

[2017-12-02 16:40] wojtekmaj commented on #6
Hey @jimbobhickville,
as a workaround, I have implemented placeholders like --/--/---- for now.
While not a perfect solution, at least the fields stay wide enough and still look kinda like a date when empty.
Let me know what you think!

[2017-12-03 04:55] TimTruston opened #26 "Plugin should accept strings and an empty string when no date is provided"
First of all, why does the plugin only accept Date objects? I think it would be easier to work with if it accepted date-like strings as well. Check - https://github.com/Hacker0x01/react-datepicker

This comes in handy when there was no date provided. It should default to an empty box with the placeholder and no bugs. Currently its throwing an error -

"Warning: Failed prop type: Invalid prop `valu

[2017-12-03 04:57] TimTruston commented on #26
Let me know if there is something I can do right now to render without any default date and be able to read that as a null or empty string.

[2017-12-03 20:59] wojtekmaj commented on #26
Hey @TechyTimo,
I totally agree it that this package should accept strings as well. I'll see what I can do!

Regarding rendering without any default date - it's absolutely supported. If you pass null or don't pass value at all, it should render empty. Or did I not understand your question?

[2017-12-04 17:26] PetrSnobelt commented on #23
Hi, sorry for the long delay before the response. New version works correctly

[2017-12-04 22:15] wojtekmaj commented on #23
Thanks for feedback! I'm glad it works :)

[2017-12-04 23:20] u3k opened #27 "Add option to format display date with leading zeros"
i.e. to produce dates with zero padding like '01/01/2018'

[2017-12-07 15:41] dgarciaoxfera opened #28 "Reset Date"
Hi Wotejmak,

If I delete the date of dateinput and leave the date empty, the calendar doesn´t change the date internally. I think this can be confusing, I attach image. In my opinion, value should be null, for this case and dispatch  onChange.

![image](https://user-images.githubusercontent.com/32450063/33723525-3d0ebc7a-db6d-11e7-97b1-2a2108bd20af.png)

Once the component has a date, there is no

[2017-12-10 07:08] TimTruston commented on #26
Ok now I understand. So im having to write something like this:

    {this.state.date ? (
      <DatePicker
        name="date" id="date"
        value={new Date(this.state.date)}
        onChange={this.changeDate}
      />
    ) : (
      <DatePicker
        name="date" id="date"
        onChange={this.changeDate}
      />
    )}

Or:

    <DatePicker
      name="date" id="date"
      value={this

[2017-12-10 07:10] TimTruston commented on #26
Also I think this issue and workaround is essential to include in your documentation.

[2017-12-10 11:23] wojtekmaj commented on #26
Ah, now I get how you ended with this issue! I should definitely fix this. Thank you!

[2017-12-10 13:20] wojtekmaj commented on #27
Hey @u3k,
thank you for the suggestion!
I have prepared a solution on a separate branch. It is more tricky than it sounds, as we use number inputs for entering dates to ensure validity, accessibility and good mobile support.
I don't want to create a messy, complicated code though, so my solution requires React 16.2 and Babel 7. That means that it will take a while to test it properly!

[2017-12-10 13:23] u3k commented on #27
Thanks! We are on latest react/ts so it's for totally OK :)
On Sun, Dec 10, 2017 at 16:20 Wojciech Maj <notifications@github.com> wrote:

[2017-12-10 13:54] wojtekmaj commented on #27
In that case, check out what I'm up to on `feature/show-leading-zeros`. But please allow me some more time until it goes to production :) There's tons other people who rely on `react-date-picker`.

[2017-12-10 13:55] u3k commented on #27
👍
On Sun, Dec 10, 2017 at 16:54 Wojciech Maj <notifications@github.com> wrote:

[2017-12-10 18:56] TimTruston commented on #26
Also if you had a date, the erase the date then unfocus the element, it should be able to remain blank.

[2017-12-10 20:35] wojtekmaj commented on #26
Hey @TechyTimo, in v6.5.0:
* Ability to clear date was added.
* You can also pass dates as strings.
* Empty strings and false is now considered an empty value.

Your last comment may be considered a separate ticket :)  I'm tracking it in #29.

Let me know what you think!

[2017-12-10 20:35] #26 closed, assigned to wojtekmaj

[2017-12-10 20:36] wojtekmaj commented on #28
Hey @dgarciaoxfera,
in v6.5.0 I have added a clear button.
I'm tracking React-Date-Picker's behavior when input is cleared manually by erasing all fields in #29.

Let me know what you think!

[2017-12-10 20:36] #28 closed, assigned to wojtekmaj

[2017-12-10 20:37] wojtekmaj opened #29 "Erasing date input completely should be considered a valid, empty value"
When the user erases all inputs, it should be considered a valid, empty value. It should trigget onChange with null.

[2017-12-11 08:31] dgarciaoxfera commented on #28
Perfect, thanks!

[2017-12-15 12:24] Pixelatex opened #30 "Missing css in certain unique cases."
In my case, I use a static builder that has real issues with css imported by modules. I need to declare them in the head or import them as a file in my css folders.

To get this one working, my only option was copying the css from the src and pasting it in a new file in my scss file.

It might be handy to have a css link to link to in the head.

[2017-12-15 17:26] wojtekmaj commented on #30
Hey @Pixelatex,
if you don't want to have CSS imported by modules, there's a special entry file for you. Then, you can add CSS manually using whatever method you'd like. Please mind that you would need to import styles of react-calendar and react-date-picker. More details [here](https://github.com/wojtekmaj/react-date-picker#custom-styling)!

[2017-12-17 23:22] Omortis opened #32 "react-date-picker falls below inputs in bootstrap forms on small screens"
Hello,

Nice component, it works very well. However at smaller breakpoints the component itself seems to drop below other inputs? Possibly a z-index issue? See attached.

This is a fairly vanilla Bootstrap 3 form layout.

Not sure where to start to debug it. Any suggestions?

react 16.2.0
react-date-picker 6.5.2

Thanks!

John

<img width="681" alt="date-picker" src="https://user-images.githubuser

[2017-12-17 23:59] wojtekmaj commented on #32
Hey!
It seems like you have some elements that are, just like the calendar in React-Date-Picker, positioned using `position: relative` or `absolute`.

There can be two cases:

1. They cover the calendar because both calendar and elements covering it have no `z-index` value set. In this case, elements that come after calendar in HTML structure will cover it. Apply `z-index: 1` to `.react-date-picke

[2017-12-18 00:07] Omortis commented on #32
Will check ASAP. Ran out of time but will be back on Wednesday.

[2017-12-18 00:10] wojtekmaj commented on #32
No problem. I'll be happy to reopen if you'd still need help!

[2017-12-18 00:10] #32 closed, assigned to nobody

[2017-12-18 00:10] #30 closed, assigned to nobody

[2017-12-20 16:03] Omortis commented on #32
@wojtekmaj: setting z-index (option #1 above) worked fine - thanks!

[2017-12-29 14:38] jm-maniego opened #34 "Support for range"
Here's a skeleton of what I currently have: https://codesandbox.io/s/nn6zj9nzp0

I think `react-calendar` already supports the range picker, would be great if we separate the props for calendar from the `react-date-picker` props.

maybe something like..

[code]

[2017-12-29 17:34] wojtekmaj commented on #34
Hey @jm-maniego. Thanks for suggestion! I can definitely implement react-calendar's `range`. However, that might not be what you expect - it allows you to return an array of values. For example, if you pass `maxDetail="month"`, selecting January would return you `[new Date(2017, 0, 1), new Date(2017, 0, 31, 23, 59, 59, 999)]`. If you want to select *two separate dates*, I'm actually working on it,

[2017-12-30 14:40] jm-maniego commented on #34
awesome thanks @wojtekmaj, will look forward to it :)

[2017-12-30 22:50] wojtekmaj commented on #10
Hi @yongzhihuang!
Coming back to you with good news. [React-DateTime-Picker](https://github.com/wojtekmaj/react-datetime-picker) just got out and it should be just what you need!
Let me know what you think!

[2017-12-30 22:50] #10 closed, assigned to wojtekmaj

[2018-01-03 12:49] mollynordh opened #35 "Input name"
Should have a prop to pass a name to the input field for post/get.

[2018-01-03 13:07] mollynordh commented on #35
Never mind! It was already there, haha :) Sorry!

[2018-01-03 16:49] wojtekmaj commented on #35
Wait, is it? I genuinely thought it's a defect when I read your first post 😂

[2018-01-05 11:35] kapke opened #38 "Typings and prop types inheritance"
I've seen that there is a lot of typings (and prop types) which are clones of calendar ones. What about using:
* interface inheritance in terms of typings
* any way of extending object (spread, `Object.assign`) in terms of prop types

I think it could make things simpler to maintain. Especially that when the calendar is rendered, it has passed all props from date-picker.

[2018-01-05 14:36] wojtekmaj commented on #38
Hey @kapke,
I think that's a great idea. It is indeed a pain for me to update it all. To be honest though, my TS skills are weak and although Pull Requests are welcome, I'm trying to focus on what I'm good at at the moment :)

[2018-01-05 16:47] kapke commented on #38
I should have a while in this weekend or early next week so I will open a PR for this.

[2018-01-06 10:53] wojtekmaj commented on #35
Fixed in v6.6.2. Also propagated it to react-time-picker and react-datetime-picker. Thanks for suggestion!

[2018-01-06 10:53] #35 closed, assigned to wojtekmaj

[2018-01-10 08:13] TimTruston opened #40 "Allow for different date presentation formats - DD-MM-YYYY"
It would be really helpful to present date in different formats. At least for the very common ones like MM-DD-YYYY or DD/MM/YYYY. Having the date come first instead of month and using a dash instead of slash.

	<DatePicker
		format="dd-mm-yyyy"
		...
	/>

[2018-01-10 12:41] wojtekmaj commented on #40
Hey @TechyTimo,
date format is automatically determined by using `locale` prop. Should you want to use e.g. American format - MM/DD/YYYY - you should set `locale="en-US"`. :)
You can play around with locales by choosing some options or manually typing them in [here](http://projekty.wojtekmaj.pl/react-date-picker/test/).

[2018-01-10 12:54] manulou commented on #40
Thanks for the response! However there are use cases with international customers using a different date format then the current one (travelling agents who are using different devices to access the same environment). In this scenario the preferred date format comes from the backend but there is no way to set this on the date picker without attempting to guess the locale based on the format using s

[2018-01-10 13:03] wojtekmaj commented on #40
This will require a little more work from my side, but I agree that would be a valueable improvement :) Stay tuned!

[2018-01-10 15:02] manulou commented on #40
Actually, looking at the implementation you are using 3 input type=number fields for displaying the date. So does that mean that you can't have dates with MM or DD (i.e. 01.05.2018)? The number fields won't render the extra 0 AFAIK?

[2018-01-11 08:46] Jangwa opened #41 "Hi. can we show one character for "Week Days" like "S,M,T,W,T,F,S""

[2018-01-11 21:16] wojtekmaj commented on #41
Hey @Jangwa,
I suppose your feature request applies to [React-Calendar](https://github.com/wojtekmaj/react-calendar/) which is used by React-Date-Picker ;) And I have good news! In oncoming version 2.11.0 of React-Calendar, formatting weekdays will be supported by passing `formatShortWeekday` prop with your custom formatter function. When this happens, I'll update React-Date-Picker's documentation

[2018-01-11 21:17] wojtekmaj commented on #40
That is correct. In fact, implementing this properly would require me to resolve #27 first.

[2018-01-13 14:03] #38 closed, assigned to nobody

[2018-01-13 15:59] wojtekmaj commented on #41
Hello @Jangwa,
your request is now implemented in v6.7.0. Let me know what you think!

[2018-01-13 15:59] #41 closed, assigned to wojtekmaj

[2018-01-13 16:43] #27 closed, assigned to wojtekmaj

[2018-01-13 17:10] wojtekmaj commented on #29
Works as designed in 6.7.0.

[2018-01-13 17:10] #29 closed, assigned to wojtekmaj

[2018-01-17 19:03] sunnu0818 opened #44 "Restricting the number of digits in any date format"
For example If the date format is mm/dd/yyyy , is there a way to restrict the user to enter not more than two digits in mm , dd and not more than 4 digits in yyyy . As per the current version the user is allowed to enter any number of digits irrespective of date format and the user had to tab or click on next segment of the date.
It would be really helpful if you can address this issue.

Thanks
Su

[2018-01-18 09:50] wojtekmaj commented on #44
Hey Sunaina,
I think it's a great idea. Added to my backlog :)

[2018-01-22 11:59] rp1214 opened #45 "Option to disable date picker control"
Can you please add the option to disable the control by exposing a prop
something like disabled = {true}
so that is becomes easy to handle the control based on the use cases

Currently i implemented a solution by setting pointer-events: none; but user can still tab through it and change using the keyboards

[2018-01-22 13:00] wojtekmaj commented on #45
Oh wow, I'm amazed you are the first person to point that out. I'll do this soon!

[2018-01-24 11:31] TimTruston commented on #26
Works nicely. Thanks a lot for this

[2018-01-24 11:32] TimTruston commented on #29
Good

[2018-01-26 15:10] TimTruston opened #46 "Accept value as string"
I keep getting these three errors:

[code]
[code]
[code]

[2018-01-26 16:25] BernaUUUdo commented on #46
I have the same problem, i think that it's a bug, but i found a workaround  !!!
When I access nested object properties I'm getting the same error :
   (this.props.myObject.**initialDate**)

[code]
but if I change the value to simple variable, the component works fine!
     _changing this.props.**myObject**.initialDate for this.props.**myObjectinitialDate**_

[code]

**about my system, I use:**

[2018-01-31 16:01] brian-lim-42 opened #47 "Support Custom Input"
Hi,

Was wondering if there is appetite for a "customInput" property the same as in another project react-datepicker

This would allow for custom input boxes... for example integration with rmwc input boxes, etc.

If you think this is good, I will develop a PR for you

Thanks,
~ B

[2018-01-31 22:53] wojtekmaj commented on #47
Hmmm... I'm okay with the idea, don't know what the community thinks about it. Anyway, with custom input, not much of the original react-date-picker is left - actually only the logic behind opening and closing the calendar. If there's a demand for that though I don't see a reason why not to.

[2018-02-02 12:21] TimTruston commented on #46
The workaround by @BernaUUUdo wont work for me since I am using a global object to store my date. To avoid the errors, I had to parse my string dates to Date. I thought 6.7.0 does that automatically based on this update - https://github.com/wojtekmaj/react-date-picker/issues/26

**Changing the date doesn't actually work for me.**

My app uses:

[code]

[2018-02-02 18:19] wojtekmaj commented on #46
Hello,
would you please create a minimal reproduction sample? It'd really help me out wit debugging.

[2018-02-03 20:33] dtbell99 opened #48 "Date jumps back to current month"
When i go back to last month, or last year, choose a date, the calendar jumps back to current month.

[2018-02-03 20:34] dtbell99 commented on #48
I recorded a video of this occurring if someone wants me to send it to them.

[2018-02-03 20:36] dtbell99 commented on #48
[react-date-picker-bug.zip](https://github.com/wojtekmaj/react-date-picker/files/1692165/react-date-picker-bug.zip)

[2018-02-03 23:47] wojtekmaj commented on #48
Hey @dtbell99,
Not sure what's entirely going on here as I don't see your part of the code, but I assume you must have done something wrong with passing the new value to react-date-picker. I assume so because:

* react-date-picker clearly updated itself
* react-date-picker, when updated by changing props, ensures the view it displays includes the value that is chosen
* the date chosen on the calen

[2018-02-04 13:15] dtbell99 commented on #48
It looks like the picker updates visually but when I console.log in my update message I don't see anything. When I choose a date in the current month I do see console logging. So the update process doesn't hit my onChange code. The value is being set with this.props.object.value so I will see if an inner object is to blame but that is a guess. The other question might be date format perhaps and ti

[2018-02-04 13:30] dtbell99 commented on #48
[react_date_picker_second_attempt_480.zip](https://github.com/wojtekmaj/react-date-picker/files/1692815/react_date_picker_second_attempt_480.zip)

[2018-02-04 13:31] dtbell99 commented on #48
Attached video shows OnChange firing only for current month.

[2018-02-04 14:17] wojtekmaj commented on #48
Hmmm... From what I see, your method `updateDate` is wrong. I don't know if that's the only issue we're having here, but you should fix it either way.

You should not mutate objects from state on your own. You did something like this:

* Took an object from state
* Mutated a property in it
* Ordered React to setState and update `service` object

The thing is, you actually did not do the last step.

[2018-02-04 14:47] wojtekmaj opened #49 "🏝 Holiday notice"
Hey community!
I'll be on holidays from 5.02.2018 to 18.02.2018. During this time I may respond slowly or not at all, depending on my connectivity. Please allow more time for your questions to be answered!

Thanks,
@wojtekmaj

[2018-02-05 02:36] dtbell99 commented on #48
Good evening,

I made all the changes you suggested and I still get the exact same result. Doing further testing against the control I am seeing that I can't switch years either.

I think what is best to verify is for me to create a brand new project and only create one component with the date picker and see if it works ok with all the other libraries in my package.json. Then I'll start adding in

[2018-02-05 10:54] wojtekmaj commented on #48
Hey @dtbell99, I'll do my best to help you. Thanks for the intention to create greenfield app - it's making it much easier. Although please mind issue #49 :)

[2018-02-06 16:23] dtbell99 commented on #48
Hi; I haven't gotten time to create a Greenfield app yet. I did do some cross browser testing and the data picker does work in Safari 11.0.3 on macOS High Sierra 10.13. It doesn't not work in Chrome on Windows or macOS. So the fact it does work on Safari is very strange, but again I'll see if I can get it working on Chrome with a clean build which I'll make public if I can make it not work.

[2018-02-06 18:43] dtbell99 commented on #48
Ok, Greenfield app works in all browsers. My app when going back a month or year the event isn't registered as a change so no feedback. In Greenfield all dates do register and call handler. My next thought is a conflicting library. I'm going to see if there is maybe a conflict with another module.

[2018-02-06 19:02] dtbell99 commented on #48
I have created a new app from scratch with same modules without the ability to reproduce. My guess would be possible CSS issues or some other loaded module / code. One thing I noticed from the original app and the greenfield was the version number. My app was using 6.7.0 but the newest app was using 6.8.1. When I deleted node_modules and installed version 6.8.1 my application is suddenly working a

[2018-02-06 19:02] #48 closed, assigned to wojtekmaj

[2018-02-07 20:56] machiapply commented on #45
+1

[2018-02-19 00:06] wojtekmaj commented on #48
Hey @dtbell99, thanks for all the extensive information. Hopw you won't face any similar issues in the future!

[2018-02-19 00:26] #49 closed, assigned to nobody

[2018-02-20 17:42] cristian-sima opened #50 "Integrate with redux-form?"

[2018-02-21 00:12] wojtekmaj commented on #50
Hey @cristian-sima, what would you like to know exactly? Looking briefly at their documentation, I think `<Field>` accepts custom components. Is there a problem you're facing?

[2018-02-26 16:02] DmytroSV opened #51 "Re-implement MultiMonthView"
Would be nice to have an old MultiMonthView feature, is it possible?

[2018-02-27 12:14] wojtekmaj commented on #51
Hey @DmytroSV,
at the moment it is not possible, but it's a valueable feedback :) I'll keep it on my feature requests list.

[2018-02-27 17:00] jameskraus opened #52 "Overflows when near the top of the page"
Fails to detect when an element goes right off the page:

![image](https://user-images.githubusercontent.com/415057/36740584-d99f3ea6-1bb0-11e8-93db-34c2a2a198d8.png)

This is a minor issue for me, but it occurred when the item was the first element on the page.

Repro repo:
https://github.com/jameskraus/react-date-picker-overflow

Just a guess, it may be if the page isn't large enough, a collisio

[2018-02-27 17:22] jameskraus commented on #52
Maybe a good fix would be to take the selector's height, the body's top position, and check if the selector would be off screen if moved?

Edit: I did manage to get it to work, but due to complication of the logic being in the ref callback, I can only get it to work correctly once, then it will only appear below the component.

[2018-03-01 09:28] higordev223 opened #54 "react-date-picker doesn't support in Internet Explorer"
It works another browsers. But It's not work in IE11. The error is as follow.

"TypeError: Object doesn't support property or method 'isNaN'.

[2018-03-01 20:08] wojtekmaj commented on #54
Fixed in v6.8.2. Thank you for reporting! Let me know if you find any other issues.

[2018-03-01 20:08] #54 closed, assigned to wojtekmaj

[2018-03-01 23:44] dmrqx commented on #6
Hello @wojtekmaj,
first of all, thanks for all your work. It's my first time using react-date-picker and I'm fairly new to React, but I think things are going great.

About this issue, would it be an ok solution to try and add something like [riek](http://kaivi.github.io/riek/) edit in place functionality? Then the component could still rely on number inputs when editing, but display the value as

[2018-03-02 00:25] ioandantataru opened #55 "Error: MonthInput.render() doesn't return something proper"
`Uncaught Error: MonthInput.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.
    at invariant (invariant.js:42)
    at ReactCompositeComponentWrapper._renderValidatedComponent (ReactCompositeComponent.js:828)
    at ReactCompositeComponentWrapper.performInitialMount (ReactCompositeComponent.js:361)
    at ReactCompo

[2018-03-02 00:31] ioandantataru commented on #55
Update:
I tried this in a separate app and it works only when I use version 6.8.2 with react 16. It still doesn't work when using version 6.7.0 with react 15.3.2.

On my app tho, I get the same error even after updating to react 16.

[2018-03-04 00:58] dfalling commented on #46
Hiya, I have the same issue.  It happens whenever I click outside of the DatePicker while the value is a string.

Here's a working (failing) app:
[code]

[2018-03-05 16:21] wojtekmaj commented on #55
Hmmm... That is odd. Indeed, newest versions of react-date-picker will only work properly with React 16. But I don't see anything in the code that could have caused this issue in version 6.7.0 on React 15... MonthInput returns an input component no matter what.

[2018-03-05 16:31] debovis commented on #55
Same issue using React 15.6.1 with example from README.md

@wojtekmaj

[code]

[2018-03-07 21:35] wojtekmaj commented on #55
@debovis By "basic example" you mean /sample catalog of this repo without any changes?

[2018-03-07 21:55] wojtekmaj commented on #52
Hey @jameskraus,
the fix has been made and is going to be published with v6.8.3. I hope it will make it better in your situation; if not, please let me know and we'll work further.

[2018-03-07 21:55] #52 closed, assigned to wojtekmaj

[2018-03-07 21:57] wojtekmaj commented on #50
@cristian-sima, I'm closing this issue to give more visibility to active issues, happy to reopen if this is something you'd still like to discuss.

[2018-03-07 21:57] #50 closed, assigned to wojtekmaj

[2018-03-07 22:04] wojtekmaj commented on #46
@dfalling,
thanks for this. react-date-picker does not support value as a string, as in documentation. You need to wrap the date in new Date().

[2018-03-07 22:24] #45 closed, assigned to wojtekmaj

[2018-03-07 22:24] wojtekmaj commented on #45
All,
the feature has been implemented in v6.9.0

[2018-03-07 23:42] wojtekmaj commented on #34
Hello @jm-maniego,
on my GitHub, there's react-daterange-picker which is based on react-date-picker. Unfortunately, this name is taken and current maintainers are not willing to give it up, so I'm not publishing it on npm just yet.

[2018-03-08 22:03] waheedsid commented on #6
Has this been already implemented?

[2018-03-09 04:54] LuisEgan opened #56 "Old version of React-Date-Picker allows too new version of React-Calendar"
I installed using:
`npm i react-date-picker@6.7.0`

With react 15.5.4

When I try to do the simple example:

[code]

I get this error in the console:

![image](https://user-images.githubusercontent.com/19411549/37191142-99f87194-233c-11e8-8122-ff1c72c16b5c.png)

[2018-03-09 19:06] wojtekmaj commented on #56
Hey there,
it seems like the version of react-calendar got installed. Which is odd, because it means package-lock.json did not work properly :(
Please try the following:
[code]

I think this will ensure the correct version of dependencies is installed.

[2018-03-09 19:07] wojtekmaj commented on #6
Not in a way dmrqx suggested. Seems like a neat idea, but so far, only `--` are being displayed.

[2018-03-10 20:17] LuisEgan commented on #56
Thanks!
It turned out that the packages weren't installing correctly ( some windows errors ), fixed them and now it works like a charm :)

[2018-03-11 10:16] wojtekmaj commented on #56
Happy to hear that! Don't hesitate to write if you have any other issues :)

[2018-03-15 10:11] rohitketkar87 commented on #52
Hi,
Experiencing the same issue in version 6.9.0
![overflow_issue](https://user-images.githubusercontent.com/20128493/37457201-a84c2a6c-2817-11e8-9ebe-183856acbde6.PNG)

[2018-03-15 11:00] rohitketkar87 commented on #54
Hi,
Having one more issue in internet explorer. Dates are getting shown incorrectly. Days header (Sat, Sunetc) is correct but actual dates are wrong. PFA screenshot.
![image](https://user-images.githubusercontent.com/20128493/37459451-7cb42eb6-281e-11e8-8b9a-c74fc7e42b85.png)

[2018-03-15 20:31] wojtekmaj commented on #54
Hey @rohitketkar87, you're affected by wojtekmaj/react-calendar#45 which has been fixed this very minute. Please update! You should get the new version of React-Calendar.

[2018-03-16 06:42] rohitketkar87 commented on #54
@wojtekmaj Thanks. Resolved now.
One more issue is there for which I have given comment on https://github.com/wojtekmaj/react-date-picker/issues/52.

[2018-03-16 13:21] wojtekmaj commented on #52
Thanks. Currently it measures collisions between the calendar and `<body>`, clearly there's a room for improvement there.
Workaround for now: If you have body set to width and height equal window size, and have scrollable content inside <body>, then it should work.
Will see what else I can do.

[2018-03-17 02:23] ghost commented on #55
Just got around the v6.7.0 issue myself. The workaround is to run

`npm install react-calendar@2.11.0 --save --save-exact`

The problem is that the package.json shows a dependency on react-calendar@^2.11.0. The error returned from using DatePicker is something like "'_locales.setLocale' is not a function". From what I could tell, setLocale was a shared function taken from react-calendar. Something

[2018-03-17 07:38] wojtekmaj commented on #55
...which is odd as we have package-lock.json to prevent just that. :/ But that's actually entirely different problem. In which reinstalling the package should work just fine. Discussed in #56.

[2018-03-19 17:03] hyxos opened #57 "Using .less from Yarn install"
Hi there! I'm trying to integrate this into a project using .less instead of .css, I've added it using 'yarn add react-date-picker' but I can't figure out how to rebuild it when I got into node_modules/react-date-picker and change the `src/entry.js` to the .less instead of .css.

I've gotten it to work by editing the dist/entr.js file but i know that isn't the right way to do it.

Any insight woul

[2018-03-19 18:44] wojtekmaj commented on #57
Hi,
as README.md states,you can do something like this:
[code]
then, simply import LESS by yourself:
[code]

and you should be ready to go!

[2018-03-19 20:32] hyxos commented on #57
That is great, worked for me, thanks!

[2018-03-19 20:36] hyxos commented on #57
Also, I imported the Calendar.less from react-calendar like this:
`import 'react-calendar/dist/Calendar.less'`
and I get that styling as well

[2018-03-19 21:50] wojtekmaj commented on #57
Looks superb to me ;) Happy coding!

[2018-03-19 21:50] #57 closed, assigned to wojtekmaj

[2018-03-26 11:57] rohitketkar87 opened #58 "value of date doesn't change when using minDate and maxDate properties"
Hi,
I have encountered a strange issue today. Consider following two screenshots. I have given condition that second one's minDate  = value of first one and when i change date in first one, second one should get defaulted to same date as first one.
![image](https://user-images.githubusercontent.com/20128493/37904653-72258cce-30ca-11e8-84c7-bde9dc6f925f.png)
![image](https://user-images.githubuserc

[2018-03-26 14:49] amit-ash commented on #6
a simple workaround:
[code]

[2018-03-28 21:52] leo-iomer opened #59 "Prop isOpen does not control opened state of calendar"
Based on the description and naming of the isOpen prop it is expected that if the isOpen prop is passed to the component the isOpen prop will control the open/closed state of the calendar.  However, that is not the case and the component will open/close regardless of isOpen.

From my testing isOpen appears to work like a trigger and will open/close the calendar if isOpen changes and the calendar i

[2018-03-29 08:48] wojtekmaj commented on #59
In other words, isOpen only works when changed, but initial value is ignored?

[2018-03-29 17:49] leo-iomer commented on #59
Not quite, if I initially set the isOpen to true the component will mount in the open state but on clicking outside of the calendar (or selecting a date) the calendar will transition to the closed state.  In order to use the prop to reopen you then need to toggle isOpen prop to false then back to true to change the calendar back to the open state.

[2018-03-29 20:46] wojtekmaj commented on #59
I see. That's actually very interesting case. An edge case IMO. Forcing this state to be always matching the one from props instead of being updated on mount and on prop change would make it impossible to use the calendar easily.

What would I suggest is rendering [react-calendar](/wojtekmaj/react-calendar) yourself next to your date picker and make both components connected by yourself. In fact,

[2018-03-31 16:01] wojtekmaj opened #60 "Compatibility with React 17"
In React 17, lifecycle methods `componentWillMount`, `componentWillUpdate` and `componentWillReceiveProps` will be deprecated. These are to be replaced with `getDerivedStateFromProps` static method.

[2018-03-31 18:30] #60 closed, assigned to wojtekmaj

[2018-04-02 18:19] leo-iomer commented on #59
Then in my opinion isOpen would is named incorrectly, a more accurate naming would be something like triggerOpen from my perspective.

I haven't had time to look into the internal workings of the component to see how difficult to implement this but adding in additional props onRequestCalendarClose and onRequestCalendarOpen props as function which would be called when the calendar would normally op

[2018-04-04 07:24] rohitketkar87 commented on #45
@wojtekmaj is it working in IE-11? For me, its greyed out but when i click on it, I am able to change it.

[2018-04-04 10:48] wojtekmaj commented on #45
Hi @rohitketkar87, thanks for pointing that out - I can confirm there is an issue on IE caused by its non-standard behavior, being `focus` action being triggered on disabled elements. Fix is on the way.

[2018-04-04 10:58] wojtekmaj commented on #45
@rohitketkar87, v6.10.1 is out. Let me know if it works for you.

[2018-04-04 11:23] rohitketkar87 commented on #45
@wojtekmaj Working now. Thanks.

[2018-04-04 16:30] jmathew opened #62 "Directly control the direction of the pop up?"
I ran into a situation where the picker popped up above the input even though there was no room in that direction.

Looking at the code it looks like the direction the picker is computed based on overflow involving the body element.

In my case the the body element was at height 0. The picker was inside a modal that was positioned fixed and was the full height and width of the view port. The picke

[2018-04-04 17:56] wojtekmaj commented on #55
Guys, please retest v6.9.1 or higher. The problem should have been resolved.

[2018-04-04 18:11] wojtekmaj commented on #59
I think that's an awesome idea. Would you please share some example implementation in some popular solution?

[2018-04-04 18:14] wojtekmaj commented on #58
So, if I understood you correctly:
Providing such minDate/maxDate that would overlap given value changes it, but changing minDate/maxDate so that it's no longer in conflict with value does not change it back to proper value

?

[2018-04-04 22:18] leo-iomer commented on #59
While I can't immediately think of a example that uses something like a "onOpen" or "onRequestOpen" here are two modal components that maintain the open state using a "isOpen" and "onDismiss"/"onRequestClose":

- [https://developer.microsoft.com/en-us/fabric#/components/modal](https://developer.microsoft.com/en-us/fabric#/components/modal)
- [https://github.com/reactjs/react-modal](https://github.

[2018-04-04 22:19] wojtekmaj commented on #59
Thank you! That makes it more clear for me.

[2018-04-05 07:54] rohitketkar87 commented on #58
@wojtekmaj Yes i think you got it.
 Just to elaborate again, in above screenshots, if I change first one's date to 3/20, second one's date should also get changed to 3/20 which is not happening since I have also given condition minDate of second one = value of first one.

[2018-04-06 14:31] m41w4r3exe opened #63 "How to define a period range as 'week', 'month', 'year' ?"
Hi, thanks for the great lib! I’d like to ask if it is possible to be able to select a predefined period range as ’week’, ‘month’, ‘year’? Some example pics might help what I’m trying to say. I couldn’t find a way to implement such thing with your calendar, would love to hear from you if it is possible? I can see a way of implementing it for month and year through determining the maxDetail props w

[2018-04-09 13:59] kpheasey commented on #55
@wojtekmaj  I'm seeing this problem with v6.10 using React v15.6.1 still

[2018-04-09 17:09] kpheasey commented on #47
@bhldev I needed an implementation using a single input that functioned like a regular input (onFocus/Blur/Change) etc.  This allows users to easily edit dates without changing inputs and responds to all regular input events.

https://gist.github.com/kpheasey/64fc79c656eede81fb4d651ebac70600

![screen shot 2018-04-09 at 1 09 10 pm](https://user-images.githubusercontent.com/3934075/38511774-3866cc2

[2018-04-09 17:28] wojtekmaj commented on #47
By the way, users don't need to change between the inputs to put the whole date in. If the date is separated by `.`, they can just press `.` and they will be in the next field. Arrow keys should work as well.

Probably in your case it can be also good to just un-hide the native input that is there for accessibility reasons, and hide the custom ones. That could work on modern browsers. But you'll n

[2018-04-10 05:50] vishalTechnoFreek commented on #35
is it something  like it displays the name like placeholder

[2018-04-19 05:58] baffleinc opened #64 "Add onFocus & onBlur events"
We are using react-date-picker (love it) in combination with react-redux-forms. In order to make it play right with validation we need to hook into the onClick (focus) and click outside the component (blur).

Passing onClick to the component does nothing - just gets ignored.

recreate:
`<DatePicker onClick={() => console.log('hello')} />; // never fires`.

Do you know a potential workaround for th

[2018-04-20 15:18] Zertz opened #67 "Should a click event on the root element open the calendar?"
I'm thinking this should be the default behavior but perhaps there's a reason not to this?

[2018-04-20 20:10] brian-kilpatrick opened #68 "Webpack compilation error: Unexpected token . on ".react-calendar""
Hey guys, I recently upgraded to React 16, in a project based off of an earlier version of [React Starter Kit](https://github.com/kriasoft/react-starter-kit). this lead me to upgrade `react-date-picker` which I am now getting the following error:

[code]
Looks like it could be similar to whats expressed here: https://github.com/reactGo/reactGo/issues/850#issuecomment-299417219

my full webpack con

[2018-04-30 00:45] jdanil opened #69 "Uncaught error when given date beyond max date"
When entering a year beyond the max date, react-date-picker crashes the app.
This is reproducible on the [demo](http://projects.wojtekmaj.pl/react-date-picker/) page.

![image](https://user-images.githubusercontent.com/8342105/39412529-0818764a-4c61-11e8-9b55-0d7c49ad4016.png)

To reproduce, enter any date beyond the max date in JS (i.e. Sat Sep 13 275760). So most 6 and any 7 digit numbers will c

[2018-05-01 03:10] jdanil commented on #68
@brian-kilpatrick, we had this same issue as well. I think this is a test configuration issue rather than an issue with `react-date-picker`.
Assuming you're using jest since you're project is based on `react-starter-kit`.
https://facebook.github.io/jest/docs/en/webpack.html
Mocking `(s?css|less)` files resolved this issue for us.

[2018-05-04 12:26] wojtekmaj commented on #64
Hmmm. That seems like an excellent idea! My main concern is how to handle this nicely taking into consideration that `DatePicker` renders `DateInput` and `Calendar` components, both potentially supporting a number of events. I could catch all the events that bubbled up to `DatePicker`, but is it an optimal solution?

[2018-05-04 12:28] wojtekmaj commented on #67
Hmmm, not sure what would be the benefit from it. Calendar opens whenever you focus on an input or manually click calendar toggle button. Is some case not covered by these actions?

[2018-05-04 16:33] wojtekmaj commented on #63
Hey,
you're looking for [react-daterange-picker](https://github.com/wojtekmaj/react-daterange-picker/) :)

[2018-05-05 04:36] u3k opened #70 "Add showLeadingZeros prop to DatePickerProps"
This property is not exposed by CalendarProps interface

[2018-05-05 06:52] wojtekmaj commented on #70
Hmm, I'm confused, shouldn't it be directly in DatePicker's interface? Also I noticed it's missing from documentation so thanks for heads up!

[2018-05-06 12:27] m41w4r3exe commented on #63
Thanks for the reply, but I still couldn't find a way with that lib you mentioned, to implement week range selection as shown in the first screenshot.

[2018-05-06 21:34] u3k commented on #70
My bad, yes! This should be in DatePickerProps, for sure! :) Thanks for dealing with this one.

[2018-05-08 17:09] brunaprestes opened #71 "Highlight on today"
It's nice have the current date with another color different of the selected date and the other days

[2018-05-10 03:26] jdanil commented on #69
@wojtekmaj, happy to contribute if you are open to PRs. Is the proposal above alright, or do you have another fix in mind?

[2018-05-10 13:25] falconvk commented on #68
Same issue here.
react: ^16.2.0
(jest: ^17.0.0)

[2018-05-12 07:37] wojtekmaj commented on #70
Hey @u3k, could you please verify if index.d.ts now looks okay on master? I'd like someone more experienced with TypeScript to have a glance before I release new version. Thanks in advance!

[2018-05-12 07:45] wojtekmaj commented on #68
If that's the issue with running Jest, then mocking style files should help:

[code]

where styleMock is simply:

[code]

[2018-05-12 08:10] wojtekmaj commented on #71
Hey there,
you can pass any [react-calendar](https://github.com/wojtekmaj/react-calendar) prop to `DatePicker`. `tileClassName` is what you're looking for, only you need to have a function `isToday` which you'll use, and make sure you only use it on month view (otherwise you might get colored month tiles or year tiles). An example from documentation gives all wednesdays `wednesday` class:
[code]
T

[2018-05-12 12:09] brian-kilpatrick commented on #68
This isn’t a test issue for me. Happening in prod

[2018-05-14 07:52] wojtekmaj commented on #63
Ah, sorry, now I get what you meant. I'm afraid you can't select other things than:

* days on month view
* months on year view
* years on decade view
* decades on century view

This is a hard case :( I don't think that picker will do the job very well. If you must, what you could do is disable all days but sundays and use some CSS to style it so that the whole week is covered by Sundays (or whate

[2018-05-14 07:55] wojtekmaj commented on #69
Hey, sorry for the wait. Super busy lately. Actually, a line before `const proposedValue` is supposed to check for validity:
`if (formElements.every(formElement => formElement.value && formElement.checkValidity()))`
and it looks to me like year input is not properly validated. So the fix should be probably in YearInput component, which I thought is pretty straightforward, but I don't know yet why

[2018-05-14 14:13] cwdaniel commented on #68
We have the exact same issue here.

When installing the package for the first time we are able to compile and run.
When stopping and starting our build process we get the unexpected token issue.

Looking into this, it seems that our compiler thinks that the css page Calendar.css is actually a javascript file.
I am not sure **why** this happens. For the time being we do the following to avoid the i

[2018-05-15 20:02] Zertz commented on #67
I switched to using `calendarIcon` as intended and it works fine! 💯

[2018-05-15 20:02] #67 closed, assigned to wojtekmaj

[2018-05-24 07:23] m-o-leary commented on #56
Hey there,

I installed (for React 15) version 6.7.0 and get this same issue.
I am using the library in an Electron app by the way.

I have the following versions installed:

[code]

Using the following example:

[code]

I am getting the following:

![image](https://user-images.githubusercontent.com/24975408/40469995-835ffb0a-5f32-11e8-8910-ecee5f155a37.png)

npm install looks like the following:

[2018-05-24 16:43] #70 closed, assigned to wojtekmaj

[2018-05-24 16:44] wojtekmaj commented on #70
Fixed, will be released in 6.10.2.

[2018-05-24 19:02] wojtekmaj commented on #56
Hmmm. I checked and it should work with react-calendar@2.12.0 even. It's the last version that used setLocale and exported it. Strange it did not work :(

[2018-05-24 21:50] LuisEgan commented on #56
@buddythumbs are you sure everything installed correctly, both of the packages appear in your package.json?? Perhaps you could try deleting your `package-lock.json` and your `node_modules` folder and then running `npm install`

[2018-05-25 11:02] m-o-leary commented on #56
Thanks for the help @LuisEgan - that got the library to load.

Now I am faced with no styling being imported - I will open/look for an issue

[2018-05-28 02:08] jakubgereg opened #73 "Console error on withPortal"
submitted issue for different package. my bad

[2018-05-28 07:28] #73 closed, assigned to nobody

[2018-05-29 03:38] Ebuall opened #74 "Calendar navigation doesn't work."
Wasted a bit of time, before discovered, it's a calendar bug https://github.com/wojtekmaj/react-calendar/issues/75. Specifying versions like this and adding react-calendar explicitly resolves the issue:
[code]

[2018-05-29 12:52] gabrieltosta96 commented on #40
@wojtekmaj I would like to display dates like "29-May-2018", is that possible?

[2018-05-29 13:06] wojtekmaj commented on #74
Thanks for the update. I released new version of React-Calendar which should resolve the issue.

Please refer to wojtekmaj/react-calendar#78 for official recommended way of fixing the issue.

[2018-06-01 15:26] stolinski commented on #68
Also seeing this in Meteor. Not using webpack.

[2018-06-06 07:47] wojtekmaj commented on #74
Hello,
v6.10.2 just has been released and it should guarantee to work fine with React 16.4. Previously you may have needed to reinstall package for it to work correctly (it had to download the newest version of react-calendar, now it's required to do so). Let me know if it works for you!

[2018-06-06 07:47] #74 closed, assigned to wojtekmaj

[2018-06-06 09:24] wojtekmaj commented on #71
I'm closing this to give issues that require my attention more visibility. Happy to reopen if you need more assistance.

[2018-06-06 09:24] #71 closed, assigned to wojtekmaj

[2018-06-13 09:02] wojtekmaj commented on #69
Fixed in the v6.10.4. Thanks!

[2018-06-13 09:02] #69 closed, assigned to wojtekmaj

[2018-06-13 10:06] sridhar37 commented on #6
Thanks, @amit-carrotsense for the workaround,
In my component, I have used two react-date-picker components one for FROM date and one for TO date
like this,

[code]

I have included the condition just to make my test case pass for my component.

[2018-06-13 10:49] wojtekmaj commented on #6
@sridhar37 By the way, check [react-daterange-picker](https://github.com/wojtekmaj/react-daterange-picker/) :)

[2018-06-14 03:13] joshua-tmc opened #75 "How to remove the clear icon"
I tried using an empty react  component as the clear icon. However, the clear icon is still there (just invisible but clickable). Is there any way to remove it completely?

[2018-06-14 09:16] wojtekmaj commented on #75
Yep, `clearIcon={null}`. :) I'll clarify the docs.

[2018-06-14 09:16] #75 closed, assigned to wojtekmaj

[2018-06-17 08:48] chenasraf commented on #59
I agree with @leo-iomer - this is a really weird design choice. `onClose` or something of the likes is NECESSARY if you derive open state from props, because there needs to be a bounce back to update the parent state back to closed. As this currently is, this package became useless for my use case on the grounds of a single props which is also pretty much the most basic prop of them all.

The cale

[2018-06-22 14:23] Sauerbrei opened #77 "Can't find variable: Intl"
On iOS 9.3.5 I always got this error. It is thrown in dateFormatter.js and could be fixed by importing the Intl library.

[2018-06-24 21:29] baffleinc commented on #64
We were concerned with the actual text input itself, not the DateInput or Calendar components.

[2018-06-26 20:42] wojtekmaj commented on #77
That's entirely expected. Read: https://github.com/wojtekmaj/react-date-picker#legacy-browsers

[2018-06-26 20:42] #77 closed, assigned to nobody

[2018-06-28 16:56] gabrieltosta96 commented on #46
@wojtekmaj It would be very nice to have. Would you mind if I fork the project and pull request this enhancement?

[2018-07-04 08:41] Rahulgarg30591 opened #78 "Disable date selection from input and restrict it only from the calendar."
Hello @wojtekmaj, Thank you for creating and maintaining such a helpful package. Rest is there any option by which we can restrict a user for a Date change only from a calendar but not from the textbox.

If yes will be good if you may clarify it in the docs(props).

Thanks a lot again.
Rahul Garg

[2018-07-11 07:24] stileszhong opened #79 "IE browser display issue"
hi, @wojtekmaj, does react-date-picker support IE browser?
my IE version is 11.0.9600, and when i use props **locale="zh-cn"** , in chrome is work well,
in IE, only 2018 display, month and day is not display.
can you have a look about this?
thanks.
![bug](https://user-images.githubusercontent.com/41105811/42556535-7cfd3d42-851e-11e8-9526-0e85973b52d6.png)

[2018-07-11 11:17] EcorrDev opened #80 "Component Not Exported Issue"
I have a react error when I try to use the DatePicker component :
![image](https://user-images.githubusercontent.com/16755777/42568142-680402de-850c-11e8-8649-abd72208dc75.png)

My package.json file :
![image](https://user-images.githubusercontent.com/16755777/42568183-8c3710e2-850c-11e8-98b6-3d1671112384.png)

My component using DatePicker :
![image](https://user-images.githubusercontent.com/1675

[2018-07-11 15:36] wojtekmaj commented on #79
Hey there,
React-Date-Picker relies on Intl.DateTimeFormat. Basically, it pushes the responsibility for figuring out the date format to the browser. That's the secret why it's so light and still supports more locales than any other :)

On legacy browsers like Internet Explorer, Intl polyfill may help as stated in README.

[2018-07-11 15:37] wojtekmaj commented on #79
By the way: it seems like you need a date range. Have a look at wojtekmaj/React-DateRange-Picker repository :)

[2018-07-11 15:38] wojtekmaj commented on #80
As stated in README, `import DatePicker from 'react-date-picker'`. It's a default export.

[2018-07-11 15:38] #80 closed, assigned to nobody

[2018-07-11 19:30] B-Reif opened #81 ""range" is an invalid prop for "returnValue""
Issue type: **bug**
The [documentation](https://github.com/wojtekmaj/react-date-picker#props) lists "range" as a possible value for `returnValue`, but it fails the propTypes check.

To reproduce:
Render a `Datepicker` element with `returnValue` set to "range".

Expected outcome:
Datepicker renders without errors and enables selection of a range of values to be returned.

Actual outcome:
When rende

[2018-07-15 13:57] wojtekmaj commented on #81
Hello,
thanks for pointing that out! Just fixed that. Will be a part of the next release, be it major or minor :)

[2018-07-15 13:57] #81 closed, assigned to wojtekmaj

[2018-07-16 14:55] j-5-s opened #82 "v6.11.0 removes input name"
after taking the last update the input name for the date is undefined.

[2018-07-16 17:44] wojtekmaj commented on #82
Fixed in 6.11.1. Added new unit tests to prevent this in the future. Thanks!

[2018-07-16 17:49] #82 closed, assigned to wojtekmaj

[2018-07-20 14:51] wojtekmaj commented on #46
Sure thing, you may have a go :)

[2018-07-20 14:54] wojtekmaj commented on #78
There's no such way programatically at the moment, but you can disable inputs by writing

[code]

[2018-07-23 01:34] allpwrfulroot commented on #68
Same. Using NextJS with next-css, and everything else has been working well. Commenting out both `require('./files.css');` lines in `node_modules/react-date-picker/dist/entry.js` lets the page build, and importing the DatePicker and Calendar.css files manually gives the desired date-picking result?

[2018-07-25 16:54] douglascantomelo opened #83 "Allow MMM & MMMM in format"
How set format date to "Jan 2018" for example?
[code]

[2018-07-26 08:43] kesha-antonov opened #84 "In Preact, I'm getting an error "Cannot read property 'appendChild' of null""
See ```container.appendChild(span);``` in ```utils.js```

![screen shot 2018-07-26 at 11 42 13](https://user-images.githubusercontent.com/11584712/43251626-169909ee-90c9-11e8-93dd-165ceffd1adf.png)

[2018-07-30 15:19] marcofugaro opened #85 "Didn't this library automatically displayed the calendar above if there was not room below?"
I remember that that was the default behaviour, and there was a prop to disable this.

However this is not the case now and the calendar pops up always below.
Is this intended or a bug? How can we re-enable this feature?

[2018-07-30 16:42] gengue opened #86 "accept placeholder text"
The UI of my website is based in placeholders instead labels but the date input puts automatically a localized placeholder with the date format like this `--/--/---`  which is great but it's not a suitable behavior for all cases. I would like to pass a `placeholder` prop to overwrite the default like a normal text input.

that's make sense for you?

Thanks in advance

[2018-07-30 18:12] marcofugaro commented on #85
Sorry, an issue with my custom css was causing this

[2018-07-30 18:12] #85 closed, assigned to nobody

[2018-08-05 12:56] dannyshaw commented on #56
package.json for `react-date-picker@6.7.0` has `"react-calendar": "^2.11.0"` (note the caret) There is no package-lock or yarn.lock.

A clean install (deleted node_modules) results in `react-calendar@2.16.1` to be installed and the call to `setLocale` fails as it does not exist.

I believe package.json should read:
[code]
Note the tilde

[2018-08-07 07:22] wojtekmaj commented on #56
You are right. This should be as you wrote. I'll try and make a fix for you guys, but I don't know how long it will take for me to find the time.

For now you can use [Yarn selective version resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) to make it work without any fix.

[2018-08-07 14:01] Anlh opened #87 "ERROR in ./node_modules/react-calendar/dist/Calendar.css"
Hello. I' m getting this error in the terminal when I'm trying to bundle my code. Does react-date-picker support css modules ? Because I'm not using the style-loader.

[2018-08-07 14:07] Anlh commented on #87
My bad. I resolved by adding to my webpack config file
`{
                test: /\.css$/,
                loader: ['style-loader', 'css-loader']
 }`

[2018-08-07 14:07] #87 closed, assigned to nobody

[2018-08-07 18:54] wojtekmaj commented on #84
Hello,
while Preact is not officially supported it would be nice if it was working with it.

Are you getting this consistently or in specific situation? In React, there's no possibility that a mounted component doesn't have parentElement, so this would never happen, I suppose.

This is an interesting case that Preact creators may be interested in.

If you know Preact better than me, feel free to c

[2018-08-09 06:35] qens opened #88 "Bug in renderCalendar"
`    renderCalendar() {
           ........
          if (collisions.collidedBottom) {
            const overflowTopAfterChange = (
              collisions.overflowTop + ref.clientHeight + this.wrapper.clientHeight
            );
`
this.wrapper is not initialized yet, because renderCalendar invokes right inside render method...

[2018-08-09 09:16] wojtekmaj commented on #88
What is your issue? What are the steps to reproduce?

[2018-08-09 10:24] wojtekmaj commented on #86
Duplicate of #6

[2018-08-09 10:24] #86 closed, assigned to wojtekmaj

[2018-08-09 15:00] gengue commented on #86
@wojtekmaj this is not the same as #6 , actually it's a consequence of that thread. I want to display my placeholder (words) instead a date format placeholder.

e.g

[code]

![renderExample](https://user-images.githubusercontent.com/2824293/43907443-0c71c788-9bbb-11e8-899a-df8b6e5a9736.png)

[2018-08-13 06:33] vish2595 commented on #55
Hey @wojtekmaj I'm also seeing this problem with **v6.11** using React **v15.6.2**.

[2018-08-13 17:00] Anlh commented on #83
I would also like to know if it's possible to change the current output format

[2018-08-13 20:36] gengue commented on #6
But when the website UI is based in placeholders instead labels we need a way to display a normal placeholder like this:

[code]

![image](https://user-images.githubusercontent.com/2824293/44056642-709ff134-9f0e-11e8-935b-4272d9ea5c89.png)

that's make sense for you?

[2018-08-14 06:59] wojtekmaj commented on #86
Ooh! Sorry and thanks for clarification.

I don't think that could be easily done though. The reason is that date picker actually consists of several inputs, one for each number, separated by - or /.

The only thing that comes up to my mind is to make absolutely placed pseudoelement with `pointer-events: none;`and remove it on focus. This however has some disadvantages too: you never know if the u

[2018-08-14 07:01] wojtekmaj commented on #6
I've replied in your issue, but I'd like to stress, that using placeholders instead of labels, if not done extremely well, may cause accessibility issues.

[2018-08-15 06:16] duncanmwirigi opened #90 "Setting a different date format"
How can one implement different date format

[2018-08-15 06:29] duncanmwirigi commented on #40
I need date format YYYY-MM-DD, i have tried all ways of manipulating this date picker, but now working @wojtekmaj i need your help

[2018-08-16 11:05] wojtekmaj commented on #90
Hello,
React-Date-Picker takes a little different approach. This is because React-Date-Picker is so much more than just the format. For instance, calendar will also adapt and show Saturday, Sunday or Monday first, different workdays, etc.

For instance, if you would like to have DD.MM.YYYY, you'll get it if you choose a `locale` of a country that usually formats the date this way, so for example `

[2018-08-20 12:40] wojtekmaj commented on #40
@Gtosta96 No, date values are numeric only.

@Jucan You could use `order` CSS to reorder elements in flex wrapper, but that's generally not a good idea. What you want, for now it's not possible. :(

[2018-08-21 12:13] amaury1093 opened #91 "Create a portal to render the calendar"
Right now, when I click on the input, the calendar's HTML is rendered next to the input element.

It would be good render it inside a Portal (https://reactjs.org/docs/portals.html), so that it doesn't interfere with the styling of the input element's container.

[2018-08-23 12:13] wojtekmaj commented on #91
This makes positioning very tricky. I personally had tons of issues with such solutions in popups and other non-body containers.

Additionally, in case someone would use React-Calendar independently, this could create styling problems for them.

I'd need to give it a thought!

[2018-08-27 08:25] Randore commented on #90
I have set it to locale="en-US" but my date is formatted as 2018-08-27T18:30:00.000Z
How to format it so that it save and edit form as MM/DD/YYYY

[2018-08-27 08:38] wojtekmaj commented on #90
@Randore You should pass an instance of `Date()` to `value` prop, so `value={new Date('2018-08-27T18:30:00.000Z')}` should work for you.

[2018-08-27 09:47] Randore commented on #90
Sorry but I would like to know how to use this with formik.
1. I have created a `<DatePicker value={this.props.value}  />` component which I am importing into formik and passing values using.
`<FormControl values={values.price} onChange={setFieldValue}  />`

There is some more code which I can't post here.

I think the problem is saving in string date format and need to convert string into object

[2018-08-27 09:51] wojtekmaj commented on #90
This seems like a separate issue so please don't post here as it notifies all the people who are interested in date formatting from the first post. If anything, please raise another issue.

Regarding Formik, I haven't used this package, so you could probably ask for their support as well.

[2018-08-27 11:37] wojtekmaj commented on #83
No, you can't do that at the moment. This is because currently all the fields are numeric and although it would be easy to implement _displaying_ the date in "Jan 2018" format, saving it back to an actual `Date()` would be highly problematic. I explained a little more about `locale` approach in #90. I'd need to implement it in a form of a dropdown, but this way the date will not be easily written

[2018-09-03 13:37] jessenahan opened #92 "Date displayed in input field not updating after selecting new date"
The date displayed in the input field named "date" is not updating after selecting a new date on the calendar dropdown. The value returned, however, correctly matches the new selected date. I have a simple onChange function that displays the value in the console.log.

I have tested this on Chrome and Firefox.

To try and isolate the issue, in my app I removed all the props except for onChange and

[2018-09-03 13:50] jessenahan commented on #92
I just saw a logic error in my code. I was not updating the state correctly. **My error.** It is correctly updating the display now.

[2018-09-05 10:32] #92 closed, assigned to nobody

[2018-09-06 09:13] muhabalwan opened #93 "Typescript error when using react-date-picker basic basic usage example."
I am using react-day-picker in the application,
(The application is a bit big so we are using yarn package manager here to split up the project into services)
After installing react-day-picker I had the following error messages:

[code]

**Packages version:**
[code]
**Code example used:**

[code]

I am not sure whether to report this here on in react-calendar, please advise.

[2018-09-07 14:54] wojtekmaj commented on #93
Looks like an issue with React-Calendar itself. Please kindly raise an issue there!

[2018-09-08 07:40] BaherZ opened #94 "Styling of the datepicker is off"
The styling of the datepicker seems to be off, i've tried importing the css from the `dist` folder directly and it didn't work, any ideas? here's how it looks like: https://ibb.co/gEPdep

[2018-09-09 05:43] adityapsvs commented on #94
+1 Facing the same issue for date-picker and time-picker as well
https://ibb.co/hwmYx9

[2018-09-10 10:38] ParthPatwalaTA opened #95 "Auto close picker after selecting month or year?"
Is there any way to auto close picker after selecting year or month?  I am using 'decade' view and 'year' view to only select Year or Month from picker. And after selcting it picker should close as per my requirement.
Ex. Currenlty i am selecting an year and closing it manually. Then again if i want to change year then it is going into months sections of previosuly selected year. I want to prevent

[2018-09-10 13:44] wojtekmaj commented on #93
Looks like an issue with React-Calendar itself. Please kindly raise an issue there!

[2018-09-10 13:44] #93 closed, assigned to nobody

[2018-09-10 23:21] nalumachurakesh opened #96 "How to short the month/day name"
Hi,

I'm having a requirement where I need to show the month and day name in short format for example,
"January" as "Jan" and "Monday" as "Mon".

Could please someone help me.

Thanks in advance.

[2018-09-11 06:58] adityatandon007 commented on #11
@wojtekmaj I am having an issue where ` react-date-picker` isn't able to find `react-calendar`.
`  ERROR in ./node_modules/react-date-picker/dist/shared/locales.js
[0] Module not found: Error: Can't resolve 'react-calendar/dist/shared/locales' in '/home/modestreet/modestreet-repo/webUI/node_modules/react-date-picker/dist/shared'
[0]  @ ./node_modules/react-date-picker/dist/shared/locales.js 7:15-6

[2018-09-11 07:10] adityatandon007 opened #97 "Module not found"
Hi @wojtekmaj  I am having an issue with `react-date-picker` where it is unable to resolve the `react-calendar` module. I don't know why it is happening. This is the first time I am facing this kind of issue.
Here is the complete error report:
**React**: 15.6
**react-date-picker**: 6.7.0
**Error reported by webpack**:
` ERROR in ./node_modules/react-date-picker/dist/shared/locales.js
[0] Module no

[2018-09-11 07:30] wojtekmaj commented on #97
Hey there,
users stuck on older versions of React are using React-Date-Picker version which are also not supported well.

My official workaround would be to use [Yarn selective dependency resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) to force React-Calendar to be a fixed version of `2.11.0`.

[2018-09-11 07:31] adityatandon007 commented on #97
@wojtekmaj On further debugging I found that `react-date-picker` has a dev dependency on `react-calendar` but I don't know why it is not making its `node_modules` folder for that dependency and since my webpack might be configured to resolve dependency in that particular manner it is not able to find that

[2018-09-11 07:35] adityatandon007 commented on #97
@wojtekmaj I don't want to annoy you but I don't want to install yarn for fixing this dependency resolution. Is there another work around :slightly_smiling_face:

[2018-09-11 07:41] wojtekmaj commented on #97
You could add `"react-calendar": "2.11.0"` (mind the lack of `^`) to your `package.json` and hopefully npm will dedupe it and won't install two versions of react-calendar.

[2018-09-11 07:42] wojtekmaj commented on #96
Hello,
non-numeric input is not currently supported. I will keep it in mind though. Sorry about that!

[2018-09-11 07:46] wojtekmaj commented on #95
You could use `maxDetail="year"` to keep the user from entering the month view. This way you will only select a month, not a specific day in it.

[2018-09-11 07:49] adityatandon007 commented on #97
@wojtekmaj thanks mate! :smile: You saved me a lot of time. Although I have some other calendar errors that might be because of invalid props I might be passing, but webpack has complied successfully. :+1:

[2018-09-11 07:49] adityatandon007 commented on #97
Feel free to close this.

[2018-09-11 07:52] #97 closed, assigned to wojtekmaj

[2018-09-11 07:52] adityatandon007 commented on #97
@wojtekmaj one more thing can you improve your library documentation a bit. Can you just add some more sample examples, that would help me a lot and I have starred your repos. too.

[2018-09-11 08:21] wojtekmaj commented on #97
That's a great idea :) I'll add something like "Recipes" soon. :)

[2018-09-11 08:37] ParthPatwalaTA commented on #95
Thanks. I found this property in documentation after your comment. I think sometimes it is difficult to understand explanation as per requirement even if what we are looking for is right there.

[2018-09-11 08:37] #95 closed, assigned to wojtekmaj

[2018-09-11 10:09] adityatandon007 opened #98 "Add a prop to hide the clear icon"
Hi @wojtekmaj . Can I remove that clear icon that is present by default in datepicker. I don't want to show that ` x` icon in my case. Is there any prop to disable that icon. It would be super helpful.
Here is a screenshot:
![screenshot from 2018-09-11 15-39-39](https://user-images.githubusercontent.com/25108385/45353711-36fed080-b5d9-11e8-9347-83843b745891.png)

[2018-09-11 10:28] adityatandon007 commented on #98
Sorryy for troubling you. I just turned the display to none in css. Let me know if there is a prop available to disable it. Would be nice to check that too. Feel free to comment and close this if it is something that might be availalbe in future release.

[2018-09-11 14:10] AnveshR7 opened #99 "Invalid date format for zh-CN locale in IE"
for the Translations in **IE** for Chinese, the input is showing only the year.

![chinese](https://user-images.githubusercontent.com/43156710/45365562-c3de6580-b5aa-11e8-91d5-d8cfdbb01546.JPG)

[2018-09-11 14:13] AnveshR7 opened #100 "Limit the number of characters in date input"
Can we limit the characters in the input for day/month/year.
for example for day and month we cannot type more than 2 characters( also for the year )

[2018-09-11 16:47] #99 closed, assigned to wojtekmaj

[2018-09-11 16:48] wojtekmaj commented on #99
This has to do with `new Intl.DateTimeFormat('zh-CN', { day: 'numeric', month: 'numeric', year: 'numeric' }).format(new Date())` returning `"‎2018‎年‎9‎月‎11‎日"` and not `"2018/9/11"` like other browsers.

Fixing this in the next release.

[2018-09-11 17:14] AnveshR7 commented on #99
Thanks @wojtekmaj

[2018-09-11 18:38] wojtekmaj commented on #99
Fixed in 6.12.1

[2018-09-11 18:55] BaherZ commented on #94
@adityapsvs incase you're still facing this and need a datepicker, i ended up switching to this datepicker : https://github.com/secretyouth/react-datez

[2018-09-11 19:44] AnveshR7 commented on #99
Thank You @wojtekmaj for quick fix

[2018-09-12 05:22] adityapsvs commented on #94
@BaherZ Oh, okay! I have been using react-datepicker. The one that you've mentioned
seems to be having a neat UI. Thank you, I appreciate it!

[2018-09-12 12:44] ParthPatwalaTA opened #101 "Design issue while adding `showLeadingZeros = {true} `."
```showLeadingZeros = {true}``` property addes 0 outside of input type. This causes design issues.
[code]

[2018-09-13 07:07] wojtekmaj commented on #101
Yep, it's kind of hacky. There's no way to display leading zeros in number inputs though, so they are only "decorative".
Is there a specific issue I could help you with?

[2018-09-13 07:14] ParthPatwalaTA commented on #101
So in my code, it is causing a design issue. Date is displaying kind of like  'o1 -o9 - 2019'. Generating extra space and all. Because if we apply design to the input field then it won't affect to '0'. So it's font-size, color and spacing will not change.
How is it working in [this](http://projects.wojtekmaj.pl/react-date-picker/) demo? Additional 0 is properly set and there is no spacing issue an

[2018-09-13 07:18] ParthPatwalaTA commented on #101
Also can you put 'react-date-picker__button__input__day', 'react-date-picker__button__input__month' and 'react-date-picker__button__input__year' in their seperate div and add 0 to their respective div? This way we can apply width and design for particular div elements.

[2018-09-14 07:25] wojtekmaj commented on #94
Hi there,
it looks like the default styling is in conflict with your custom styling. You can try and fix it on your own, but to really fix it I'd need to have a look at your implementation, styles especially. If you could share me privately some minimal repro or your complied CSS file at the very least, that would be very helpful.

React-Date-Picker uses several number inputs to enable advanced va

[2018-09-14 07:26] wojtekmaj commented on #98
While your solution is perfectly okay, I agree there should be a way to disable it just like you can with other icons. I'll do that!

[2018-09-15 09:58] wojtekmaj commented on #98
Just checked - setting `clearIcon={null}` will remove the icon completely. Documentation will be updated to make it clearer.

[2018-09-15 09:59] #98 closed, assigned to wojtekmaj

[2018-09-19 05:40] dannyshaw commented on #56
Just noting that this also doesn't work with `react-calendar@2.11.2`, the onChange handler never calls, so I've removed the tilde in my resolution and just pinning `2.11.0`.

perhaps there was a bug at this version
https://github.com/wojtekmaj/react-calendar/compare/v2.11.0...v2.11.2

[2018-09-19 16:37] wojtekmaj commented on #56
I reviewed the code and it doesn't look like it could break anything that is a browser environment. Happy to hear that my initial solution in one of the first comments worked for you!

[2018-09-20 15:02] allys00 opened #103 "Input Validation"
How i get if the date-picker is valid ?

[2018-09-25 15:15] nemexyz commented on #68
+1

[2018-10-01 17:44] bdpaulo opened #105 "Highlight a date"
Sorry about my english..
I'm using the component on a bus tickets e-commerce and i need to highlight a previous selected date, how to do?

[2018-10-02 07:17] wojtekmaj commented on #105
Hi there,
React-Date-Picker uses [React-Calendar](/wojtekmaj/react-calendar) under the hood for displaying the calendar. You can look at the docs there and I think `tileClassName` will be something for you.

[2018-10-02 10:11] pjsvis commented on #101
I have a similar issue. When I use showLeadingZeroes={true} I do not see the leading zeroes. See CodeSandbox example here https://codesandbox.io/s/oqlo635xq6

[2018-10-04 11:23] wojtekmaj commented on #68
If you really don't want to setup your bundler to understand CSS files, then you need to import `react-date-picker/dist/entry.nostyle` instead, but mind you, you'll have to import this CSS anyway somehow to make the picker look right.

[2018-10-09 11:32] ParthPatwalaTA commented on #101
Updated issue for showLeadingZeroes. #107 #108

[2018-10-10 15:25] azaitw commented on #94
I think webpack css-loader is the cause. css-loader's localIdentName option renames classnames, but react-date-picker's classnames do not change accordingly. To solve this, either setting css-loader's localIdentName: '[local]', or setting modules: false. If you want to keep the original localIdentName settings for other css files, you can create a separate rule in webpack only for this component.

[2018-10-10 15:30] azaitw commented on #94
By the way, according to bundlephobia.com, react-datez weights 72kb gzipped, react-datepicker is 20.4kb (which requires moment.js, 64.2kb). and react-date-picker is merely 1.1kb. react-date-picker is the best among them if performance is a concern.

[2018-10-11 07:32] wojtekmaj commented on #101
@pjsvis
1. You're using react-date-picker version so old it didn't have `showLeadingZeros` flag
2. You have a typo in flag name

By the way, there's [React-DateRange-Picker](/wojtekmaj/react-daterange-picker) too!

[2018-10-11 07:35] wojtekmaj commented on #101
Fixed in 209321477b8c15274df9e4021ff33bfee5bc06b5 by wrapping zero in a separate span element.

[2018-10-11 07:35] #101 closed, assigned to wojtekmaj

[2018-10-11 07:35] wojtekmaj commented on #105
I'm closing this issue to give other issues more visibility. If you still need assistance with this matter, please do not hesitate to reply and I'll reopen.

Happy coding!

[2018-10-11 07:35] #105 closed, assigned to wojtekmaj

[2018-10-11 07:48] ParthPatwalaTA commented on #101
Check this out. https://github.com/wojtekmaj/react-date-picker/pull/108#issuecomment-428855123

[2018-10-12 13:12] 3mp3ri0r commented on #47
I actually need this feature right now

[2018-10-15 13:06] ur92 commented on #91
Had a similar problem here.

I try to use the datePicker inside overflow:hidden container so when I open the calendar popup, obviously, the popup is partially hidden and doesn't shown as expected.
With portal, or even a lighter option - to able to render the calendar popup under body container, will  be really helpful.

Thanks!

[2018-10-16 12:22] wojtekmaj commented on #91
You could use `position: fixed` to let the calendar render regardless of `overflow: hidden` but I don't know if that will be sufficient for your app.

[2018-10-17 08:04] Mulli opened #109 "Setting a different date format"
**How do I change the dot in the date to slash ??** from dd.mm.yyyy to dd/mm/yyyy
I am using
[code]
Locale works nice! (almost... ) 2 issues:
a. I got the date as yyyy.mm.dd And forced css ltr direction to get: dd.mm.yyyy
b. Locale setting changed the dot to slash - is there an elegant way to get it back???
Thanks!

[2018-10-17 09:20] wojtekmaj commented on #109
For issues on formatting, see #40 and #90.

Sadly, there's no way to customize the formatting, it is based your browser implementation of `Intl.DateTimeFormat`.

You can hack it a little with CSS though to get the dot back despite a locale that specifies slash:

[code]

Mind you it's using class names in the newest version of React-Date-Picker. Dividers will have different class names in older ver

[2018-10-17 09:38] mechatroNick commented on #6
Thank you, I learned a new trick today!

[2018-10-17 17:24] Mulli commented on #109
Thanks for the quick reply.
I ended up manipulating it myself.

[2018-10-24 11:42] wojtekmaj commented on #103
Use native [Form data validation](https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Form_validation).

[2018-10-24 13:36] mariusrak opened #110 "Calendar opens above input within absolute positioned element"
I use the datepicker component inside few absolutelly positioned elements and it opens above the input. It gets the `react-date-picker__calendar--above-label` class. When no parent has set position absolute, it works correctly, but when at least one parent, wherever in path has absolute position it goes above. Is it bug or shoudl/can I control it somehow?
Thanks.

[2018-10-24 18:13] jmsgrima-gig opened #111 "Altering minDate/maxDate does not update Navigation bar in Calendar"
I am using two Datepickers as a **from** and **to** range, user is allowed to select a range of a maximum of 60 days. Therefore, if user selects 01/08/2018 as the **from** date, the **to** date will have a **minDate** of 01/08/2018 and the **maxDate** will be set to 30/09/2018.

The **to** date has `minDate` set to the **from** date in the `render` function.

`componentDidUpdate` also checks wheth

[2018-10-25 11:29] jmsgrima-gig commented on #111
Small update :)

I'm noticing that the previous month button remains disabled until navigating months in the **to** calendar.

**For example:**

1. Change **from** date to 01/08/2018
2. Change **to** date to 10/08/2018
3. Update **from** date to 14/07/2018
4. Previous button is disabled in the **to** calendar
5. Navigating to September and back to August should enable previous button to July

[2018-10-26 07:17] Raknison123 commented on #100
I would also appreciate that feature. However, in a first step the year could be limited to 4 characters if that's easier to implement.

[2018-10-26 13:08] jmsgrima-gig commented on #111
So I went through the code a bit and noticed that `shouldComponentUpdate` in the Navigation component checks if `activeStartDate`, `locale` and `view` have updated, not `minDate` or `maxDate`.

I solved it by updating the `locale` onChange of the date picker, it's obviously a bit of a hack but it works.

[2018-10-27 19:05] wojtekmaj commented on #111
Oh! Thank you for the report. I will track this under an issue mentioned above in React-Calendar package which React-Date-Picker uses. :) If you'd like to follow the progress on this, please see this issue.

[2018-10-27 19:05] #111 closed, assigned to wojtekmaj

[2018-10-27 19:53] wojtekmaj commented on #111
React-Calendar v2.17.5 is out. You can update it manually in your repository, and it will also be included in the next React-Date-Picker release. Thank you for the report once again!

[2018-10-28 11:20] #109 closed, assigned to wojtekmaj

[2018-10-29 08:57] pranavkaushik9 commented on #55
Hey @wojtekmaj. Same issue with version 7.0.0 and react 15.6.2.

[2018-10-29 10:42] wojtekmaj commented on #55
React 15.x won't be supported by React-Date-Picker 7.0.0, see README.

[2018-10-29 15:22] pranavkaushik9 commented on #55
@wojtekmaj Thanks for reply. I verified this with v6.11 and React 15.6.2 too and ended up with same issue.

[2018-10-30 06:48] quochuy1602 commented on #55
i have issues . please help me

[2018-10-30 07:00] mrjosshi opened #112 "Uncaught TypeError: Cannot read property 'clientHeight' of undefined"
its showing issue client height of undefinded while rendering the date picker
DatePicker.js?f017:213 Uncaught TypeError: Cannot read property 'clientHeight' of undefined
    at ref (DatePicker.js?f017:213)
    at commitAttachRef (react-dom.development.js:14343)
    at commitAllLifeCycles (react-dom.development.js:15347)
    at HTMLUnknownElement.callCallback (react-dom.development.js:100)
    at O

[2018-10-30 07:41] wojtekmaj commented on #112
Does it happen in some certain situation? What versions of React and React-Date-Picker are you using?

[2018-10-30 09:19] yyynnn opened #113 "Custom prev/next arrows in the Calendar"
Provide the ability to inject custom arrow icons (as svg, text, etc.)

[2018-10-30 18:29] wojtekmaj commented on #113
Arrows for Calendar? Check [React-Calendar](/wojtekmaj/react-calendar) docs on how to do it, you can pass every prop to DatePicker and it will be passed to the Calendar.

[2018-10-31 16:16] shivavelingker commented on #45
I am still able to change the date in Chrome if `disabled={true}`

[2018-11-01 16:38] yyynnn commented on #113
Cool, thanks! Didn't notice that in the readme

[2018-11-01 16:39] #113 closed, assigned to wojtekmaj

[2018-11-02 12:21] uzairjan commented on #110
same problem.

[2018-11-02 12:52] baleeds opened #114 "Clicking on "input group", but not in an input, does nothing."
It seems to me that the UX would greatly improved if there were some reaction when clicking in the styled 'input' area, marked by the class "react-date-picker__button__input".  This is very evident when inputs are taking the whole width:

![image](https://user-images.githubusercontent.com/9682964/47916432-99a77680-de7c-11e8-92c8-60d8c8cc067e.png)

My expectation is that clicking in that area would

[2018-11-02 16:19] marcoancona commented on #100
I am also very interested in this. I think the UX would improve a lot preventing surely-invalid strings to be entered. My proposal: https://github.com/wojtekmaj/react-date-picker/pull/115

[2018-11-08 10:56] yyynnn commented on #64
so will you add events? this is crucial

[2018-11-08 12:31] nikolai-tenev opened #120 "Clicking on a date separator doesn't open the calendar."
First of all - great component!

When I click on the date separators nothing happens. I think the expected behavior is for the calendar to appear. Not sure though, maybe this was intended?

[2018-11-12 10:49] wojtekmaj commented on #45
@shivavelingker Which version are you on? I retested the whole suite and can't reproduce.

[2018-11-12 11:09] nkurapati commented on #114
Small work around

`
.react-date-picker__inputGroup__year {
        flex-grow: 1;
      }
}
`

[2018-11-12 11:24] wojtekmaj commented on #114
Yeah that seems like a neat idea. It's what native input does by default when expanded beyond what's necessary, and React-Date-Picker's aim is to behave as closely to a native input as possible. This will be out with the next release of React-Date-Picker, React-DateTime-Picker, React-Time-Picker and their range versions, too.

[2018-11-12 11:26] #114 closed, assigned to wojtekmaj

[2018-11-12 11:35] wojtekmaj commented on #120
You sure this is the right repo? ;) Perhaps you meant React-Date-Picker? I can transfer the issue there for you.

[2018-11-12 11:36] wojtekmaj commented on #120
Also, kinda connected to wojtekmaj/react-date-picker#114

[2018-11-12 11:38] wojtekmaj commented on #64
Starting with v6.13.0, you are able to do this.

[2018-11-12 11:38] #64 closed, assigned to wojtekmaj

[2018-11-12 13:00] nikolai-tenev commented on #120
Well for any of the pickers really, not sure where it should go, so do as you think is best.
As for the related issue - I don't see the class, that's mentioned there, anywhere, but you are right that it sounds like the same thing.

[2018-11-12 13:25] baleeds commented on #114
Looking forward to it!  Thanks for all your work!

[2018-11-12 21:05] ChromeHearts opened #117 "How to set Sunday as the first column in the calendar?"
Somehow my calendar is showing monday as the first column and sunday as the last column.  How can I have Sunday as the first column in a more conventional way?  Thanks!

My calendar
![screen shot 2018-11-12 at 4 00 44 pm](https://user-images.githubusercontent.com/5397127/48375058-aa35c900-e694-11e8-9b46-4550a2b458b8.png)

[2018-11-13 12:09] wojtekmaj commented on #117
Calendar layout relies on locale settings. You should use `locale` that uses a calendar which starts on Sunday, for example `en-US`.

[2018-11-13 12:09] #117 closed, assigned to wojtekmaj

[2018-11-13 16:26] Mauro74 commented on #6
I had the same problem so I've adopted your solution, but how do you test this in Jest?
Thank you

[2018-11-14 05:07] asvetliakov commented on #91
Hacky workaround:

[code]

```Popover``` (or whatever) is custom component which renders child through portal (```this.props.name``` used as id to obtain element dimensions). Hope you won't rename ```renderCalendar``` or ```isOpen``` state prop at some time 😄

[2018-11-14 14:11] ChromeHearts commented on #117
Thank you very much!  It worked like a charm!

[2018-11-14 18:10] shivavelingker commented on #45
@wojtekmaj This was a dumb mistake. I wrote a wrapper component for the date-picker, and forgot to pass the `disabled` prop properly, so it wasn't disabling. My mistake

[2018-11-19 08:53] andy14312 commented on #68
Hi,
I'm also facing the same issue. what's the solution?. My webpack config has the rules to load css files. Still facing the issue

[2018-11-19 14:06] wojtekmaj commented on #68
@andy14312 , if your Webpack config properly matches CSS files this shouldn't be the case. Would you share your configuration?

[2018-11-19 16:59] andy14312 commented on #68
here's the config

[code]

[2018-11-23 15:30] aghoneim92 opened #118 "TypeError: cannot read property '0' of null with Arabic numbers"
When setting the locale to 'ar-EG', the placeholder property of the DateInput class uses arabic numerals. This causes this logic to fail: `this.formatDate(date, locale).replace('2017', 'year').replace('12', 'month').replace('11', 'day')` because the numbers do not match, so they don't get replaced.
Consequently, the `renderCustomInputs` function fails on matching the placeholder pattern (which it

[2018-11-23 19:36] wojtekmaj commented on #118
Oh boy! I've never thought being a maintainer of React-Date-Picker would be such an adventure with so many different cultures :D Is it even possible to do a number input that uses Arabic numbers?

I'd love to see a PR fixing this, and you have all the help I can offer!

[2018-11-23 19:43] wojtekmaj commented on #34
Published under `@wojtekmaj/react-daterange-picker`, so closing.

[2018-11-23 19:43] #34 closed, assigned to wojtekmaj

[2018-11-23 19:45] #56 closed, assigned to wojtekmaj

[2018-11-23 19:49] #63 closed, assigned to wojtekmaj

[2018-11-23 19:49] #78 closed, assigned to wojtekmaj

[2018-11-23 19:49] #88 closed, assigned to wojtekmaj

[2018-11-24 09:08] aghoneim92 commented on #118
@wojtekmaj I'm using your component in coding a computer system for a rehab center I'm currently 'serving time' in :D so yes your efforts have led to the weirdest kinds of use cases I would say!

My problem is with matching any kind of digit in any language, I'm sure Japanese and other languages might have different symbols for numbers as well.

Using the regex `/\d/` is only matching english nume

[2018-11-24 09:34] aghoneim92 commented on #118
I figured out a hack around this by using Number.prototype.toLocaleString() and passing the same locale used in the date!

[2018-11-25 12:05] Peterabsolon commented on #109
How can such a basic feature be missing from a datepicker is beyond me.

[2018-11-28 12:21] #84 closed, assigned to nobody

[2018-11-28 12:22] kesha-antonov commented on #84
I suppose I should have had to include your script in the end of body

[2018-12-04 10:34] wojtekmaj commented on #120
Fixed via a244d4d4219a33384dbab1f37043f664eb8e3038 in this repo and via others in others 😄

[2018-12-04 10:34] #120 closed, assigned to wojtekmaj

[2018-12-04 10:38] wojtekmaj commented on #120
Duplicate of #114

[2018-12-04 19:36] venkat27raman commented on #55
react@^15.6.2 which version react-date-picker will support

[2018-12-05 11:01] Arseniy-II opened #121 "Custom input formating"
Hi @wojtekmaj !
Really nice and lightweight date-picker. I love it! But it would be really nice to have an option to format input value differently.
![screen shot 2018-12-05 at 12 53 48](https://user-images.githubusercontent.com/22207770/49509143-2fc02980-f88d-11e8-8ced-7e98303a5b8b.png)
So I could have something like: `May 12 2018` instead of `12/05/2018`.
Hope it is possible :)

[2018-12-06 12:33] wojtekmaj commented on #121
Duplicate of #40

[2018-12-06 12:33] #121 closed, assigned to wojtekmaj

[2018-12-06 14:09] juodikis opened #122 "An invalid form control is not focusable"
When you make a date-picker a required and try to submit form, Chrome puts an error
`An invalid form control with name='date' is not focusable.`

This happens because `NativeInput`is first and it's visibility is hidden.

Possible solution could be either remove `required` attribute from `NativeInput` or move it after `CustomInputs`.

First option is self explanatory. Second solution would focus da

[2018-12-06 16:36] emibcn opened #123 "onBlur is not triggered after selecting month"
Navigating up to months or year selection, and then clicking outside the calendar **does** fires the `onBlur` event. But navigating to century selection or down to the rest of selectors (including day), clicking outside the calendar **does not** fires the `onBlur` event.

Note the difference between _navigating up_ (after clicking title) and _navigating down_ (after selecting an element).

[2018-12-08 16:41] #118 closed, assigned to nobody

[2018-12-09 09:53] wojtekmaj commented on #118
@aghoneim92 Kindly check if `master` behaves well for you :)

BTW, `toLocaleString()` was not a hack, it was a very well done solution!

Now I'm struggling to figure out if there is a way to have non-latin numbers in input fields, since your fix "only" causes the inputs to appear, but they are still not properly formatter numbers 🤔

[2018-12-09 11:00] wojtekmaj commented on #123
The reason why onBlur is not fired is that you click on a button that navigates up, and your focus stays on this button. Once you go up to century view, this button is disabled and as such `onBlur` will not fire.

[2018-12-11 11:05] dorsharon commented on #121
can it be done?
is there any way to manipulate the date to display like '26-Dec-2018'?

[2018-12-16 13:55] emibcn commented on #123
Ah, thanks for the help. I thought the component would behave as a black box:
- Triggering `onFocus` when any of its elements triggers `onFocus` and it comes from outside the component
- Triggering `onBlur` when some of its elements triggers `onBlur` and it goes outside the component

Wouldn't it be a more intuitive approach?

[2018-12-16 14:14] emibcn opened #124 "Calendar overflows on small devices"
I Just wanted to share some code useful for me when calendar opens on small devices, as it easily overflows the screen. I've managed to fix it adding some CSS with a simple media query, making the calendar `position: fixed` and centered horizontally & vertically on small devices:
[code]

[2018-12-18 06:58] IAmAshishNegi commented on #62
Is it implemented?

[2018-12-18 20:44] wojtekmaj commented on #112
After analysis I think that this has been fixed in the newest version, please confirm. If not, I'll reopen.

[2018-12-18 20:44] #112 closed, assigned to wojtekmaj

[2018-12-22 11:34] emibcn opened #125 "Add accessibility attributes to form elements"
Form elements should add accessibility attributes to comply to WCAG standards. Specifically, `<input>` and `<button>` elements should have an `aria-label` attribute describing it's function. React implements accessibility attributes hyphen-cased instead of the usual camelCased https://reactjs.org/docs/accessibility.html

I think a good approach is to supply good enough defaults and allow to modify

[2018-12-22 12:52] wojtekmaj commented on #110
Hmmm, I tried to reproduce it in my test suite by applying `position: absolute` to a `<form>` which is React-Date-Picker's parent, and I had no luck reproducing this. Would you share your minimal reproduction with me?

[2018-12-24 10:07] wojtekmaj commented on #55
See README for details on compatibility. You might also need [@amanowar's solution](https://github.com/wojtekmaj/react-date-picker/issues/55#issuecomment-373887647) to get it working.

[2018-12-26 08:19] alokKumarSingh89 opened #127 "Formate"
Now able to change date format.
Like i want format in DD/MM/YYYY but you this taking MM/DD/YYYY.

Can you help me.

[2018-12-27 14:30] wojtekmaj commented on #127
Duplicate of #40. See also #90.

[2018-12-27 14:30] #127 closed, assigned to nobody

[2019-01-02 16:00] noashka commented on #112
Hello. It hasn't fixed.
Version 7.1.1
React version - 16.7.0
It causes when I set to .react-date-picker__calendar any positin except absolute.

[2019-01-03 08:24] noashka commented on #88
When we come inside collisions.collidedBottom condition, we have this.wrapper as undefined and have error Uncaught TypeError: Cannot read property 'clientHeight' of undefined

[2019-01-03 08:54] wojtekmaj commented on #88
Ok, so that's being handled in #112, so I'm gonna close this issue.

[2019-01-03 08:54] wojtekmaj commented on #88
Duplicate of #112

[2019-01-09 10:07] cragia opened #128 "Writing dates without jumping between date/month/year fields"
Hello!
I was asked if it's possible to be "faster" in writing a date.
Right now, if I want to use the keyboard to write the date, if I for example want to insert the date 12/03/2019, I need to type: 12 *tab* 03 *tab* 2019... but some users of some other environment are really use to do it faster, like writing 12032019. This because usually they have an automatic focus after 2 digits on the first i

[2019-01-09 11:15] wojtekmaj commented on #128
You can write 12/03/2019 (using the symbol that separates the date on the screen) to write the dates :) But I think this is a legitimate improvement, let's do this!

[2019-01-09 11:16] wojtekmaj commented on #100
Duplicate of #44

[2019-01-09 11:16] #100 closed, assigned to wojtekmaj

[2019-01-10 00:54] dozoisch opened #129 "Chrome shows autocomplete menu on the month/day/year input"
Chrome shows an autocomplete menu on the month/day/year input and I noticed that none of these input have autocomplete="off".

I can do a PR to add autocomplete="off" to DayInput/MonthInput/YearInput. What do you think?

![image](https://user-images.githubusercontent.com/4422516/50938885-2ea38e80-142f-11e9-9282-0cf37678ddf9.png)

Sorry if the image is cut early, I wanted to hide the data in the me

[2019-01-10 10:28] #129 closed, assigned to nobody

[2019-01-10 20:48] dozoisch commented on #129
@wojtekmaj thanks so much for the fast turnaround! Looking forward for the next publish

[2019-01-11 06:42] julie44 opened #130 "how to show year-view by default instead of date?"

[2019-01-12 01:28] dozoisch commented on #129
@wojtekmaj would it be possible to cut a version with this fix? That would be much appreciated thank you :)!

[2019-01-15 10:02] wojtekmaj commented on #123
I agree that it may be a simpler approach, but at the same time, it may be limiting. Any listeners you attach to React-Date-Picker are attached to its root element and behave very similar to the way they would behave if you wrapped React-Date-Picker in a `<div>` and attach all the listeners to it. The developers might want to have a listener that would react to blurring/focusing a specific element

[2019-01-15 10:02] #123 closed, assigned to nobody

[2019-01-17 05:37] SreekanthReddyKambam commented on #46
I have faced the same issue saying date.getMonth is not a function in the console when I click the calendar icon to change the date

            <DatePicker value={this.state.RevisionDate} required={true} onChange=this.handleRevisionDateChanged} />

              private handleRevisionDateChanged(value: Date): void {
                     return this.setState({
                    RevisionDate: val

[2019-01-18 11:13] wojtekmaj commented on #62
No, it's not, but #126 is going to make it a lot easier.

[2019-01-20 19:12] wojtekmaj commented on #129
Naaaah, a full release is better :D 7.2.0 is out, enjoy! :)

[2019-01-20 19:33] dozoisch commented on #129
@wojtekmaj thank you so much!  :)

[2019-01-21 14:11] AndreaBeggiato commented on #128
#131 implement this feature

[2019-01-21 14:59] wojtekmaj commented on #130
You could use `maxDetail="decade"`, but that will also limit the choice to years. There's no possibility to easily configure it other way.

[2019-01-22 07:11] julie44 commented on #130
Thanks for the reply,
Was able to achieve this by passing view = "decade" as a prop(as it is using "react-calendar" internally), this opens the year-view by default.

[2019-01-22 07:11] #130 closed, assigned to nobody

[2019-01-22 09:35] efendyklb opened #132 "change placement position of datepicker?"
Is there a way to change placement position of datepicker? when I focus on the input the calendar container always show at the top of the text input, i wanna fix the position always at bottom

[2019-01-23 17:33] kimjongjhun opened #133 "Choose first day of the week"
Currently, Monday is set as the first day of the week, and scanning through the props, it seems there isn't an option to change it to another day?

I'm hoping to be able to set Sunday as the first day of the week.

[2019-01-23 17:37] kimjongjhun commented on #133
I finished reading the readme.
You can pass the `calendarType` prop with type as `US` which will pass it along to React-Calendar and it will change the first day to Sunday

[2019-01-23 17:37] #133 closed, assigned to nobody

[2019-01-26 11:14] wojtekmaj commented on #46
@SreekanthReddyKambam And your RevisionDate has a value of...? If it's indeed a date, then there shouldn't be such a problem. Perhaps you could share the whole error stack?

[2019-01-28 13:27] Joesepherus commented on #132
Try adding
[code]
should work. But yeah would be nice if we had some prop to change the position.

[2019-01-28 14:06] wojtekmaj commented on #132
Duplicate of #62

[2019-01-28 14:06] #132 closed, assigned to nobody

[2019-02-02 13:43] #110 closed, assigned to wojtekmaj

[2019-02-02 13:43] #124 closed, assigned to nobody

[2019-02-04 11:33] mariusrak commented on #110
I've tested the fix, but it didn't help. I guess the problem is not necessary with the `position: absolute` but maybe with `top: 0;bottom: 0;`. Can you please upload your reproduction and I will modify it to match my set-up. Thanks.

[2019-02-04 11:42] wojtekmaj commented on #110
Did you? I didn't release the new version just yet.

[React-Fit](/wojtekmaj/react-fit) uses a function called [findScrollContainer](/wojtekmaj/react-fit/blob/master/src/Fit.jsx#L13-L28) to, well, find the nearest scroll container. It is this element we later detect collisions with, so it shouldn't have anything to do with `position: absolute`, actually.

Perhaps you could play with React-Fit to re

[2019-02-05 06:32] daedalus28 commented on #128
This will be a huge help to usability 👍

[2019-02-05 06:39] daedalus28 commented on #6
A simple solution could be to just take additional optional props to override the placeholders like we already have for `calendarIcon` and `clearIcon` - just add `dayPlaceholder`, `monthPlaceholder`, and `yearPlaceholder`. I'd probably also add one for `divider` as well.

[2019-02-06 09:36] Jerczu opened #134 "Testing using react-testing-library throws errors when component contains DatePicker"
I have a simple dropdown containing DatePicker as an option for custom date selection. I am trying to test that component with enzyme at first and recently switched to react-testing-library. As soon as I comment out the DatePicker I can test the component without issues but that's really beside the point as I want to test the behaviour. I end up receiving this:

Has anyone experienced this? Is the

[2019-02-06 09:42] Jerczu commented on #134
Apologies... just noticed apparently the application uses 2 date picker libraries for some unknown reason... I asked for help in the wrong place.

[2019-02-06 09:42] #134 closed, assigned to nobody

[2019-02-07 15:42] falconvk commented on #58
I have a similar issue. Another input controls the allowed range of datepicker, as well as the currently selected value.
Changing the other input so datepicker's range (and value) moves forward(into future) works as intended and everything is updated accordingly.
However, changing the other input so datepicker's range and value move backwards in time, the values are correctly updated but date pick

[2019-02-11 18:04] Alek-S commented on #68
Similar `Unexpected token . on ".react-calendar"` issue with next.js. It's set up to take CSS using `@zeit/next-css` which worked for Ant Design components. Used @allpwrfulroot steps noted earlier works as temporary workaround:

1. use no-style version:
`import DatePicker from 'react-date-picker/dist/entry.nostyle';`
2. In the component, manually import the css Styles:
`import '../../node_modules/

[2019-02-17 17:38] AnatolyZhuravlev opened #136 "Different languages in browsers"
When I open page in Google Chrome or Opera I see date-picker on my language with my country's date format: "dd.mm.yyyy"
![2019-02-17 22-33-27](https://user-images.githubusercontent.com/31756328/52916695-8c67a800-3304-11e9-975c-a75f07f5db31.png)
But when I open page in Mozila Firefox I see English language and date format: "mm/dd/yyyy".
![2019-02-17 22-37-35](https://user-images.githubusercontent.c

[2019-02-17 17:57] wojtekmaj commented on #136
Hi,
I use [Get-User-Locale](/wojtekmaj/get-user-locale) to get user's preferred language in a form of an IETF language tag, based on all available sources.

Reasons for that could be:
1. Most likely - a preference in Firefox settings is set in a way to prefer English over Russian.
2. Less likely - bug in Get-User-Locale

Get-User-Locale is not a rocket science, so you can check what's going on in

[2019-02-18 06:30] prasher-ayce opened #137 "Calendar not opening when overflow: hidden"
When over flow is hidden for scroll bar calendar  not opening.
Any work around this issue?

[2019-02-18 16:38] radu1337 opened #139 "Automatically jump between date/month/year fields as you type"
Currently you can type an unlimited number of characters in any of the date sections (day, month, year), it would be nice if the cursor jumped to "month" after the user types in two numbers for the "day" field, and so on, pretty much like a standard input type date behaves.

[2019-02-24 12:42] wojtekmaj commented on #58
@rohitketkar87's issue doesn't seem to exist anymore, tested this on my testing suite and everything appears to be in order. Adjusting either minDate or maxDate and clearing it/setting to non-conflicting value would bring back the original value.

I'd appreciate a minimal reproduction repo, perhaps in something like Code Sandbox.

[2019-02-26 00:12] Luis-Palacios commented on #103
@wojtekmaj while your answer guides in the right direction it still lack a lot of implementation details.

I have a scenario where I'm validating max/min date and as long as the user selects the date using the UI the validation works correctly however if the user manually input an invalid date then the UI visually reflects an invalid date using a red background however on the internal component st

[2019-02-28 03:51] vanmanh49 opened #140 "Need onOpen function"
How to know when the Calendar isOpen or not!

[2019-03-03 14:57] wojtekmaj commented on #137
Hi!
Actually, when you were writing this, React-Date-Picker had a new calendar positioning system implemented, but not released just yet.
Please kindly try version 7.3.0 and tell me if that resolved your problem. If not, I'm going to need a minimal reproduction in CodeSandbox or something similar to help you out.

[2019-03-08 19:03] Lipfroy opened #147 "DD/MM/YYYY Placeholder instead of --/--/----"
I was requested to provide more clear representation of date formatting for punch in dates.
Could you please point to file where placeholder is set. Thanks

[2019-03-12 07:24] wojtekmaj commented on #147
But there's no placeholder in React-Calendar 🤔 Maybe you mean React-Date-Picker or something similar?

[2019-03-12 07:27] wojtekmaj commented on #139
Duplicate of #128

[2019-03-12 07:27] #139 closed, assigned to nobody

[2019-03-15 18:03] Lipfroy commented on #147
My apologies! I wasn't paying attention where I was posting. Could you please kindly move feature request to React-Date-Picker? And provide suggestions of course. Dziękuję bardzo!

[2019-03-23 07:03] wojtekmaj commented on #103
Interesting approach @Luis-Palacios!

One thing to mention is that React-Date-Picker has also a hidden date field, which is updated only with valid values. So if you're getting `change` event on one of the visible fields, but not on the hidden one, this also can mean the input is invalid or incomplete. This is because the native date field simply wouldn't accept such values as February 31st, but i

[2019-03-23 07:09] wojtekmaj commented on #140
Calendar opens when a field inside React-Date-Picker is focused, and closes whenever `mousedown` or `focusin` happens outside React-Date-Picker's container.

You can access React-Date-Picker's state, but I think it would make sense to add these callbacks :)

[2019-03-23 07:26] #140 closed, assigned to wojtekmaj

[2019-03-23 07:26] wojtekmaj commented on #140
`onCalendarOpen` and `onCalendarClose` will be added in the next release!

[2019-03-23 07:29] vanmanh49 commented on #140
Thank you. Hope these callbacks come soon! 🙂

[2019-03-23 07:34] wojtekmaj commented on #140
I'm digging myself out of notifications, so it will take a while to verify if there's nothing stopping me from releasing a new version (like a critical bug that has to be fixed in current version range), but other than that we're ready to release :)

Apologies for the wait.

[2019-03-28 19:39] wojtekmaj commented on #40
Good news! Support for custom format consisting of `y`, `M`, `MM`, `d`, and `dd` incoming 👀

[2019-03-29 11:45] #96 closed, assigned to wojtekmaj

[2019-03-31 10:14] #40 closed, assigned to wojtekmaj

[2019-03-31 18:55] wojtekmaj commented on #137
I'm closing this issue to give other issues more visibility. If you still need assistance with this matter, please do not hesitate to reply and I'll reopen.

Happy coding!

[2019-03-31 18:55] #137 closed, assigned to nobody

[2019-03-31 18:56] wojtekmaj commented on #40
Hi everyone,
React-Date-Picker 7.5.0 is out and supports `format` prop! Please refer to README for more details and list of supported tokens.

Happy coding!

[2019-03-31 18:57] wojtekmaj commented on #109
Hi everyone,
React-Date-Picker 7.5.0 is out and supports `format` prop! Please refer to README for more details and list of supported tokens.

Happy coding!

[2019-03-31 18:57] wojtekmaj commented on #121
Hi everyone,
React-Date-Picker 7.5.0 is out and supports `format` prop! Please refer to README for more details and list of supported tokens.

Happy coding!

[2019-03-31 18:58] wojtekmaj commented on #127
Hi everyone,
React-Date-Picker 7.5.0 is out and supports `format` prop! Please refer to README for more details and list of supported tokens.

Happy coding!

[2019-03-31 18:59] wojtekmaj commented on #136
Hi @AnatolyZhuravlev,
do you still need help with this issue?

[2019-04-01 03:59] AnatolyZhuravlev commented on #136
No, I don't. Thank you

[2019-04-01 07:35] #136 closed, assigned to nobody

[2019-04-02 15:20] nagy3n opened #144 "Write Custom words in the field"
this what happened when i tried to write week day name beside the date using format props
![image](https://user-images.githubusercontent.com/11620728/55414521-8ef82700-556b-11e9-8a17-59b233dc4785.png)

[2019-04-03 10:36] wojtekmaj commented on #144
Good. You're not supposed to do this.

T, e are not in ISO standard. u, s, a are tokens not supported by React-Date-Picker. `date-fns` would behave similarly:

[code]

[2019-04-03 10:36] #144 closed, assigned to nobody

[2019-04-03 12:23] nagy3n commented on #144
Dude how about adding a propriety to add whatever i want to the field without causing problems.

Thanks.

[2019-04-03 13:23] nagy3n opened #145 "Adding custom text to field"
Can you add a propriety to add whatever string i want to the field without causing problems aside of format.
Or give me push permission.
Thanks.

[2019-04-03 13:47] wojtekmaj commented on #145
Hi,
React-Date-Picker is open sourced, so if you need something unusual you can always fork it and add whatever you need :)
React-Date-Picker is trying to match native date pickers as closely as possibly, and as such custom content won't be supported on this, main, branch.

[2019-04-04 01:14] xlr8tn opened #146 "All <input> fields get 0px width after switching between tabs"
I currently have 2 date range pickers on a tab that have default values set.  If I switch to a second tab and then back to the first tab, my dates are all messed up.  I traced it down to the utils call that sets width mistakenly to 0px.  This causes my date to be displayed like 1/3/20 instead of 10/30/2018 because of the 0 width inputs.  Initially, these values are either 8px, 16px, or 32px depend

[2019-04-07 15:57] wojtekmaj commented on #147
Duplicate of #6

[2019-04-07 15:57] #147 closed, assigned to wojtekmaj

[2019-04-08 03:39] nguyenquyhy commented on #146
I have the same issue of all the width is set to 0 initially. The width changes back to correct value once I click on the picker.

[2019-04-14 18:20] MoAli2016 opened #149 "after npm link react-datepicker module not found"
while playing with react-datepicker, I created two folders, one is react-datepicker I did `sudo npm link`. On the prj folder, I did `npm link react-datepicker,` I can see the module installed in node_modules, but when I run prj I get
_ERROR in ./src/containers/Home/Search/DateTimePicker.js
Module not found: Error: Can't resolve 'react-datepicker' in '/Users/.../src/containers/Home/Search.js
I am r

[2019-04-15 08:24] wojtekmaj commented on #149
Sounds like NPM issue to me, consider https://npm.community/ to get help with NPM.

[2019-04-15 08:24] #149 closed, assigned to wojtekmaj

[2019-04-15 08:44] wojtekmaj commented on #146
Do you think you could provide a Code Sandbox for me to reproduce this?

[2019-04-15 17:12] MoAli2016 commented on #149
ok thanks I will

[2019-04-16 11:27] wwitekk opened #150 "Position issue when container position: sticky"
Hi,

I am using "react-date-picker": "7.5.0" with "react": "16.8.4",, insight a container that has position: sticky set in css. On mobile, when you scroll page to the bottom (more than the calendar popup height) it will display the calendar above the '.react-date-picker__wrapper' (instead of below) element and at the same time above currently visible area.

CSS for the container element is:
[code]

[2019-04-24 19:19] wojtekmaj commented on #149
BTW looking at this shouldn't it be `npm link react-date-picker`? Maybe you just mistyped the name?

[2019-05-03 11:26] #145 closed, assigned to nobody

[2019-05-03 13:01] #146 closed, assigned to wojtekmaj

[2019-05-03 13:03] wojtekmaj commented on #146
Fixed; now we're using canvas measureText technique to measure text length, which makes it immune to issues caused by invisible elements, and is much faster on Firefox.

Next release of React-Date-Picker will have the fix applied.

[2019-05-09 04:31] ipnuds commented on #68
I have same problem,
I'm use this boilerplate for ssr https://github.com/Brigad/ssr-starter-pack
when use entry.nostlye it's not work because its get styles from react semantic ui
could you show how to configure the webpack config, I don't understand webpack well. thanks

[2019-05-10 16:28] hjelmeir opened #152 "Error: Loading PostCSS Plugin failed: Cannot find module 'postcss-cssnext'"
I just added `react-date-picker` to my project and upon yarn start I get these errors that the css files cannot be loaded because it cannot find `postcss-cssnext`.

[code]

So I `yarn add postcss-cssnext` and get the following message:

`warning postcss-cssnext@3.1.0: 'postcss-cssnext' has been deprecated in favor of 'postcss-preset-env'. Read more at https://moox.io/blog/deprecating-cssnext/`

Th

[2019-05-12 20:33] fusengine opened #153 "TypeError: null is not an object (evaluating 'e.target')"
TypeError: null is not an object (evaluating 'e.target')

[code]

`<DatePicker
	name="from"
	value={from}
	onChange={(e) => onChange(e)}
	className="form-control"
/>
`

<img width="1084" alt="Capture d’écran 2019-05-12 à 22 32 38" src="https://user-images.githubusercontent.com/7295655/57587501-e2b04580-7505-11e9-9264-716b314b340d.png">

why this don't work??

[2019-05-14 01:22] AshvinkumarPatel opened #154 "Uncaught Invariant Violation: Input(...): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object."
I am using react: ^15.1.0
While using date picker it gives me above error.

Can anyone help me on that?

[2019-05-14 07:41] wojtekmaj commented on #154
Hey there,
as README states minimum version supported is 15.5, and this only for some of the older versions. The newest versions are compatible with React 16.0 and up. I'm sorry to say that there are no plans to support older versions (in fact, the opposite will happen and we'll probably require newer versions of React to take advantage of React Hooks and some other architectural improvements).

R

[2019-05-14 07:41] #154 closed, assigned to wojtekmaj

[2019-05-14 09:02] wojtekmaj commented on #153
As per documentation, onChange returns a value, not an event. The reason for this is that React-Date-Picker contains multiple form elements that work together to build one input, behaving as close to native date picker as possible.

So instead of:

[code]

consider:

[code]

[2019-05-14 09:02] #153 closed, assigned to wojtekmaj

[2019-05-14 11:10] thomaslc66 opened #155 "The calendar should be on top of other component"
When displaying the calendar to select the date, the calendar should be on top of other components, not behind.

Here i can only see the first row of the calendar

![image](https://user-images.githubusercontent.com/9827392/57693418-6e7eba80-7649-11e9-9659-cf9ab1a250a9.png)

Firefox: 66.0.5

[2019-05-15 15:59] EngiN33R opened #156 "Manually input zeroes are preserved even with showLeadingZeros set to true"
If showLeadingZeros is set to true and e.g. "05" is entered in the day or month field, the zero is preserved alongside the component's leading zero. I fixed this in a pull request I created last year for a previous version (#89), but sadly the PR went unnoticed.

[2019-05-20 04:48] Logic1-LM opened #157 "Convert date string to moment object"

[2019-05-20 09:51] wojtekmaj commented on #157
?

[2019-05-20 22:37] #157 closed, assigned to nobody

[2019-05-23 07:57] wojtekmaj opened #158 "Add `aria-label` to inputs"
Originally posted by @nickbristow in https://github.com/wojtekmaj/react-time-picker/issues/21#issue-445069045

[2019-05-23 07:57] wojtekmaj commented on #158
Will introduce:

* `yearAriaLabel`
* `monthAriaLabel`
* `dayAriaLabel`

[2019-05-24 23:12] indiecollin commented on #117
Is there anything else I need to do besides set the locale prop on the DatePicker component? Currently when I try to set it to "en_US" Monday is still the first column. I've been able to get the format of the date to change using different locales, but not the day columns.

[2019-05-25 08:14] wojtekmaj commented on #117
@indiecollin [IETF_language_tag](https://en.wikipedia.org/wiki/IETF_language_tag) is `xx-XX` not `xx_XX`.

[2019-05-30 06:56] ankit6373 opened #160 "Increase the size of date picker box"
I have implemented the date picker in my project but it is displaying too small. I have tried to give padding and width but its size is not increasing.
Please help me on how to increase the size of the date picker box

[2019-05-30 07:07] #160 closed, assigned to nobody

[2019-06-04 09:39] wojtekmaj commented on #155
Hi,
there's no way for me to include styles that works for everyone. Some people will like the calendar to be covered by something, others not. You will need to modify the CSS in order to achieve what you want.

[2019-06-04 09:39] #155 closed, assigned to wojtekmaj

[2019-06-04 22:39] ghost opened #161 "need help in finding error"
No idea what error .. New to React.js. Thank You

### Code

[code]

### In component /DatePicker/index.js

[code]
In App.js

[code]

[2019-06-04 22:44] ghost commented on #161
Error in ./src/FormPage.js
Module not found: ../DatePicker in /Users/

[2019-06-05 11:11] wojtekmaj commented on #161
Looks like the path to DatePicker you provided is not correct. Hard to tell since I don't know the all paths the files are in, but maybe you mean `'./DatePicker'` and not `'../DatePicker'`?

[2019-06-05 11:11] #161 closed, assigned to wojtekmaj

[2019-06-05 12:58] ghost commented on #161
In src/components/DatePicker/index.js

am trying to call that in src/formpage.js

[2019-06-05 13:06] wojtekmaj commented on #161
so your relative path is `./components/DatePicker` or `./components/DatePicker/index.js` then.

[2019-06-05 13:22] ghost commented on #161
![1](https://user-images.githubusercontent.com/31253949/58959574-5fd08280-8773-11e9-8b1b-17658171a36c.png)
![2](https://user-images.githubusercontent.com/31253949/58959579-64953680-8773-11e9-9c87-6bcec01da701.png)

[2019-06-05 13:23] ghost commented on #161
its like this now.. I can select date.. but nothing showing up

[2019-06-05 18:15] ghost opened #162 "The Calander not showing up anything when the date is clicked"
![1](https://user-images.githubusercontent.com/31253949/58979492-2f510e80-879c-11e9-8746-81ad62eab7fb.png)
![2](https://user-images.githubusercontent.com/31253949/58979493-2f510e80-879c-11e9-8e4c-424bc926ea49.png)

its not showing up anything

[2019-06-05 18:24] #162 closed, assigned to nobody

[2019-06-06 06:47] wojtekmaj commented on #161
Looks like the date never gets to your component, check if DatePicker class you've created gets updated date in state.

[2019-06-09 20:12] #128 closed, assigned to nobody

[2019-06-17 16:30] sanfer94 opened #167 "How to automatically focus input on mount?"
How do you automatically focus this component when the page loads? There doesn't seem to be any way according to the props the component displays

[2019-06-21 20:10] wojtekmaj commented on #158
Closed via 919a9a1ec957bf70f7dfe21b6e88831e732969a5

[2019-06-26 04:43] wojtekmaj commented on #152
Hi,
react-date-picker does not use postcss-next. It does, however, import CSS file by default, so your bundler is expected to handle it.

I don't know where you got this message from. Maybe there's something in your own config that triggers it?

[2019-06-26 07:33] hjelmeir commented on #152
ok, thanks for the response. We can close out as it's just a me issue (I will figure it out)

[2019-06-27 10:06] wojtekmaj opened #168 "Help improving React-Date-Picker's typings"
Hey, community!

I'm trying to improve React-Date-Picker's typings. I'm doing it on branch `typings`. I think I've managed to do it, but I need a working sample project to test the changes.

I successfully installed `/sample/parcel-ts`, but I'm getting a weird error:

<img width="826" alt="obraz" src="https://user-images.githubusercontent.com/5426427/60257466-d8f86b00-9916-11e9-8031-73465e4977cf.p

[2019-06-28 17:24] cinnamennen commented on #15
This appears to be occurring again in Safari on macOS

[2019-07-01 04:07] wojtekmaj commented on #167
Hi,
please remember that automatically focusing inputs is generally discouraged as it creates accessibility issues.

Should you prefer to proceed anyway, I'm afraid you'd need to do it on your own by writing something along the lines:

[code]

[2019-07-01 04:07] #167 closed, assigned to wojtekmaj

[2019-07-01 17:33] bnchrch commented on #15
Yeah I'm seeing this as well.

[2019-07-02 04:21] wojtekmaj commented on #15
Can't reproduce this on Safari 13.0 (15608.1.27.40.1) :(

[2019-07-03 08:55] fahadAziz44 opened #169 "Remove icon outline on hover or focus?"
I have provided my own icon for calendar using calendarIcon prop. But when we hover or focus it, an outline appears (colored: rgb(0, 120, 215)).
How can we remove that outline?

[2019-07-03 09:41] wojtekmaj commented on #169
`.react-date-picker__button svg g` is the selector we add `stroke` to by default styling. You can overwrite it. But since this style was written before anyone could use their own SVGs for calendar icons, I'll consider these styles added to 3rd party icons as a bug.

[2019-07-03 10:21] #169 closed, assigned to wojtekmaj

[2019-07-04 08:54] FagerKod opened #170 "Inline styles"
Seems the class `react-date-picker__calendar react-date-picker__calendar--open` gets inline styles even though I import `import DatePicker from 'react-date-picker/dist/entry.nostyle';`.

Used on this calendar:

https://www.1177.se/Stockholm/barn--gravid/graviditet/graviditeten-vecka-for-vecka/graviditetskalendern/

[2019-07-08 07:27] isab commented on #83
+1 to this. It would be really helpful to be able to just display the month name at least.

[2019-07-08 08:58] radjivF opened #171 "removing the initial border"
Hi I cant figure out how to remove this border, any help?

![image](https://user-images.githubusercontent.com/5714138/60796686-74ec6700-a1a0-11e9-8e8c-1748bfa80628.png)

![image](https://user-images.githubusercontent.com/5714138/60797326-a3b70d00-a1a1-11e9-94ce-8eb8518e99ec.png)

[2019-07-08 14:20] wojtekmaj commented on #171
Hi,
you can remove it by writing your own CSS, or by using `entry.nostyle` (more on that in README) and replacing the default CSS with your own, edited ones.

[2019-07-08 14:20] #171 closed, assigned to wojtekmaj

[2019-07-08 15:03] wojtekmaj commented on #83
By popular demand... :> Both MMM (short month name) and MMMM (long month name) will be supported.

<img src="https://user-images.githubusercontent.com/5426427/60820651-3af18400-a1e5-11e9-9b19-211df5db0d8f.png" width="387" />

[2019-07-08 15:31] #158 closed, assigned to wojtekmaj

[2019-07-08 15:33] wojtekmaj commented on #90
Hi,
just a heads up that newest versions of React-Date-Picker support `format` prop, so you should be able to set a different format. Please remember that `locale` is still needed to display proper calendar picker, so treat `format` as an enhancement, and not `locale`'s replacement.

You'll find more details on `format` prop in README.

[2019-07-08 15:33] #90 closed, assigned to wojtekmaj

[2019-07-08 15:42] #83 closed, assigned to wojtekmaj

[2019-07-09 05:21] #68 closed, assigned to nobody

[2019-07-09 05:22] wojtekmaj commented on #79
@stileszhong Would you mind having a look if that problem is still happening? A lot of bugs related to non-latin locales were closed recently. I'll be happy to reopen and investigate if you're still facing this issue.

[2019-07-09 05:22] #79 closed, assigned to nobody

[2019-07-09 21:54] isab commented on #83
@wojtekmaj Since this isn't part of a release yet, how would I use this in my app right now? Thanks!

[2019-07-10 06:37] wojtekmaj commented on #83
@isab It shouldn't take long for the next release, some manual testing remaining and that's all. Hold tight!

[2019-07-10 08:41] LeonidYarosh opened #173 "Add the ability to track the event of the occurrence of an incorrect date format."
I would like to be able to block other form elements if the date is entered incorrectly. To do this, I would like to have an error handler, or at least an input in the text field (onError and onInput). It may also be more convenient to set the input format hard.

Thanks.
Leonid

[2019-07-10 15:59] supersnager opened #174 "Add support for `readonly` prop"
Hi,
how can i set readonly attribute to date input?

[2019-07-10 22:46] emiliano-mongelo opened #175 "Open calendar only when clicking on icon"
Hi. I'm trying to open the calendar only if the calendar icon is clicked but not on input click. As it is mentioned in #59 `isOpen` prop doesn't work.
Anyone found other solution?

[2019-07-11 19:35] austinrchow opened #177 "How to style the date picker?"
new to react and unsure exactly how to style the Datepicker. Currently just using className when initializing the datepicker to change font family and size. However how do you style more specific things, like hover color etc.  Are there examples of general styling?

[2019-07-12 08:31] wojtekmaj commented on #177
Hey,
you can look in [the source for original LESS file](https://github.com/wojtekmaj/react-date-picker/blob/master/src/DatePicker.less) to see how it was styled. Based on this, you can create your own set of styles! Good luck!

[2019-07-12 08:32] #55 closed, assigned to wojtekmaj

[2019-07-12 08:37] wojtekmaj commented on #125
Fixed in 919a9a1ec957bf70f7dfe21b6e88831e732969a5, available in the latest release. Happy coding!

[2019-07-12 08:37] #125 closed, assigned to wojtekmaj

[2019-07-12 16:15] wojtekmaj commented on #174
You can't - and it's a silly overlook, it would be a nice addition! :+1:

[2019-07-13 09:27] sdelvalle57 opened #178 "Module parse failed: Unexpected token (1:0)"
node_modules/react-calendar/dist/Calendar.css 1:0
Module parse failed: Unexpected token (1:0)
You may need an appropriate loader to handle this file type.

|   width: 350px;
|   max-width: 100%;

[2019-07-13 11:54] wojtekmaj commented on #178
Your Webpack config (or any other bundler you're using) has to be properly configured for CSS files.

[2019-07-17 16:34] JoseGeorges8 opened #179 "Clear button shows 1969-12-31"
When I click the clear button, 1969-12-31 gets populated on the datepicker...

[2019-07-17 17:22] wojtekmaj commented on #179
Sounds like you have a default set somewhere. Mind sharing your implementation?

[2019-07-18 12:35] hanyoureal commented on #47
I need this feature, the existing input is not customizable enough

[2019-07-18 15:57] IlyaZha opened #180 "Can't pick date on Safari 12"
Can't pick date on Safari 12.1 (latest). https://drive.google.com/file/d/1fFCQdUeaH0uGbY9miXJQC4ONwY3pfx6x/view
Works perfectly on Chrome, but I want my app to work with both browsers.

[2019-07-23 14:11] cinnamennen commented on #15
I'm seeing this in safari 12.1.1, which is the most current non-dev version

[2019-07-23 14:17] JoseGeorges8 commented on #179
Sorry for the late response!

Here is how I implemented it

[code]

I took the clear icon out just because of the issue

[2019-07-23 14:18] JoseGeorges8 commented on #179
[code]

this is the handle date change method. Thought it'll be worth showing as well!

[2019-07-24 08:03] wojtekmaj commented on #180
Hi,
anything in the console? Can you share a part of your implementation? I was testing [our home page](http://projects.wojtekmaj.pl/react-date-picker/) on Safari, both desktop and mobile, and it works just fine.

[2019-07-24 09:19] wojtekmaj commented on #179
handleDateChange is actually your problem. an argument, mistakenly called `event` (it's a `date`) is `null` if you clear the picker. You don't check for that, and create a date out of it anyway. `new Date(null)` returns `Jan 01 1970` and there's your problem.

[2019-07-24 09:19] #179 closed, assigned to wojtekmaj

[2019-07-24 20:10] wojtekmaj commented on #6
Fixed in v7.8.0 via ff2ed8019417bb7da0703d8af42bf92eb88f1add. Went for @daedalus28 suggestion. More details in README!

[2019-07-24 20:10] #6 closed, assigned to wojtekmaj

[2019-07-25 09:06] IlyaZha commented on #180
nothing in console...
Yeah, your homepage works fine in Safari 12.1.
I have this code

[code]
May be date couldn't be picked because of this `moment(value)`

[2019-07-25 09:07] #180 closed, assigned to wojtekmaj

[2019-07-27 14:44] wojtekmaj commented on #170
Hi,
yes, this is by design. Calendar position on the screen is calculated dynamically, so there's no really a way around it than using inline style to position it well.

[2019-07-27 15:28] wojtekmaj commented on #156
Hi,
sorry for the delay.
React-Date-Picker tries to copy native date picker's behavior as closely as possible. With this in mind, I'm planning to support the behavior when user enters "00" ([try it!](https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_date)).

Your PR indeed fixes the issue you're describing, but may prevent from implementing the behavior I described above. Addit

[2019-07-28 09:33] wojtekmaj opened #181 "Which React version do you use? Help me get to know you!"
Hi!

I'm planning to drop support for older versions of React in the next major release. Why? I'll be able to make bundles smaller by 10-35% and make some components to be less bug prone.

Please help me and let me know which version of React you use! Use reactions to this post:

👎  - `<16.3`
👍  - `^16.3`
🚀  - `^16.8`

Thank you!

[2019-07-28 18:12] #152 closed, assigned to wojtekmaj

[2019-07-28 19:32] wojtekmaj commented on #173
Hi, while React-Date-Picker does not accept onInvalid callback, it does not stop it from bubbling in any way. That being said, you can do something like this:

https://codesandbox.io/s/react-date-picker-oninvalid-pe47t

Of course, you could optimize it by e.g. not setting `isInvalid` flag to `true` every time an input is made only to set it back to `false` sometimes, but that's only for illustrati

[2019-07-28 19:32] #173 closed, assigned to wojtekmaj

[2019-08-02 08:42] jonathanSimonney commented on #168
hello, first, thank you very much for your work.

I tried to use your project with typescript, and I guess npm took the types from https://github.com/Hacker0x01/react-datepicker , as the props I have don't correspond to your documentation. (even though I'm not sure at all...)

Here is the react-date-picker/index.d.ts I have in node_modules (which if I'm right, is the one from https://www.npmjs.com

[2019-08-02 09:52] wojtekmaj commented on #168
Well these are our typings, exactly the ones we have a problem with :D

https://github.com/wojtekmaj/react-date-picker/blob/master/index.d.ts

[2019-08-02 09:57] jonathanSimonney commented on #168
At least in my IDE it doesn't complain about them... (but it does complains if I try to add the placeholders the doc say are available). I am on Webstorm and have seen coworkers having their vscode IDE complains about things that didn't stop the project from building, where mine didn't complain at all, so maybe this is a part of the problem ?

[2019-08-02 12:12] jonathanSimonney commented on #168
just writing to confirm to you the Date picker works completely  fine with typescript on my project. I'm available if you wish more informations. (and otherwhise, don't know if this is a bug or a feature request, and whether or not I should open a new issue about it, but it seems the types you have now aren't up to date with what the documentation mentions as available types.).

Once again thank y

[2019-08-09 00:00] josh-stevens commented on #94
I ran into this problem as well. The css-loader is indeed the issue (our localIdentName adds a hash to all classnames). I think the library can avoid this if it imports its css like so:

`import styles from 'styles.css'`

And then when giving classnames to components you access them from the imported styles object:

`className={styles['whatever-class']}`

Rather than using raw strings for classnam

[2019-08-09 12:29] vadymkukhtinOD opened #184 "Uncaught TypeError: (0 , _utils.updateInputWidth) is not a function [DayInput]"
I am using latest version of react-date-picker within create-react-app typescript app.

I have a very strange issue. when I am rendering component inside another Functional component:

`
DayInput.js:187 Uncaught TypeError: (0 , _utils.updateInputWidth) is not a function
    at ref (DayInput.js:187)
`

but when the component is rendered using storybook without any problems

[2019-08-12 12:23] wojtekmaj commented on #184
Which React-Date-Picker version are you using?

[2019-08-12 13:18] vadymkukhtinOD commented on #184
Latest one

[2019-08-12 13:40] wojtekmaj commented on #184
I'm fairly sure that's not the case. The code the error quotes is gone since v7.6.0.

[2019-08-13 06:36] vadymkukhtinOD commented on #184
Unfortunately, that is the case for me and it happens to me on the latest version. I am using Typescript 3.5.2 with the latest create-react-app. If I would have time I will try to show in the sandbox, but for now issue is still there, but unless I won't be able to prove it, this issue can be closed. Thank you

[2019-08-13 06:37] #184 closed, assigned to wojtekmaj

[2019-08-16 19:43] sandeepemail71 commented on #6
don't set the initial state (this.state.startDate), This solution works for me

import React from "react";
import DatePicker from "react-datepicker";

import "react-datepicker/dist/react-datepicker.css";
import "react-datepicker/dist/react-datepicker-cssmodules.css";

class DatePickerComponent extends React.Component {
    constructor(props) {
        super(props);
        this.state = {

[2019-08-17 09:18] wojtekmaj commented on #6
@sandeepemail71 Wrong repository.

[2019-08-19 06:19] gardengardengarden opened #185 "Keyboard input not correct with leading zero"
When i try to enter some date with leading zero, the result is not correct.
For example:
Testing with chrome (In MM/dd/yyyy format):
When press "01012019", the result become "010/12/019". What I expect is "01/01/2019".

Testing with Edge (In yyyy-MM-dd format):
Press "2019(right key)0101", result is 2019-010-01.

By the way, when i type 0020190 in the year part, it will become blank page with erro

[2019-08-19 18:16] bogdancaspar opened #186 "DatePicker is an empty object"
Hi guys,

I'm trying to use this library but when I do ```import DatePicker from 'react-date-picker'```, DatePicker is an empty object. Did anyone encounter this problem?

I have React 16.8 if it matters.

[2019-08-20 22:19] carlosriveros opened #187 "Add maxLength prop to inputs"
Currently, even if the format is  'M/d/yyy' you can enter any length input for month, day, or year.

![image](https://user-images.githubusercontent.com/1332862/63388473-2a990100-c36e-11e9-8715-9aab1d386872.png)

I have tried using JavaScript to limit the amount of character that can be entered as input, but it does not work.

`
      document.querySelectorAll('.react-date-picker__inputGroup__year'

[2019-08-22 17:52] carlosriveros commented on #187
unfortunately number type inputs don't accept the maxlength property.
The fix will have to be something like https://stackoverflow.com/questions/9841363/how-to-restrict-number-of-characters-that-can-be-entered-in-html5-number-input-f

[2019-08-27 08:57] wojtekmaj commented on #186
I think more than React version it matters what is your build config. Are you using Webpack, Parcel, something else?

[2019-08-27 08:59] wojtekmaj commented on #187
`max` is actually already set, but this is only for input validation. Max length is a good idea; native picker has this.

[2019-08-27 09:04] bogdancaspar commented on #186
Webpack 4.39.2.

After some digging, I found that the problem is the fact that the files names are not lower case and somehow, i don't know why, if you write require('./DatePicker') it will be transformed in require('./datepicker'), and since there is no file with this name, I get an empty object.
I have to mention that I've tried all the node version (9, 10, 11, 12) and the problem still persist.

[2019-09-03 09:01] htmlboy commented on #114
Hi, I'm adding this note for future reference, since I found a workaround for this issue.

You can create a state for `isOpen` and change it by clicking on the DatePicker component. The `isOpen`prop only affects the component when the value change, so it doesn't override other behaviours, like clicking out. BUT for the same reason, you should update the state when the calendar is closed, or it wil

[2019-09-05 11:00] pashpashpash opened #191 "Get rid of input field altogether"
I currently have my own input fields and I'd like to use the react-date-picker lib as a way of just selecting a date-time and fill my existing input with the data. Is this possible currently? The docs don't provide this kind of info

[2019-09-15 11:35] wojtekmaj opened #192 "Add support for `step` prop"
See https://github.com/wojtekmaj/react-datetime-picker/issues/70#issue-479802990

[2019-09-15 13:30] wojtekmaj commented on #174
This is in the works.

[2019-09-15 13:31] wojtekmaj commented on #174
Issue: Some elements like MonthSelect can't be `readonly` because `select` doesn't support `readonly`. We need hidden inputs that represent these values when `select` elements are disabled.

[2019-09-16 11:20] jaydattc opened #193 "Failed to execute 'check' on 'FontFaceSet': Could not resolve '' as a font."
document.fonts.check() gives of an error for controlled component when value is empty
[code]

[2019-09-16 21:43] elangloi commented on #193
Just found this, looks like the same issue https://github.com/wojtekmaj/update-input-width/issues/5

[2019-09-19 18:08] wojtekmaj commented on #193
Fixed in 1bfbecff20c6621186b7c220870acd743384330c but not released yet. Will release soon.

[2019-09-19 18:08] #193 closed, assigned to nobody

[2019-09-19 18:14] wojtekmaj commented on #193
Check v7.8.2!

[2019-09-23 17:03] Deval-Jain opened #194 "Updating state variable with the selected date in react-date-picker"
I am new to react and am trying to implement a leave page.
On the page the user will see his existing leaves in a table (in date-picker component).
He can then update existing leave by selecting a new date in date-picker component.

In the state variable, I bring all the leaves (for this user) from the API and keep in page (in array)
I iterate through this array and display the leaves using the da

[2019-09-24 14:39] abhigk opened #195 "Add support for a single placeholder for empty input"
Like in input field place "Select your date of birth".

[2019-09-26 03:03] dozoisch commented on #15
@wojtekmaj I got the same issue in both safari & firefox

![image](https://user-images.githubusercontent.com/4422516/65654596-40818d80-dfce-11e9-861d-a5aa71aa2fbf.png)

https://gist.github.com/cvrebert/68659d0333a578d75372

this seems to be very related.

When I use the picker in the main page, everything works as expected

I use the picker inside a modal that has tabIndex="-1", and is focus by de

[2019-09-27 13:46] TsepoNtsaba opened #196 "Month Select option doesn't show which month is selected"
First of all, awesome work on the react date picker. I'm running automation tests and I need to validate the date the user sees on the front end.

<img width="397" alt="Screenshot 2019-09-27 at 15 43 13" src="https://user-images.githubusercontent.com/4621048/65773985-a6405780-e13d-11e9-8155-01c62b09c62a.png">

So far I have no issues with doing that for the day and year, but since month is a dropd

[2019-10-02 16:02] jbojcic1 opened #197 "onCalendarClose and onCalendarOpen props missing in props ts interface"
onCalendarClose and onCalendarOpen props are missing in .d.ts file

[2019-10-02 17:15] wojtekmaj commented on #197
It would be great to move the types to definitely-typed. I don't have the tools or experience to maintain and test typings.

[2019-10-03 08:21] jbojcic1 commented on #197
I see. Do you think it's worth adding these two to the interface as a quick win? I could do a PR

[2019-10-03 13:09] MedhaSingh32 opened #198 "Need help for disabling weekends"
Hi,
I wanted to disable weekends in my calendar. Can you tell which specific attribute can be used?

[2019-10-03 13:12] MedhaSingh32 opened #199 "Disabling weekends for the calendar"
Hi,
I wanted to disable weekends for my calendar, can you please tell which attribute should be used for the same?

Thanks,
Medha Singh

[2019-10-07 10:41] gnigam opened #200 "Calendar should open at top or bottom depending on availability of space"
<img width="1436" alt="Screenshot 2019-10-07 at 4 07 38 PM" src="https://user-images.githubusercontent.com/13609777/66305330-bd8cfb00-e91c-11e9-8319-2aa3366d81f3.png">

Datepicker calendar should dynamically choose the direction depending on the availability of space. Right now, it is always opening at the top of the input field even if there is no space available. Attached screenshot from demo pa

[2019-10-11 09:59] emibcn commented on #125
Thank you!! It's already in production in my project:
- https://github.com/emibcn/Rac1.js
- https://emibcn.github.io/Rac1.js/

[2019-10-24 20:28] felixknox commented on #199
@MedhaSingh32 check prop tileDisabled

[2019-10-28 12:20] KennethJoris commented on #185
Any news on this bug?

[2019-10-31 05:55] raphrueda opened #203 "Resetting Day/Month/Year Inputs for 'invalid' dates"
I have a project where I have forms inside of slideout containers that slide in and out of view based on a show prop. Usually, when i hide these containers, I will reset the form state to clear the values in the form so when the user opens the slideout again they have fresh form. However if I input an invalid date e.g. `123/123/123` into the Datepicker, there is no way to trigger a clear on the in

[2019-11-14 22:18] jpavelw opened #205 "How to change first day of week?"
It currently shows Monday as the first day and I'd like to set it o Sunday

![Capture](https://user-images.githubusercontent.com/10341134/68900841-1a918300-070b-11ea-9226-23bbdde40188.PNG)

[2019-11-14 22:35] wojtekmaj commented on #205
Use `locale` prop :) Every locale has a proper (hopefully!) calendar configured.

[2019-11-15 16:05] maxpayneatlarge commented on #205
Setting calendarType="US" also resolves this.

[2019-11-15 18:24] wojtekmaj commented on #205
Indeed, you can force calendar type using calendarType prop; otherwise it will be deducted from locale. Thanks for mentioning that!

[2019-11-15 18:24] #205 closed, assigned to wojtekmaj

[2019-11-21 14:50] bobrobcpp opened #206 "Compatability with react-calendar 3.0"
I'm using v3.0.0-beta of react-calendar which builds nested esm and umd folders within the dist folder, so these modules are currently not being found by react-date-picker.
Any workaround?

[2019-11-21 15:07] wojtekmaj commented on #206
Once React-Calendar 3.0.0 goes out of beta (I'm waiting for any feedback, if there's no bugs I'll just release it), React-Date-Picker will get the update on the same day.

If you want to test it out, you may use [Yarn's selective dependency resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) to force React-Calendar 3.0-beta to be used. I didn't test it, but should be fine

[2019-11-25 05:50] PavanKumarHRao opened #207 "Disable Future Dates"
Can anyone please tell how to disable Future Dates?

[2019-11-25 13:25] #207 closed, assigned to wojtekmaj

[2019-11-25 14:08] wojtekmaj commented on #207
Use `maxDate={new Date()}`.

[2019-11-25 14:13] PavanKumarHRao commented on #207
Hey Thanks, I got to Know,
I have one more question regarding values.

On Mon, Nov 25, 2019 at 7:38 PM Wojciech Maj <notifications@github.com>
wrote:

[2019-11-27 09:47] david-kimpel commented on #193
Hey there, I'm using v7.8.2 but this issue does not seem to be resolved. In our project it seems it throws an error even when the value is not empty.

[2019-11-30 17:58] chrisbolman commented on #193
seeing the same issue as @david-kimpel in our project, also 7.8.2

[2019-12-01 11:41] DHDaniel commented on #193
we're seeing this error:

[code]

It seems to be related to the `tabular-nums` property. Uncommenting it in our styles fixed the problem.

[2019-12-02 11:17] david-kimpel commented on #193
This could be it, in our project it throws the error on the `tabular-nums` property aswell.

Also the error doesn't get thrown when we import the no-style version of the component along with manually importing the required css/less files.

[2019-12-02 11:45] kjarbr opened #209 "Calendar should open on month containing minDate when date picker has no value."
Calendar default opens on month containing current date. It should instead show month containing min date.

[2019-12-03 12:27] alicerocheman commented on #209
minDate, maxDate... anything but a date outside of the boundaries would be good!

[2019-12-03 12:36] alicerocheman commented on #168
Hi there,
Just found out that onCalendarOpen is described in README but doesn't exist on type. (in the end I'm not using it so it's not urgent for me, but since it was on the README I thought I'd mention it here)

`Property 'onCalendarOpen' does not exist on type 'IntrinsicAttributes & FieldProps & DatePickerProps & { value: Date; onChange: (val: any) => void; minDate: Date; maxDate: Date; readOnl

[2019-12-06 08:39] harry-sm commented on #168
Made a PR #210 which will address this issue

[2019-12-06 19:21] wojtekmaj commented on #198
You can use `tileDisabled` prop to disable the dates in the calendar ([more on that in React-Calendar's README](https://github.com/wojtekmaj/react-calendar)) but you can't disable selective dates in React-Date-Picker itself. It's not possible in native picker either. Sorry about that.

[2019-12-06 19:21] #198 closed, assigned to wojtekmaj

[2019-12-06 19:22] wojtekmaj commented on #199
Duplicate of #198

[2019-12-06 19:22] #199 closed, assigned to nobody

[2019-12-08 10:07] wojtekmaj commented on #191
Hmmmmm, so you would just like to have the calendar then? If so, [React-Calendar](https://github.com/wojtekmaj/react-calendar) is what you're looking for.

[2019-12-08 10:17] wojtekmaj commented on #194
One strategy would be to create a [curried](https://dev.to/bettercodingacademy/functional-programming-all-you-need-to-know-about-currying-5k7) onChange function which gets the index from somewhere else. :)

[2019-12-08 10:21] wojtekmaj commented on #195
Hi,
this does not work in native HTML5 date inputs and I see no technical possibility of implementing this feature in React-Date-Picker either. Sorry about that!

I encourage you to use `dayPlaceholder`, `monthPlaceholder` and `yearPlaceholder` props instead.

[2019-12-08 10:21] #195 closed, assigned to wojtekmaj

[2019-12-08 10:25] #206 closed, assigned to wojtekmaj

[2019-12-08 10:28] wojtekmaj commented on #46
Closed as it's working just fine with the latest React-Date-Picker version.

[2019-12-08 10:28] #46 closed, assigned to wojtekmaj

[2019-12-08 10:32] wojtekmaj commented on #51
This will not be worked on as this has little to do with native date input which React-Date-Picker tries to re-implement as closely as possible.

If you want to show multiple months at a time, I encourage you to try and experiment on your own using React-Calendar:

https://github.com/wojtekmaj/react-calendar/wiki/Upgrade-guide-for-React-Calendar-1.x-users#displaying-multiple-months

[2019-12-08 10:32] #51 closed, assigned to wojtekmaj

[2019-12-09 12:23] karthibalu98 commented on #187
I am able to type more than 4 digit even after adding el.setAttribute('maxlength', 4).
Can you please help me to resolve the same.

[2019-12-09 12:25] karthibalu98 opened #212 "Unable to stop typing more than 4 digit in year textbox."
I have added below code in my project, but still I am able to type more than 4 digit.
document.querySelectorAll('.react-date-picker__inputGroup__year')
            .forEach(el => { el.setAttribute('maxlength', 4); el.setAttribute('max', 9999) })

Can any one help to resolve this issue. it's bit urgent.

[2019-12-10 09:56] wojtekmaj commented on #197
Sure thing, at least the typings will be in a better state before we move them to definitely-typed.

[2019-12-10 09:59] wojtekmaj commented on #212
You can't apply maxLength attribute to number inputs. Lack of maxLength here is by design, too - year e.g. 10392 is perfectly valid.

If you need to apply maxLength, I suggest:

[code]

[2019-12-10 10:47] karthibalu98 commented on #212
@wojtekmaj Thank you so much.
It is working for me

[2019-12-10 10:47] #212 closed, assigned to wojtekmaj

[2019-12-13 15:19] elliott-king opened #213 "Option to standardize number of weeks in selector"
My date picker is overlaid over a map, opening upwards.

If you click the month scroll buttons too fast, you may find a month with fewer weeks, which causes the picker to shrink & you may misclick.

It would be nice to have a 'standardizeNumberWeeks' feature (or something similar), to keep the number of weeks always at 6.

[2019-12-14 00:07] elliott-king commented on #213
Looking in wrong repo.
Want 'showFixedNumberOfWeeks' in react-calendar.
https://www.npmjs.com/package/react-calendar

[2019-12-14 00:07] #213 closed, assigned to wojtekmaj

[2019-12-19 20:09] geoffmiller commented on #193
This still an issue in 7.9.0. You can trace it back to https://github.com/wojtekmaj/react-date-picker/blob/master/src/DateInput/Input.jsx#L27

If you remove `tabular-nums` from
[code]
It will work.

I have done some testing with `document.fonts.check()` and I can't get any variation working with `tabluar-nums` in the the font string passed in. I am not sure how the fonts method wants it formatted.

[2019-12-19 21:48] UlyssesInvictus opened #214 "Chrome (still) doesn't respect autocomplete="off""
This was previously addressed in https://github.com/wojtekmaj/react-date-picker/issues/129, but sadly Chrome seems to ignore it...

However, this SO answer suggests you can just set the autocomplete value to gibberish, which works, so is it possible to change it so they match that? (I can write the PR if necessary.)

https://stackoverflow.com/questions/12374442/chrome-ignores-autocomplete-off

[2019-12-20 16:08] meediewow opened #215 "Add support for `onInvalid` prop"

[2019-12-21 16:50] wojtekmaj commented on #214
Looks like we would like
[code]
instead of
[code]
in Input.jsx, right?

I only wonder how this would affect other browsers. I'm not gonna change something that fixes Chrome and breaks things on different browsers.

[2019-12-21 17:23] UlyssesInvictus commented on #214
Good point -- I can look into it on different browsers and report back.

It's not a crucial change, so I would understand if you wanted to just
close the issue.

On Sat, Dec 21, 2019, 11:50 AM Wojciech Maj <notifications@github.com>
wrote:

[2019-12-22 13:13] wojtekmaj commented on #193
Interesting. Looks like tabular-nums can't be used in CSS font shorthand.

`document.fonts.check('normal small-caps 400 14px / 21px "Helvetica Neue", Helvetica, Arial, sans-serif')`
works like a charm, but
`document.fonts.check('normal tabular-nums 400 14px / 21px "Helvetica Neue", Helvetica, Arial, sans-serif')`
does not.

Even more so, `window.getComputedStyle(el).font` no longer returns string

[2019-12-22 17:14] geoffmiller commented on #193
Very interesting that `small-caps` works but `tabular-nums` does not.

Im not sure who/where to report this bug to. Is it a browser/chrome bug? Is this the intended behavior?

P. S. Excellent library and thanks for all your hard work!

[2019-12-25 11:17] thadk commented on #175
This is happening to me on Firefox `72.0b8` and stable on macOS only. If I use the DOM inspector to move the element outside of the page (and Styled components) then it starts to work.

You can try and see the problem here: https://deploy-preview-107--windfall-develop.netlify.com/prescreen-1a/

*Update: I thought this was fixed but I just inadvertently used Chrome instead of macOS Firefox*

Here a

[2019-12-29 15:50] #187 closed, assigned to wojtekmaj

[2019-12-29 15:54] wojtekmaj commented on #212
With 0f2923a it will no longer be possible to enter values that are longer than max. So, by default, you should be able to enter e.g. year as long as 6 digits (Sep 13 275760 is maximum allowable date in JavaScript), but setting maxDate to something lower than that, e.g. `new Date(9999, 12, 31)` will disable users from writing more than 4 digits in year input.

[2019-12-29 15:55] wojtekmaj commented on #187
With 0f2923a it will no longer be possible to enter values that are longer than max. So, by default, you should be able to enter e.g. year as long as 6 digits (Sep 13 275760 is maximum allowable date in JavaScript), but setting maxDate to something lower than that, e.g. `new Date(9999, 12, 31)` will disable users from writing more than 4 digits in year input.

[2019-12-29 16:18] wojtekmaj commented on #196
Uh, oh. For compatibility reasons React, instead of using this selected attribute, uses a value attribute on the root select tag.

I suggest using [HtmlSelectElement.selectedOptions](https://developer.mozilla.org/en-US/docs/Web/API/HTMLSelectElement/selectedOptions) to get the list (1 element long, obviously) of selected options.

[2019-12-29 16:18] #196 closed, assigned to wojtekmaj

[2019-12-29 16:22] wojtekmaj commented on #209
You're correct - by calendar should default to selected date or today's date, limited by minDate and maxDate.

For now, you can use `activeStartDate` to override default displayed month.

[2019-12-29 18:18] wojtekmaj commented on #193
Looks like `normal` and `small-caps` are the only allowed values of `font-variant` in CSS `font` shorthand property. So, there's no way to apply `font-variant-numeric: tabular-nums` on canvas to measure the text. I fixed this issue in update-input-width library in https://github.com/wojtekmaj/update-input-width/commit/ce128a5498e277f9baed8d52dd3d65f71be899ee.

[2020-01-04 00:16] sachinkotwal opened #220 "getFontShorthand is not a function"
I am getting below issue after using this date picker component
index.es.js:7783 Uncaught TypeError: (0 , i.getFontShorthand) is not a function. Not sure what is causing this issue.
I created wrapper in my component library project to export this component. I am using rollup to build my library project initially I suspected that this could be the issue of minification. But didn't find any solution

[2020-01-08 06:50] chungphing opened #221 "Normal placeholder text?"
Is there a way to display a simple placeholder text, instead of separate them into dayPlaceholder, monthPlaceholder and yearPlaceholder?

[2020-01-14 18:13] AustinMutschler opened #222 "Timezone Changes Date Chosen"
Hello, when I store the data in JSON in MongoDB then feed that date back into the date picker it changes the date based on the timezone it was initially set in.

For example, if someone on the East coast sets the date as 01/14/2020 and then someone on the West coast of the United States looks at the date, it will say 01/13/2020. Conversely if someone on the West coast sets the date, the person on

[2020-01-15 10:34] wojtekmaj commented on #222
React-Date-Picker lets users pick local time. So if you're sitting in London, 2020-01-14 will be exactly 2020-01-14 Midnight. But in Berlin, UTC+1, date picked will be Berlin's local midnight, which is 2020-01-13T23:00:00 UTC. In order to save UTC date, you would need to convert the date to UTC by yourself, for example:

[code]

This way you're making a new Date object from a string that gets inte

[2020-01-17 08:30] wojtekmaj commented on #221
No. React-Date-Picker uses multiple fields to achieve experience close to parity with native date picker.

You can, though, experiment and put some stuff inside dayPlaceholder only.

[2020-01-17 08:30] #221 closed, assigned to wojtekmaj

[2020-01-17 22:01] julianpetriv commented on #222
If you need only string with date this variant worked for me: `date.toDateString()`

[2020-01-24 07:24] #197 closed, assigned to nobody

[2020-01-27 09:56] naveen-gupta opened #224 "Why version 5.0 series been deprecated?"
Team i was using react-date-picker version 5.3.28 for my application, with react version 15.0.1 .Now this has been deprecated as well as removed from npm registry, So my app is unable to make build. If i  will go with newer version than there is requirement of react version update. Please guide me what I have to do in this case?

[2020-01-27 10:10] wojtekmaj commented on #224
Correct

Literally impossible

Maintainers of version 5.0 abandoned it completely and because of that, 6.0 (and up) were released to replace it with a maintained package.

Well, you could keep using 5.x or upgrade to React 16.

[2020-01-27 10:15] #224 closed, assigned to wojtekmaj

[2020-01-27 21:18] under445 opened #225 "TypeError: Cannot set property 'font' of null"
I'm running some jest tests on my project and when I run the commane 'yarn test' I get the followig error. It seems it has something to do with 'react-date-picker' when i implement the DatePicker into my component. Please someone help me this.

`TypeError: Cannot set property 'font' of null

      109 |         test('calling onChange', () => {
      110 |

          |

[2020-01-28 00:59] tonycassara opened #226 "How can I "cancel" a date change?"
Hi Wojtek!

I love your library! Currently, we're trying to extend our `onChange` method to support an inbetween validation in the form of a modal. The process looks like this:

1. Click "Change ship date".
2. See Calendar drop down.
3. Select a date.
4. If date falls in a certain range.
    1. prompt the user to confirm.
    2. If they select "No", then cancel the date change.
    3. If they sele

[2020-01-28 19:05] wojtekmaj commented on #225
See https://github.com/wojtekmaj/update-input-width/issues/2

[2020-01-28 19:06] #225 closed, assigned to nobody

[2020-01-28 23:36] tonycassara commented on #226
Reopening because the functionality I want to modify is within `react-calendar`

[2020-01-29 04:27] aharris commented on #220
I have been trying to debug this one for a while now to no avail. The closest I can see so far is a versioning issue. The only difference i see is in my `package.lock`. Even though i use exact versions this does not. In an  older working version I have:

[code]

In the broken version where i get this error I have 2 versions:

[code]

I have been unsuccessful at overwriting this new version so far.

[2020-01-29 09:52] sowmiyaseshadriii opened #228 "select Multiple dates in react-date-picker"
Hi,
Thanks for the package,
Is it possible to select multiple dates in single datepicker and get the value in react-date-picker

[2020-01-29 15:46] aharris commented on #220
The issue seems to come from `update-input-width": "1.2.0`.

I added a resolution for `1.1.1` and it is working again.

[code]

Looks like this package has been updated behind the scenes. Is it possible to use exact versions so these types of issues can be prevented in the future?

[2020-01-30 23:49] tonycassara commented on #226
Rethinking this a few days later, I think having an `onClickValidation` method might be better, with a default method that just invokes the `onClick` defined in `Calendar.jsx`

[2020-02-03 10:59] bijay-ps commented on #200
did anyone find any fix or workaround for this issue??

[2020-02-04 05:41] bijay-ps opened #229 "Positioning of react-date-picker"
Hi,

I am using this library and like it for it's simplicity and easy to use features. And now am stuck at one point. Check the image attached [date picker](https://imgur.com/a/UpcagC4)

As you can see the top part is hidden behind my menu bar.

How can I position it to open somewhere else or modify the css myself to adjust it's position.

I have made a reusable component using this date picker, c

[2020-02-05 18:55] kimmoxter commented on #220
This is the correct solution, at least for now.. Worked for me.
I've been using this library and because art of magic didn't work anymore haha.
Thanks.

[2020-02-05 19:15] guido732 opened #230 "Prevent calendar auto-close on date select"
Hi! this may not be a bug but more of a question.

I'm using the component for a specified design which requires to have an `Accept` button at the bottom so that once you pick the date, you can manually give the OK and set the date. Currently it auto-closes once you pick a date.

Is this somewhat possible to achieve by passing a custom prop I may have missed to the component? Something like `autoC

[2020-02-12 16:23] gabrielgrover commented on #229
I have a similar issue. On mobile devices the date picker collides with our navbar. It would be great if we could control the direction the date picker opens

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-17 19:46] hholzmann16 commented on #44
This would be a great addition, does anyone know of a workaround for this currently?

[2020-02-18 12:25] sava1192 commented on #94
so, as mentioned above problem is in webpack.config `localIdentName: [hash]`.
There is couple ways to fix it:
1) Kindly ask author to use css imports :)
2) Update your webpack config to handle this css files classnames without hashing

As i'm only using less for css imports i've ended with adding smth like this to my config
[code]

If you still want to use .css with css imports you'll probably nee

[2020-02-21 15:04] astrot1988 commented on #200
Something wrong with react-fit component. Same issue

[2020-02-21 16:58] maxxts commented on #44
Agreed! I'm currently looking for a workaround for this as well. Any update would be appreciated!

[2020-02-24 13:19] sebarickert opened #231 "Is it possible to manually set the `value` which is shown on the input when having an array of dates?"
Hi 👋

is it possible to manually set the value for the input whilst still setting the date range `value={[startDate, endDate]}`?

**example:**

I have two separate DatePicker components working together and setting the `start` and `end` date to the state with `onChange`.

[code]

[code]

I need to use the date range feature for the calendar and trying to set it for both DatePicker components. My i

[2020-02-25 18:03] joshuaaron opened #232 "No typings for placeholder props?"
Hey all, according to the docs we can set placeholders per day, month and year via dayPlaceholder, monthPlaceholder and yearPlaceholder.

Attempting to set these however via props yields an error that these don't exist:
`Property 'dayPlaceholder' does not exist on type 'IntrinsicAttributes & DatePickerProps'.ts(2322)
`

Using:
`"react-datetime-picker": "2.9.0",`

Have these been removed recently?

[2020-02-25 18:10] #232 closed, assigned to nobody

[2020-02-25 18:10] joshuaaron commented on #232
Apologies, saw the merge commit for the typings update, obviously haven't got the latest.

[2020-02-26 15:36] ronaksonigara opened #233 "Add access to native event in onChange function"

[2020-02-27 13:53] wojtekmaj opened #234 "Changing value to an invalid one should still trigger onChange & cause native input to be updated"
Currently `input.value && input.checkValidity()` is used to check all inputs and if the condition is valid for all of them, it triggers onChange. It should just check if some unwanted characters like "abc" are not present in the field, if anything.

In other words, as long as the date created from inputs is a valid JavaScript Date, then native input should be updated and onChange should be trigger

[2020-02-27 18:54] wojtekmaj opened #235 "Update@wojtekmaj/date-utils to ^1.0.2"
Update @wojtekmaj/date-utils package to avoid potential issues with dates with year < 1000.

[2020-02-28 12:43] #235 closed, assigned to wojtekmaj

[2020-02-28 12:45] wojtekmaj opened #236 "Support years < 100"
Currently selecting minDate that's before the year 100, will result in wrong date being selected. e.g. typing "01/01/50" will result in 1950-01-01, which isn't the case in native date picker.

[2020-02-28 15:59] milennaj opened #237 "Possibility to set openToDate"
Hi,

Is there a way to position to a specific date when date picker is opened? For example I have a minDate value set in the past(01-01-2020). I would like to position datePicker to 02-01-2020 not the current month.

Example:
        <DatePicker
          format={"dd-MM-yyyy"}
          openToDate={minStartDate !== null ?  addDays(minStartDate , 1) : undefined}
          minDate={minStartDate !==

[2020-03-03 06:13] wojtekmaj commented on #237
You mean opening the calendar on a specific date? You can do this! Props that aren't consumed by Date Picker itself are passed to the Calendar component. You should check activeStartDate - more details in [React-Calendar docs](https://github.com/wojtekmaj/react-calendar).

[2020-03-03 08:06] milennaj commented on #237
Hi,

It works, great :) . Thank you.

[2020-03-09 09:12] #237 closed, assigned to wojtekmaj

[2020-03-09 09:22] wojtekmaj commented on #228
No, however, see [React-DateRange-Picker](https://github.com/wojtekmaj/react-daterange-picker).

[2020-03-09 09:22] #228 closed, assigned to wojtekmaj

[2020-03-09 09:26] wojtekmaj commented on #226
React-Calendar 3.0 is a controlled component so "cancelling" date is as easy as not updating it on your side. However, React-Calendar 3.0 is a breaking update and for React-Date-Picker to be controlled as well, we will need a breaking release as well.

[2020-03-09 14:02] sullyslegacy commented on #229
I agree had to add

[code]
so Date Picker always shows under input

[2020-03-10 18:10] antoniojmartnez commented on #185
Hi,

I expose a possible solution to the extra zero problem when showLeadingZeros is being used and a zero is entered first.  ( PR #241   ).

Regards

[2020-03-16 12:25] #236 closed, assigned to wojtekmaj

[2020-03-16 14:47] wojtekmaj commented on #231
Why not simply

[code]
[code]
? 🤔

BTW there's [React-DateRange-Picker](https://github.com/wojtekmaj/react-daterange-picker) package you might be interested in, too!

[2020-03-17 16:04] nnmlss opened #244 "question: Is it possible to exclude some dates between minDate and maxDate"
I need to create a booking form, with minDate and maxDate, but also some periods in between also single dates should be disabled also. Is it possible to achieve this with your component?

[2020-03-17 17:03] wojtekmaj commented on #244
tileDisabled prop might help!

[2020-03-17 18:38] nnmlss commented on #244
thanks for your reply but I can't find the **tileDisabled** prop into your documentation here in github, do you have some extendend version somewhere or explanation how can I use this prop?

[2020-03-17 20:29] wojtekmaj commented on #244
Ah sorry, was in a rush. Thought it's [React-Calendar](https://GitHub.com/wojtekmaj/react-calendar). Soo... You can disable dates in the calendar but not really in the picker itself. Can't apply this logic to native date picker, so you would need to either validate the dates yourself too, or rely 100% on the calendar.

[2020-03-17 20:49] nnmlss commented on #244
I have found it - into the react callendar page.
Edit:
I have seen your answer now, thanks for your reply. It works into the picker also, I just tested it and it can mark some date as disabled and do not respond on the click event. Aaa.. you mean you can't stop the user to type a disabled date into the text field..? Actually I do not want a text field, only a calendar view so probably I will use y

[2020-03-17 20:49] #244 closed, assigned to nobody

[2020-03-18 20:11] julianpetriv opened #245 "Date Picker's calendar is not positioned correctly in create-react-app default scenario, gets cut off the screen"
Calendar is always opening above picker and after scrolling and opening it again it gets cut off the screen.
I created default react app in codesandbox, you can try it:
[https://codesandbox.io/s/misty-breeze-tx5fp](https://codesandbox.io/s/misty-breeze-tx5fp)
Here are 2 images of this sandbox demonstrating the issue:
![image](https://user-images.githubusercontent.com/36206907/77002806-cae6f080-696

[2020-03-22 16:51] hannupekka commented on #234
Not sure if our issue is direcly related to this but here is a minimal example: https://codesandbox.io/s/zen-waterfall-b075i

Notice the format we are using. If you try to input date "11.1" (by pressing 1 three times) by keyboard, picker throws an error that we are unable to catch. So in our case it would be nice that it wouldn't throw an error but still trigger `onChange` where we could decide wh

[2020-03-23 19:59] wojtekmaj commented on #234
That doesn't seem related - this looks like omitting year causes React-Date-Picker to crash because it it's the only field it can no longer create a valid date without.

[2020-03-24 02:30] #245 closed, assigned to nobody

[2020-03-26 16:17] gyto23 opened #246 "Year with 4 digits in textbox"
I know that it was already mention in #212, but I still have a question why should you support more that 4 digits in they year. Are you expecting the application to be working more that 10k years? LOL.

Another idea is to support a moment format to use from here https://momentjs.com/docs/#/displaying/format/. If you support `y` as just a 4+ digit for year, you might can consider to support `YYYY`

[2020-03-26 18:16] gyto23 opened #247 "Input is not responding to random numbers"
I was playing around with Input of the date picker and I found an issue that cause input to do not clear out if you press on the clear button in case where the values are 000/000/00000

![image](https://user-images.githubusercontent.com/54277098/77681707-c2457a00-6f63-11ea-99e1-9d6c241b7027.png)

In addition I found issue where you manually trying to put a 01 to the field and it creates a double 0

[2020-03-26 20:39] gyto23 opened #248 "Overwrite baseClassName"
Is it possible to overwrite the baseClassName, in case of using several of `react-...-picker`? Most of the library are sharing the same styles and I already wrote my own custom one, but staking class together in same file make our life repeated:

![image](https://user-images.githubusercontent.com/54277098/77694388-edd25f80-6f77-11ea-8e57-fc4c71e5ef79.png)

[2020-03-27 10:24] sukesh-s commented on #229
Hi
I'm also having a issue i'm using version 7.9
I'm using date picker on modal [here](http://i.imgur.com/i5F0iky.png)

[2020-03-29 10:28] wojtekmaj commented on #248
Neat idea. It's currently not possible but I don't see a reason why it wouldn't be 👏

[2020-03-29 10:29] wojtekmaj commented on #229
@sukesh-s Your modal window styling causes calendar to be cut off. Sadly the only thing that could "escape" overflow hidden is position float, which creates so many issues on its own I've decided not to go for it.

[2020-03-29 10:31] wojtekmaj commented on #246
I'm in no position to define what this component can and cannot be used for. Maybe someone would like to build React based sci-fi game and want to schedule their starship fleet to attack the enemy on January 15th 19455? ;)

Defining maxDate should limit the number of digits possible to enter in date picker :)

[2020-03-29 17:58] wojtekmaj commented on #247
Related to #234. React-Date-Picker is not aware of invalid numbers even being inputted in the first place, so resetting value doesn't really work in this case. I see this design flaw now and I'm planning to fix it in the next major release.

[2020-03-29 17:58] #246 closed, assigned to wojtekmaj

[2020-03-29 17:59] #231 closed, assigned to wojtekmaj

[2020-03-29 18:00] wojtekmaj commented on #230
Should be relatively easy to implement, I'll keep it on my list!

Thanks for the kind words too :)

[2020-03-29 18:01] #222 closed, assigned to wojtekmaj

[2020-03-29 18:02] wojtekmaj commented on #220
Hi,
This issue may indeed affect older versions of React-Date-Picker. Sadly I have no capacity to create hotfixes for minor releases. Consider updating to the newest non breaking version!

[2020-03-30 12:38] #230 closed, assigned to wojtekmaj

[2020-03-30 12:45] #220 closed, assigned to wojtekmaj

[2020-03-30 12:46] wojtekmaj commented on #203
This will be fixed with https://github.com/wojtekmaj/react-date-picker/pull/250

[2020-03-30 12:47] wojtekmaj commented on #234
This will be implemented in https://github.com/wojtekmaj/react-date-picker/pull/250. Then, in next major version we'll change the default behavior.

[2020-03-30 12:49] wojtekmaj commented on #44
Fixed in 0f2923a3742921d550d4c66b23e7da13cfb1fbd6

[2020-03-30 12:49] #44 closed, assigned to wojtekmaj

[2020-04-02 07:49] JMS-1 opened #253 "Typescript Declarations now incomplete (e.g. value & onChange properties not found)"
Since you removed index.d.ts from react-calendar the typescript declaration of react-date-picker is not always working. In our webpack environment neither value nor onChange can be found.

[2020-04-02 10:54] wojtekmaj commented on #253
Typings will be moved completely to @DefinitelyTyped. React-Calendar typings were just merged there so this may help with your issue

[2020-04-03 06:38] JMS-1 commented on #253
thank you, did it.

[2020-04-03 06:38] #253 closed, assigned to nobody

[2020-04-03 11:02] thornyweb commented on #168
I've opened #254 which will help with some typing issues as the main typing in index.d.ts extends CalendarProps but these aren't included with the package until now.

[2020-04-06 12:44] frankhn opened #255 "closeCalendar does not exist on type DatePickerProps"
Hi, Am using trying to close the calendar with the above props method in react typescript, yet seems not to figure out what is going on here.

Any help is would be highly appreciated.

[2020-04-06 12:52] wojtekmaj commented on #255
Try 8.0.1 that was released just today

[2020-04-06 15:47] tomatillodesign commented on #15
I'm also still getting this behavior. MacOS + Firefox / Safari. Works great in Chrome. Note, I'm using the calendar picker inside a modal.

[2020-04-06 20:43] frankhn commented on #255
Seems not helping either. I tried npm install react-date-picker@8.0.1  the version you specified, unfortunately, this happens

![image](https://user-images.githubusercontent.com/33962360/78603208-02f09d80-7858-11ea-8dbb-944d6c9f6cd2.png)

[2020-04-09 19:11] tonycassara commented on #226
@wojtekmaj thanks for that, well consider moving to 3.0 in the future. I'll close this comment for now.

[2020-04-09 19:11] #226 closed, assigned to nobody

[2020-04-13 14:33] danilov-v opened #256 "disableCalendar does not exist on type DatePickerProps"
Hi, Am using DatePicker in my react ts app. Am trying to use disableCalendar prop and got error.

Any help is would be highly appreciated.
![Screenshot from 2020-04-13 17-32-25](https://user-images.githubusercontent.com/48569492/79128833-d46d4800-7dac-11ea-81f4-b219ab61b6c2.png)

[2020-04-14 12:57] tranvanquang opened #257 "Please update the following components: DatePicker"
"react-date-picker": "^8.0.1",
I get a warning on terminal: Please update the following components: DatePicker.
What happen in my app?? Please help me fix it.

[2020-04-14 16:17] nikhil-tayal opened #258 "Can we strict user to enter 0??"
At present, a user can enter as many zeroes as he wants.
We can not restrict the user while entering because of onChange method called after we select the complete date!!

e .g 000000011/0000012/2020

[2020-04-16 15:50] gyto23 commented on #91
@wojtekmaj I would suggest to implement both option in the calendar render:
1. via existing way
2. via portal

As for good example, `react-select` uses those two types of render, you just have to select the prop to do it

[2020-04-17 10:18] wojtekmaj commented on #257
And the full message you're getting?

[2020-04-17 10:19] wojtekmaj commented on #256
Seems to be tightly connected with #255 - basically the same issue, only a different calendar prop we saw the message for - so I'm closing this as a duplicate of #255.

[2020-04-17 10:19] #256 closed, assigned to nobody

[2020-04-20 05:21] aladinflux opened #259 "Incompatible with NextJS"
The CSS is directly imported from `node_modules`.  Instead of importing it, you should allow us to import it ourselves. This will allow us to use unpkg.com to include the css file or use our own css parsers.

This also makes the library incompatible with the popular NextJS, here's why:
https://github.com/zeit/next.js/blob/master/errors/css-npm.md

[2020-04-20 05:57] #259 closed, assigned to nobody

[2020-04-23 01:24] valtism opened #261 "Add custom element to calendar"
Hi there!

Firstly, just want to say that I am loving this library, it's clear how much care and effort have been put into creating a great API.

---

I want to be able to add a clear selection button to the bottom of the calendar, seen in this design as "None"

<img width="378" alt="image" src="https://user-images.githubusercontent.com/1286001/80048747-649d5100-8554-11ea-90e4-a6a421c8fb1b.png">

[2020-04-23 06:06] wojtekmaj commented on #261
I'd use a wrapper (a flex box, perhaps?) that holds both React-Calendar and the bar with the button you want to add :)

[2020-04-23 06:46] valtism commented on #261
I'm actually using `react-date-picker` (I should have posted this over there). That makes it tricky because the input lives in a `td` table cell, and the calendar pops out with absolute positioning. Both of the components, however, live inside a the single `<DatePicker>` component which means that if I add something to the bottom of a wrapper, the calendar no longer drops down.

What I wish I had

[2020-04-23 08:14] wojtekmaj commented on #261
Oh shoot, yeah, that's an entirely different story. Let me move this ticket there.

I suppose we would need to add a method to render custom calendar or at least some things next to the calendar.

[2020-04-23 23:02] valtism opened #262 "Nostyle date-picker does not close on selection"
The normal date-picker closes on selection and on click outside. When using `react-date-picker/dist/entry.nostyle` the calendar no longer closes on selection, or click outside.

The onCalendarClose function is fired, but no close happens.

Version:
`"react-date-picker": "^8.0.1"`

[2020-04-27 04:02] valtism commented on #262
I found out that this is because the calendar is shown and hidden using CSS, not in react as I would expect. If using `nostyle`, make sure you include

[code]

in your CSS

[2020-04-27 04:02] #262 closed, assigned to nobody

[2020-04-27 06:04] wojtekmaj commented on #262
You're correct :)

The reason for the calendar to be only hidden with CSS once opened for the first time is not to repeat the renders without a good reason. React-Calendar first render is pretty heavy.

[2020-04-29 08:48] SukPavel commented on #258
Exactly same problem. The problem of this is when user try to manually write date with leading zeros: 01/01/2020, the "auto formating" generates date like this 010/12/020

EDIT: solved in version 8.1.x, just update package @nikhil-tayal

[2020-04-30 12:19] nikhil-tayal commented on #258
Thanks @SukPavel !!!

Do we need to do something extra??? Or it is a by default feature.
Because it is still appending 0

[2020-04-30 14:31] pixaque opened #263 "datepicker one day off behind the day what is selected."
Hi,

I am facing datepicker one day off issue. I searched for it and find some solutions but they didn't work.

This is what is happening I select today's date but it is saving as yesterday. I found the issue involves timezone. Can you please help me how I can solve it?

Regards,
Asad Ullah

[2020-04-30 14:40] SukPavel commented on #258
@nikhil-tayal

No need to do something.

Appending only one or multiple like your initial example 00000011/000000012....? If there is only one zero, you have probably set **showLeadingZeros** prop?

[2020-04-30 16:12] nikhil-tayal commented on #258
No, I am using only format prop!!

[2020-04-30 20:34] SukPavel commented on #258
@nikhil-tayal can you write the format  you are using?

[2020-04-30 21:00] wojtekmaj commented on #263
React-Date-Picker saves local date, midnight. What's likely happening is that you're reading it as an ISO string which by definition is UTC time (+0:00 timezone).

For example, if you're in Berlin, your midnight will happen 1 hour before it happens in London (UTC). Hence the off-by-one error.

To solve this, read the local date.

❌ .toISOString()
❌ .toUTCString()
❌ .getUTCFullYear()
❌ .getUTCMonth

[2020-04-30 21:01] #263 closed, assigned to wojtekmaj

[2020-04-30 21:47] nikhil-tayal commented on #258
format={dd/mm/y}

[2020-04-30 21:59] SukPavel commented on #258
just use d/m/y ;) dd means two-cipher day, mm means two cipher month. And if you force two-cipher day and month, the zero is prepended.

[2020-05-02 21:39] guribe94 opened #264 "Why does the week start with Monday?"
Why does the week start with Monday? Shoulkdn't the week start with Sunday like in the example page?

[2020-05-04 13:28] wojtekmaj commented on #264
Depends on your `locale`. For example, 'en-US' starts on Sunday, 'de-DE' starts on Monday and 'ar-AE' starts on Saturday (!).

If `locale` isn't provided, it's derived from user's browser settings.

[2020-05-04 13:32] #264 closed, assigned to wojtekmaj

[2020-05-06 02:44] meandillar opened #265 "The prop `value` is marked as required in `DatePicker`"
I'm using eslint to check propTypes. When initialising the DatePicker with a `null` value everything works as expected but I get an error in the console:

`Warning: Failed prop type: The prop "value" is marked as required in "DatePicker", but its value is "null".`

I saw in another issue that you're working on typings so forgive me if this is already being addressed. Thanks for the great library.

[2020-05-11 20:51] matthewLeFevre commented on #259
@aladinflux why did you close this issue? I think this is valid.

[2020-05-12 01:15] aladinflux commented on #259
@matthewLeFevre, import from 'entry.nostyle'
[code]

[2020-05-12 06:13] wojtekmaj commented on #259
For the record, next major version will ship with no styles by default - you'll have to import them by yourself.

[2020-05-12 06:17] aladinflux opened #266 "React Fit memory leak"
There's an issue that react-fit is causing making the page crash. I couldn't pin the problem yet, but I submitted the issue anyway in case someone else is experiencing this problem. I'll post an update once I find the issue.

I'm using `entry.nostyle`with custom css from `styled-jsx`.

[2020-05-13 01:58] bryan667 opened #267 "redux-form"
hi, we've been using `react-date-picker` and it's been great. but we found an issue when we use it with redux-form. the DatePicker closes and lose focus when typing in years in the input. Only happens when it is used as a custom `redux-form` component.

here's a gif of the issue:
![test2](https://user-images.githubusercontent.com/42466834/81762790-1e5a6280-9500-11ea-982d-41c7fb71d2ef.gif)

code:
[

[2020-05-15 16:45] wojtekmaj commented on #265
I'm afraid I'm not working on typings - this is entirely up to the community.

However seeing that in console would suggest a React propTypes error, not TS typings error. React propTypes for `value` prop are not set as `isRequired`. Perhaps your component is named the same way, or you overwrite the propTypes?

[2020-05-17 13:41] paambaati opened #268 "Easier styling"
[react-hook-form](https://github.com/react-hook-form/react-hook-form) by @bluebill1049 is an incredibly powerful (not to mention popular) library for using forms with React hooks.

I've been trying to get `react-date-picker` to work with RHF, and I'm able to get the value out to RHF's controlled component wrapper. However, I'm having trouble getting the `isOpen` prop to work - see https://codesand

[2020-05-17 14:35] paambaati commented on #268
On further debugging, I now realize that the control does work (I can see the CSS classes change on toggling `isOpen`). Is there an easier way to style the component?

Here's my challenge currently -

I use Next.js, which supports only importing CSS files globally (see https://nextjs.org/docs/basic-features/built-in-css-support). This means I'd have to globally import the datepicker CSS (small as

[2020-05-17 22:27] meandillar commented on #265
Wow that's exactly what happened - I had overlooked my component named _DatePicker_ where I had the `value` prop was set to `isRequired`. Thanks for the help and apologies for the wasted time!

[2020-05-17 22:27] #265 closed, assigned to wojtekmaj

[2020-05-21 01:06] bryan667 commented on #267
I resolved this issue by moving all the onChange, useState and the Datepicker inside one custom component.

[2020-05-21 01:06] #267 closed, assigned to nobody

[2020-05-21 06:36] phtmgt opened #269 "How to add time of day to selected date?"
Have you thought about forcing a time of day instead of the default 00:00? This is useful in variety of situations: For example, when I want to select a time period I'd like to have two datepickers, one starts from 00:00, the other should end at 23:59:99 (in order to include the start date and end date). Or, I'd like to force 12:00 in order to avoid some issues with timezones (I know this is not t

[2020-05-21 08:08] yanfaingold opened #270 "when opening with japanese locale, 1 of the days have margin from top (friday)"
![image](https://user-images.githubusercontent.com/9849056/82537846-63f7da80-9b53-11ea-9970-7e3603cf9972.png)