[2020-05-21 08:10] yanfaingold commented on #270
margin-top: 1rem; only on friday

[2020-05-21 09:42] yanfaingold commented on #270
ops it was my css with chosing nth child sorry

[2020-05-21 09:42] #270 closed, assigned to nobody

[2020-05-25 09:11] wojtekmaj commented on #269
Interesting idea :) By the way, check out [React-DateTimeRange-Picker](https://github.com/wojtekmaj/react-datetimerange-picker).

[2020-05-25 20:44] hatchli commented on #253
So I'm having this exact issue. If I create the basic setup as its own component, Typescript doesn't flag anything. But if I try and use it in an existing component, onChange gets flagged as such:
[code]

I installed `@types/react-calendar` based on what you guys were talking about, but that doesn't seem to have done anything... I still can't compile.

What exactly am I doing wrong here?

[2020-05-27 07:51] HARIKSREEE opened #271 "Interacting with Calendar and then changing the date does not cause Calendar view to update"
I am using react version 16+
and  react-date-picker version 8.0.1
When I initially change the year value in the input, the calendar is showing the correct year. After selecting the date for first time, changes in the year input is not updating the calendar.

Steps:
1) Click any of the input field (day||month||year)
2) calendar will be displayed
3) select a date
4) calendar will close
5) click the

[2020-05-27 07:52] HARIKSREEE commented on #271
![image](https://user-images.githubusercontent.com/38159830/82992704-2399d000-a01d-11ea-9ec3-0d9c139783bf.png)

[2020-05-27 07:57] HARIKSREEE commented on #271
The same issue exists for month field also.  Only update happening is for date value changes

[2020-05-27 10:46] wojtekmaj commented on #271
Confirmed bug. We're using React-Calendar improperly; value is controlled, but activeStartDate is not. Selecting date in Calendar causes it to set activeStartDate internally, so Calendar is no longer updating.

The fix would be to
* either calculate activeStartDate in DatePicker
* or add a feature in React-Calendar not to set activeStartDate on date selection, and use it
* or add a feature in Reac

[2020-05-27 12:17] wojtekmaj commented on #268
You can pass your own className and calendarClassName, if you need to implement styling on your own using libs like styled-components. Adding `style` prop isn't a good idea in my opinion because there are tons and tons of elements inside the wrapper that would need to be styled this way.

[2020-05-27 15:02] HARIKSREEE commented on #266
I also got the issue. . I got the issue when the calendar is overflowing at the window bottom.
the error is given below,
```<Fit />'s child needed to have its height decreased to 188.3125px.```

@aladinflux
Did you get any solution for that?

[2020-05-27 17:19] HARIKSREEE commented on #271
Thanks for the quick update @wojtekmaj
I tried the first method and it worked.
Changes made:
Created a new state variable to keep the ```activeStartDate ``` value.
And set the ```activeStartDate ``` when ever the date changes and also on ```onActiveStartDateChange```.
The update on ```onActiveStartDateChange``` is needed as we need to keep the drill down/up and month/year navigation working.

[2020-05-27 18:14] wojtekmaj commented on #271
This bug will be fixed in React-Date-Picker once a discussion in https://github.com/wojtekmaj/react-calendar/issues/358 reaches conclusion. Please be patient. It's highest priority of them all at the moment.

[2020-05-27 18:34] HARIKSREEE commented on #271
Thank you @wojtekmaj
I put the above changes only as a quick fix for my project. I will be following the latest changes to this repo.

[2020-05-28 02:10] aladinflux commented on #266
Not yet @HARIKSREEE. I still didn't have time to look into it. I'll update here once I find something.

[2020-06-05 12:44] glen0071 opened #274 "In Gatsby, in Firefox, all click events close calendar"
When react-date-picker is used in a Gatsby app within a Firefox browser all click events (whether on the calendar days or the navigation arrows at the top) all close the calendar instantly. When I click on a day, the calendar closes without inputting a date. All click events seem to trigger `react-date-picker--open` class to change to `react-date-picker--closed` before anything else can happen.

T

[2020-06-05 14:06] AryanshMahato opened #275 "How to validate the fields?"
Hello,

If any user types 13 in month's place.
OR
If any user types 32 in date's place.

handleChange is not running on second key stroke, how can I validate if user enters wrong date?

[2020-06-08 09:44] DGugov opened #276 "Manual input of year populates year later than 2000"
I am using "react-calendar": "3.1.0" and "react-date-picker": "8.0.1".
When I try to populate the date with my keyboard (for example 2/2/1955) I cant imput year different than 2000 and something. The moment I press "1" the year 2001 is automatically selected.

4th and 5th of June I did not experience this issue.
![Calendar](https://user-images.githubusercontent.com/66615271/84016263-b293da00-a985-

[2020-06-09 13:33] marcolazzarini commented on #220
Hi,
I tried multiple times (forcing resolution block in package.json, manually changing yarn.lock file) but this problem prevents me from using this component.
The downloaded version of update-input-width is 1.2.1 (react-date-picker version is 8.0.1), causing the page to break with the reported error:

Uncaught TypeError: (0 , i.getFontShorthand) is not a function

Is there any chance un update wi

[2020-06-10 13:25] wojtekmaj commented on #220
v1.2.1 should have getFontShorthand already exposed (it's a feature introduced in update-input-width v1.1.0). Maybe you have multiple versions of update-input-width in your lockfile?

[2020-06-10 13:26] wojtekmaj commented on #276
This shouldn't be the case, check the demo page:
https://projects.wojtekmaj.pl/react-date-picker/
Maybe you're parsing the date on your own somehow?

[2020-06-10 14:14] #276 closed, assigned to nobody

[2020-06-10 14:15] DGugov commented on #276
This issue no longer occurs.

[2020-06-18 08:45] shreyaa1 opened #277 "Unexpected token '.'"
when importing
`import DatePicker from "react-date-picker/dist/entry.nostyle";`
working properly but when I am trying to import
`import DatePicker from "react-date-picker"`
according to README file getting the error
`{"message":"Unexpected token '.'","stack":"/node_modules/react-calendar/dist/Calendar.css:1}`

can someone help me with this issue?

[2020-06-18 11:12] wojtekmaj commented on #277
If you want to use React-Date-Picker with default styles auto-imported, your bundler needs to be configured properly to compile CSS files.

[2020-06-24 02:01] joemark1989 opened #278 "When choosing a date from the calendar always will return 00:00:00."
Hello, when I select a date on the calendar lets say today's date. It will return, Tue Jun 23 2020 00:00:00 GMT-0400 (Eastern Daylight Time). Which is correct but the timestamp is not. I want it to return the exact date/time a user selects the date they choose. Is this possible and how could I accomplish this? Code below.

[code]

[2020-06-24 04:14] HARIKSREEE commented on #278
Hi @joemark1989
You can try setting the hour,minute and second  from a new Date object before setting the value to the state.

[code]

[2020-06-24 08:55] yanfaingold commented on #275
i also need to handle this case (need some function to run for custom handling like if button disabled enabled depends on this data) or trigger the on change with empty date like you did with X button.

by the way is there any workaround to handle this issue at the moment?

[2020-06-24 09:24] yanfaingold commented on #275
i found a workaround which not perfect cause it removes functionallity but at least this issue not occurs, you can set the div container of the date the following css so users can change the date only by using the pop up: pointer-events: none;

[2020-06-24 13:27] AryanshMahato commented on #275
Yup! This could may work!! Thanks @yanfaingold

[2020-06-24 17:19] HARIKSREEE commented on #275
I faced issues with validation. What I did is , I created custom input field to get values from user and used React-calendar package from the same author.
This gave me much control over the input fields

[2020-06-25 02:42] joemark1989 commented on #278
@HARIKSREEE Thanks :) that did it.

[2020-06-25 02:42] #278 closed, assigned to nobody

[2020-06-25 04:06] AryanshMahato commented on #275
Is that Project Open Source @HARIKSREEE ?

[2020-06-25 06:03] HARIKSREEE commented on #275
Yes thats open source. If you check the repositories of wojtekmaj, you will find it.

[2020-06-26 06:56] wojtekmaj commented on #275
As per native date input, React-Date-Picker does not trigger onChange with invalid date. This would cause much more issues than problems solved.

To verify if a set of inputs is valid, use [`HTMLFormElement.checkValidity()`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormElement/checkValidity) and [`HTMLFormElement.reportValidity()`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLF

[2020-06-26 06:56] #275 closed, assigned to nobody

[2020-06-26 07:01] wojtekmaj commented on #277
Webpack users: An example of how you can solve this issue:

[code]

[2020-06-26 07:01] #277 closed, assigned to nobody

[2020-06-26 07:04] wojtekmaj commented on #269
[code]

[2020-06-26 07:04] #269 closed, assigned to nobody

[2020-06-26 08:02] wojtekmaj commented on #274
Sorry for the delay. Been super busy in commercial projects.

Found the reason. The reason is that we have a method, onOutsideClick.

https://github.com/wojtekmaj/react-date-picker/blob/e520a0b1afc4ee952321016472d5af8c15379d97/src/DatePicker.jsx#L53-L57

If the method detects a click outside React-Date-Picker's wrapper, it closes the calendar. The thing is, in Gatsby, clicking on the calendar caus

[2020-06-30 08:50] SergSisense opened #279 "onChange callback not fired when all values is not valid"
hi
the issue is:
i can change/set the values -directly(not using picker) by using DateInput
as a result i can set invalid values like: month = 13, 55, ...etc; day = 66, -21, ...etc.
in: https://github.com/wojtekmaj/react-date-picker/blob/master/src/DateInput.jsx#L420
you can see there a validation for all values and if one of them is not valid - onChange is not called

if there a way i can get val

[2020-06-30 10:14] wojtekmaj commented on #279
There's no way React-Date-Picker could return invalid date. This is intentional as there's an effort to make it work as closely as possible to the native date picker input field.

[2020-06-30 10:14] #279 closed, assigned to wojtekmaj

[2020-07-01 15:31] Misbah-Mushtaq commented on #98
I tried same thing but it is not working :/ @wojtekmaj

[2020-07-06 11:56] yanfaingold commented on #275
why not add something similiar to onInvalid as a prop so we could easily handle it by filling the function?

[2020-07-07 09:05] wojtekmaj commented on #275
Neat idea. For the time being, you can always listen for `invalid` events on date picker's parent div, since events are bubbling.

[2020-07-07 12:29] Nilotpalchanda opened #280 "Month Dropdown displayed when using MMM format"
I'm trying to bring month format in **MMM** but whenever I'm trying this format the drop down is coming instead of input box. So, is there is any way to remove the drop down in the **MMM** format?

Code
-------
`  <DatePicker
            format="dd-MMM-yyyy"
            dayPlaceholder="DD"
            monthPlaceholder="Mon"
/>`

Preview
-------------
![image](https://user-images.githubusercontent.

[2020-07-08 12:18] kjkunal94 commented on #280
I am facing a similar problem in my project, where I do not want a drop-down, when using the dd-mon-yyyy format.
A quick response or fix for this , would be highly appreciated.

[2020-07-09 10:22] wojtekmaj commented on #185
This will be fixed, but it needs https://github.com/wojtekmaj/react-date-picker/pull/272 to be merged first. For now, we rely on number inputs (from today's point of view I think that was a mistake), which don't report leading zeros in values, so we're technically unaware of them.

[2020-07-10 02:21] singleseeker commented on #47
when will the new version with this feature be published?

[2020-07-21 03:55] rajm-sa opened #283 "How to add ARIA labels for previous/next year and month (arrow) icons?"
This is a wonderful library. Thanks a ton.
Recently, for accessibility needs, I was looking for following features.

1. I need to pass **aria-label** for next year/month arrow icons so that screen reader can announce "Previous/Next Year/Month". Currently there is not way to pass these values as props.

Current aria-label has no value. For example:
<button aria-label="" class="react-calendar__navig

[2020-07-23 22:18] mgandley opened #284 "Tabbing through without entering picker"
Not sure the best way to accomplish this without negatively impacting accessibility, but here goes.

I have a form that has this datepicker, among other inputs.  When I tab through the inputs, I land on the datepicker.  Then, to get to the next input, I need to tab through the buttons in the calendar (of which there are many) before I can get to the next input.  You can see this behavior on the sa

[2020-07-23 22:20] mgandley opened #285 "Close calendar dropdown with escape key when calendar is open."
If the calendar dropdown is open and my current focus is within the datepicker wrapper (any of the inputs, button, or dropdown picker), pushing the escape key should close the dropdown.

[2020-07-23 23:08] mgandley commented on #284
Submitted merge request #286 to add this enhancement.

[2020-07-24 12:39] wojtekmaj commented on #283
As stated in [documentation](https://github.com/wojtekmaj/react-date-picker#calendar), props are passed to React-Calendar, and all required aria labels are supported by React-Calendar as stated in [its documentation](https://github.com/wojtekmaj/react-calendar#props).

Hope this helps!

[2020-07-24 12:40] #283 closed, assigned to wojtekmaj

[2020-07-26 15:44] Liel208 commented on #185
Hey, any updates on when this is going to get deployed?
![image](https://user-images.githubusercontent.com/24766104/88483380-12fbcc80-cf70-11ea-97e1-9de8a6abf16b.png)

:(

[2020-07-30 13:58] sirsaula commented on #185
Any update on this bug or a workaround @wojtekmaj  ?

[2020-07-30 14:03] wojtekmaj commented on #185
#272 is not merged yet because it's missing required input validation. I don't have a lot of free time these days. Sorry!

[2020-08-06 14:16] sirsaula opened #287 "React-Date-Picker with React-Calendar"
Is it possible to have the react-date-picker on selection show the react-calendar https://github.com/wojtekmaj/react-calendar component? Reason being is the current calendar that appears on selection does not allow for aria labels for the 'next' and 'previous' button and we are seeking to resolve that for accessibility issues..

Thanks

[2020-08-06 14:36] sirsaula commented on #287
forgot to tag you @wojtekmaj  :-) ^ quick question above

[2020-08-06 14:40] wojtekmaj commented on #287
No need to tag me.

This _is_ React-Calendar. You can totally pass ARIA props to it - as per README props are passed to React-Calendar as well.

[2020-08-06 14:40] #287 closed, assigned to nobody

[2020-08-06 15:17] itsleonadler opened #288 "onChange event is not fired on Safari browser"
When I click on datepicker and choose a date, onChange event is not fired in Safari, however in Chrome everything works as expected. I don't have any errors in console. Implementation is similar to this
<pre>
&lt;DatePicker
 disabled={props.disabled}
showLeadingZeros
format="MM/dd/yy"
calendarIcon={null}
clearIcon={null}
onChange={value=&gt;console.log(value)}
value={props.options.end.val}
/&gt;
<

[2020-08-06 23:00] kemalturksonmez opened #289 "/'s not lining up with dates"
![react-date-picker](https://user-images.githubusercontent.com/56357795/89590946-37746600-d806-11ea-88f0-36bbd4525877.png)
I've played around with the css for the divider and have had no luck with it. Any clue what might be causing this?

[2020-08-07 05:03] wojtekmaj commented on #289
Without the code? Nope

[2020-08-07 05:47] kemalturksonmez commented on #289
`<DatePicker
                            selected={ this.state.date }
                            onChange={ this.onDateChange }
                            value = { this.state.date }
                            maxDate = {this.state.today}
                            name="date"
                            clearIcon= { null }
                            dateFormat="dd/MM/yyyy"

[2020-08-13 10:26] D-Middendorp opened #290 "minDate prop overwrites value prop"
If the minDate prop is provided along with the value prop then the displayed value will be what minDate is.
It doesn't matter if the minDate is before or after value date.

Examples:
minDate | value | displayed
------------ | ------------- | -------------
new Date() | new Date('2020-10-20') | Today (from new Date())
new Date('2020-12-31') | new Date('2020-10-20') | 2020-12-31 (depending on format)

[2020-08-13 10:50] pedroR commented on #253
I am facing the same issue. I added `"@types/react-calendar": "^3.1.0",` but have a similar issue.

  Types of parameters 'value' and 'date' are incompatible.
    Type 'Date | Date[]' is not assignable to type 'SetStateAction<Date>'.
      Type 'Date[]' is not assignable to type 'SetStateAction<Date>'.
        Type 'Date[]' is missing the following properties from type 'Date': toDateString, toTime

[2020-08-13 14:50] D-Middendorp commented on #290
I opened this issue on the wrong repo, should have been the react-datetime-picker repo.

[2020-08-13 14:50] #290 closed, assigned to nobody

[2020-08-13 19:18] wojtekmaj commented on #253
I encourage you and other community members to contribute and fix the typings, and preferably move them to @DefinitelyTyped :)

[2020-08-20 02:27] cobbdb opened #291 "openTo prop"
First off, LOVE this library. Finally a dirt-simple to use react datepicker, so thank you.

I'd love to see an `openTo` prop that will allow the calendar to open directly to the "century", "decade", or "year" view. This would be very handy for things like DOB fields so users can quickly go way back in time for older birthdates.

[2020-08-25 06:51] darekkay commented on #288
I cannot reproduce it, it's working fine for me (macOS 10.15.5, Safari 13.1.1.).

[2020-08-27 09:08] pedrofsantoscom commented on #15
I have this issue selecting the Month or Year. It just closes the calendar.
I'm also using the calendar picker inside a modal, on gatsby.
Issue found on Chrome, FF and Edge.
![image](https://user-images.githubusercontent.com/2325978/91420913-2fc84000-e84d-11ea-8f16-66c795c64f89.png)
![image](https://user-images.githubusercontent.com/2325978/91423711-cea26b80-e850-11ea-9ea1-06325d9d1cb1.png)

[2020-08-27 09:35] pedrofsantoscom commented on #274
https://github.com/wojtekmaj/react-date-picker/issues/15#issuecomment-681825167
The fix above didn't worked for me. I'm using v8.0.1

[2020-08-27 10:43] pedrofsantoscom opened #292 "Next/Previous button doesn't work >= v7.11.0"
The following buttons don't work on v7.11.0 onward. I need to revert back to v7.10.0 for them to work.
Tested on chrome, FF and edge on windows 10, gatsby project, react v16.12.0

![image](https://user-images.githubusercontent.com/2325978/91432169-42e10d00-e859-11ea-91a1-592fc1bf0998.png)

From what i've been able to find, if i set `ReactCalendar.activeStartDate` prop, the navigation arrows don't

[2020-08-27 14:02] wojtekmaj commented on #292
activeStartDate should overwrite internally handled activeStartDate value, so this is expected. If you want to use activeStartDate, then you need to also handle `onActiveStartDateChange` yourself.

[2020-08-27 14:05] wojtekmaj commented on #274
I suggest placing a breakpoint in line with `event.target.id !== 'gatsby-focus-wrapper'` and investigate what was broken b y the development environment you use. Perhaps Gatsby is not adding this ID anymore, or used a different one...

[2020-08-28 20:19] glen0071 commented on #274
@wojtekmaj I'm no longer working on the project that was running into this bug. I think your fix worked, but I never finished up the PR there before moving onto other features. I gave them a link to this Issue in case they want to implement it themselves, but otherwise you could close this issue if you want.

[2020-08-29 00:39] BKDruby opened #293 "Disable manual input."
How can I disable manual input date from keyboard?
I wan't to leave possibility use calendar UI only.

[2020-08-30 07:24] pedrofsantoscom commented on #292
@wojtekmaj works, thanks

[2020-08-30 07:24] #292 closed, assigned to nobody

[2020-08-30 07:32] pedrofsantoscom commented on #274
@wojtekmaj on my end, setting the condition as `event.target.id !== ''` makes the calendar work without closing itself.
i'll be testing it further but it seems it's working fine this way.

[2020-08-30 09:20] pedrofsantoscom commented on #274
@wojtekmaj  The issue happens when the date picker is inside the MUI Dialog, this isn't related with gatsby. Check the demo below:
https://codesandbox.io/s/react-date-picker-forked-1ee7e?file=/index.js

You have the normal working date picker on the page, and then you have the date picker inside the MUI Dialog. Click the button, open the calendar, click on the "month" to select the month on the mo

[2020-08-31 10:30] pedrofsantoscom commented on #274
Adding `disableEnforceFocus={true}` to Material UI Dialog fixed it:
[code]

[2020-08-31 14:02] pedrofsantoscom commented on #288
@podlesny are you using the DatePicker inside a modal/dialog, perhaps from MaterialUI? i'm having the same issue with the DatePicker inside the MaterialUI Dialog
you can try this demo: https://codesandbox.io/s/react-date-picker-forked-1ee7e?file=/index.js
- date picker on the page works fine.
- date picker inside the popup (click the button to open the popup), the onChange only gets triggered if y

[2020-09-01 10:59] pedrofsantoscom commented on #288
@podlesny Fixed the safari bug using https://github.com/wojtekmaj/react-date-picker/issues/274#issuecomment-650042494 code and then making this change to the condition:
[code]

[2020-09-04 15:28] goodlythink opened #294 "Thai Year Problem (Buddhist)"
Thai Year Problem in input
Calendar display 2563
but input display 2560
set locale="th"

[2020-09-07 08:48] wojtekmaj commented on #294
Can you include a reproduction CodeSandbox based on e.g. https://codesandbox.io/s/react-date-picker-c430c ?

[2020-09-09 06:07] goodlythink commented on #294
https://codesandbox.io/s/react-date-picker-forked-3n9qw

[2020-09-09 19:07] snesjhon commented on #293
This is was the suggested solution:

https://github.com/wojtekmaj/react-date-picker/issues/78

[2020-09-10 13:29] #293 closed, assigned to nobody

[2020-09-10 20:02] wojtekmaj opened #297 "Native input element has invalid min/max values"
Default range for year input is 1 to 275760, but native input has 1821-04-20 to 5760-09-13 set by default.

[2020-09-11 08:33] akshayNagdive opened #299 "DatePicker take the 00 value from input."
Hello ,
when click on datepicker it would open with date but when we entered date using key board if we input 00/00/0000 it would allo...it ll taking 00/00/0000 as today date while searching but the question is it will be not allowed 00/00/0000 it replace by today date please check theattach file as well .
![ticket](https://user-images.githubusercontent.com/38831467/92893759-977aaf80-f437-11ea-876

[2020-09-11 15:24] RubberChickenParadise opened #300 "Uncaught Error: Failed to get month from date: 2020-09-22T05:00:00.000Z."
I am using local storage to store some form data for caching between reloads.  The date is stored into the local storage as 2020-09-25T05:00:00.000Z (local storage json `{"hasValue":true,"processed":{"start":"2020-09-25T05:00:00.000Z"}}` JSX `<DatePicker minDate={new Date('2000-01-01')} format="M/d/yyyy" value={state.processed?.start} onChange={e => dispatch({ type: 'processedFrom', payload: e })}

[2020-09-11 16:01] RubberChickenParadise commented on #300
I am not a type script developer but believe the following in the `renderCalendar()` function of `DatePicker.jsx` just before the return would fix the issue

`const dateValue = typeof value === "string" ? new Date(value) : value;`

There may be a better way to handle this though so I'll wait to see if someone picks this up.

[2020-09-11 18:07] wojtekmaj commented on #294
Thanks for reporting this. For now, fixed the date to display 2020 instead of static text of 2560, but full support of Buddhist year will come.

[2020-09-11 19:41] #294 closed, assigned to wojtekmaj

[2020-09-11 19:41] #297 closed, assigned to wojtekmaj

[2020-09-13 09:58] pedrofsantoscom opened #304 "Huge horizontal scroll on dir="rtl""
While having the page on `dir="rtl"`, the date picker component creates a huge horizontal scrollable area.
![image](https://user-images.githubusercontent.com/2325978/93015272-0844d780-f5b0-11ea-8234-1699819c37d8.png)
Open the popup on this demo: https://codesandbox.io/s/react-date-picker-forked-zkwwb

The issue only happens with react-date-picker.
I found out that unchecking `.MuiDialogContent-roo

[2020-09-13 10:50] pedrofsantoscom commented on #304
Fixed with this css:
[code]

[2020-09-14 12:20] jeffrson opened #305 "Workspaces warning when installing React-Date-Picker using yarn"
Hi,

in a yarn workspaces monorepo (actually controlled by lerna, but this shouldn't matter) we get this warning for every dependency to

react-date-picker
and
@wojtekmaj/react-daterange-picker

**Workspaces can only be enabled in private projects.**

This is probably because of the "workspace" entry in package.json and obviously missing "private": true

[2020-09-15 05:56] wojtekmaj commented on #305
Shoot. That shouldn't have been published as a workspace. Didn't know this would also apply to anyone using the package.

You're using React-Date-Picker as a dependency from npm, not cloning it yourself from GitHub or anything like that?

[2020-09-15 06:41] jeffrson commented on #305
Yes.

The warning appears, when I run yarn inside the "outer" workspace. I don't know how yarn/yarn2 handles this.

[2020-09-15 07:05] moecantplay opened #306 "Overlay while the input is focused"
Hi,
I'm wondering if anyone has ever implemented this datepicker with an overlay background behind it when focused, so just the datepicker and the input field would be visible while the rest of the page is covered with an transparent overlay..
If so, how can we achieve that? If not, would anyone mind helping me out?

[2020-09-15 09:06] wojtekmaj commented on #305
Fixed in v8.0.3. Thanks!

[2020-09-15 09:06] #305 closed, assigned to wojtekmaj

[2020-09-15 09:15] wojtekmaj commented on #306
Since React-Date-Picker is built with a bunch of normal inputs, all you have to do is wrap it with your own div and e.g. listen for onFocus and onBlur events to trigger an overlay. It should be not much different than implementing it for a single text input.

[2020-09-15 20:01] jeffrson commented on #305
Thanks for the quick fix!

[2020-09-16 09:53] pedrofsantoscom commented on #304
Not a proper fix. On safari, sometimes when scrolling vertically, the browser scrolls all the way to the end of the horizontal scrollable area, making all the content inside the popup invisible to the user.
@wojtekmaj any idea what react-date-picker is doing to cause that huge h-scrollable area?

[2020-09-16 11:43] pedrofsantoscom commented on #304
Fix for RTL:
[code]

@wojtekmaj can you add this fix to the repo?

[2020-09-17 08:33] wojtekmaj commented on #304
Changed the way native input is hidden in 5075550bb075754ad6993af4a8ebcc6c2190451b. It should no longer cause this side effect.

[2020-09-17 08:33] #304 closed, assigned to wojtekmaj

[2020-09-21 15:43] AndriiBoiko1 opened #307 "Month abbreviations"
Hi @wojtekmaj, just wondering if there is any possibility to show short months abbrs in picker
like this:
![image](https://user-images.githubusercontent.com/57752495/93859578-797a3e00-fcc6-11ea-8865-712ebb485e0e.png)

instead of
![image](https://user-images.githubusercontent.com/57752495/93859392-40da6480-fcc6-11ea-82b5-322665eee550.png)

Thanks in advance!

[2020-09-21 18:57] silvia-ribeiro opened #308 "Avoid tabbing inside calendar"
Hello,
Is there a way to avoid tab key navigation inside the calendar? So that when you tab inside the date picker last input (in our case 'year') it ignores all elements inside the calendar and goes to the next tabbable element?

Our case is the following. We have two react date pickers for a "from-to" case, but they need to be independent, it's not a range date picker. When finishing writing the

[2020-09-22 08:49] moecantplay commented on #266
I'm having a similar issue like @HARIKSREEE

`<Fit />'s child needed to have its width decreased to 310px`

[2020-09-22 13:22] #307 closed, assigned to nobody

[2020-09-23 11:04] BernardoMG commented on #308
+1

[2020-09-23 11:09] RicCastelhano commented on #308
+1

[2020-09-24 06:05] moeen-basra commented on #288
@pedrofsantoscom some time `event.target.className` is object in that case its throwing exception

[code]

Here is how I fixed this

[code]

[2020-09-24 08:39] wojtekmaj commented on #307
Sorry, not possible since the value has to be typed in and supporting text values in all languages would be a nightmare.

[2020-09-29 14:28] mzalevski commented on #300
same problem

[2020-10-02 11:55] jbaiter opened #309 "Firefox: Manually entering year impossible when maxDate is set"
Whenever `maxDate` is set to a value, manual modifications to the year input-box are ignored in Firefox.
This works just fine in Chrome, the behavior is identical no matter if `maxDate` is defined or not.
Setting `minDate` does not trigger the bug, it's restricted to `maxDate` (no matter the value from what I could tell).

Demo: https://8nkuz.csb.app/
Source: https://codesandbox.io/s/react-date-pi

[2020-10-06 10:03] sjahan opened #310 "Issue with iOS in Japanese"
Hi,

I have a strange issue with your lib, which works great in any other condition, but only in Japanese on iOS.
Here is a video that will show you what happens: [https://streamable.com/lwfsrt](https://streamable.com/lwfsrt)

When any of the three sub inputs is filled, the content gets automatically selected, the contextual menu appears (that is the black box you can see in the video, it shows cl

[2020-10-07 08:59] jbaiter commented on #309
I was able to track down the source of this bug, it's due to this:

https://developer.mozilla.org/en-US/docs/Web/API/Window/getSelection#Related_objects

This causes this condition to evaluate to `false`, even if the key pressed is a number key and the whole input value was selected in Firefox:
[code]
https://github.com/wojtekmaj/react-date-picker/blob/master/src/DateInput/Input.jsx#L52-L56

~~I'l

[2020-10-12 11:18] ivica-ivanovski opened #312 "Placeholder Text"
Hello,
I was wondering it is possible to add placeholder text instead of  --/--/---- or change this text

[2020-10-12 15:16] Attamjot commented on #271
What all changes have you made, will be great if you can share the code ?

[2020-10-12 17:14] WhatNodyn opened #313 "Global CSS imports in node_modules are not supported by Next.js"
Next.js is a framework that adds some niceties around React (among which, heavy automation for Server-Side Rendering).

Due to time constraints, we had to migrate to it from pure React, and while ensuring our code is fully working we ran across the following error:
[code]

This is a voluntary decision taken by the Next.js team, as is documented [here](https://err.sh/next.js/css-npm).

Is there any

[2020-10-14 15:56] wojtekmaj commented on #312
https://github.com/wojtekmaj/react-date-picker/blob/master/README.md

Ctrl + F placeholder

You can't however replace the whole thing; React-Date-Picker contains multiple inputs and there's no way around it.

[2020-10-14 15:56] #312 closed, assigned to nobody

[2020-10-21 12:33] shubhamambastha opened #314 "Remove button tag from DOM"
Remove button tag from DOM too if we provide `clearIcon={null}`.
currently, there is a button present even if we hide that clear icon.

[2020-10-26 02:52] AKclown commented on #292
thanks

[2020-10-27 15:51] gregmcguffey opened #315 "Clear button does not clear partial entries"
I would expect the clear button to always clear the input(s) for date (and time....this is an issue with all the controls: date, time and date/time). This only occurs if the current value is null.

You can reproduce this on the demo sites:
1. enter a nine in days
2. click the clear button
-> 9 is not cleared.

3. pick a date
4. hit clear
5. everything cleared
6. enter 7 for month
7. hit clear
-> m

[2020-10-27 19:51] TemaniH commented on #271
@Attamjot
You can see solution - https://github.com/wojtekmaj/react-calendar/issues/358#issuecomment-634847447

It didn't work for me for v3.x, so you can look at my W/A too:
https://github.com/wojtekmaj/react-calendar/issues/342#issuecomment-716738084

[2020-10-29 16:03] wojtekmaj commented on #314
That's present for years now, since https://github.com/wojtekmaj/react-date-picker/commit/423b2d8ea390c41564d2baa5acd10e0c37aae64a.

[2020-10-29 16:03] #314 closed, assigned to wojtekmaj

[2020-10-31 12:30] het-parekh opened #316 "Can we uniquely identify every DatePicker instance ?"
First of all I want to say that this is really easy to use and all-rounder calendar library. My only problem is that it doesn't have any way to pass the current instance attributes [since event handling is not supported] due to which having multiple calendars on a single page dynamically is really difficult. As when I change the the value of a single calendar , the value of all others also updates

[2020-11-01 11:29] #316 closed, assigned to nobody

[2020-11-03 04:14] binarykitchen commented on #266
And me too, seeing this warning `<Fit />'s child needed to have its height decreased to 0px. `

[2020-11-04 06:48] jiangyh1024 commented on #91
@asvetliakov there is no renderCalendar method

[2020-11-04 07:44] jiangyh1024 commented on #91
finally, I found a solution to solving this problem

using react-calendar and wrap it into 'popover' which is from 'material-ui'

![image](https://user-images.githubusercontent.com/34930870/98082937-8ccb1c80-1eb4-11eb-9996-58e8c2a4251a.png)

works like a charm

![image](https://user-images.githubusercontent.com/34930870/98082999-a40a0a00-1eb4-11eb-87ee-2d1bb5060571.png)

[2020-11-06 15:21] kousenlsn commented on #255
Any news on this issue? I'm also needing it, thanks!

[2020-11-15 17:58] PokerJava opened #317 "Add support for Buddhist year"
locale={'th'}
 output 01/11/2020
 wrong display anno domini

[2020-11-15 21:27] wojtekmaj commented on #317
Related to #294

[2020-11-16 18:48] brunopego commented on #280
I'm having the same issue.

[2020-11-16 18:48] brunopego commented on #280
@wojtekmaj are you aware of this problem?

[2020-11-16 19:22] wojtekmaj commented on #280
MMM is Month abbreviated in [Unicode Technical Standard #35](https://www.unicode.org/reports/tr35/tr35-dates.html#Date_Field_Symbol_Table) we're following as stated in documentation.

According to this table, use M or MM for numeric month.

[2020-11-16 19:25] #280 closed, assigned to wojtekmaj

[2020-11-17 09:58] pkonieczniak commented on #266
I noticed the same problem. ` <Fit />'s child needed to have its width decreased to 262px`
In our application, we have a sidebar form which is also a modal.
When the DatePicker component is the last child after selecting the date the app is frozen.

[2020-11-17 20:21] repjov opened #318 "Sometime component overload CPU and tab crashes"
The date-picker component being used crashes on Firefox/Chrome on Linux and Windows (Upd: For MacOS the same for Safari/Chrome).

**How to catch this up**
I have several datepickers on the page, and if I randomly pick dates in each input in some moment it stop works at all, and the tab crashes.

[2020-11-17 21:38] marcoancona commented on #274
Facing a similar issue with a custom calendar implementation. Maybe a `shouldCalendarClose` optional prop that, given the event triggering the close, can return true/false to change the behavior?

[2020-11-18 15:40] pkonieczniak commented on #266
In my case, the issue was that we have custom datePicker styles

[code]

In some cases, input was placed at the bottom, and after clicking on input the calendar was open and a scrollbar was added dynamically, then the screen was frozen.

The simplest workaround in my case was adding the `calendarClassName="absolute"` to DatePicker component

[2020-11-18 16:49] fabianallendorf commented on #261
This would be a very interesting feature. I am facing a similar problems. I want to render presets, e.g. a button to "Last Month" or "Last Year" which automatically sets the desired dates. Is this feature still relevant?

[2020-11-18 22:04] wojtekmaj commented on #261
Relevant? Yes. Coming soon? Unfortunately no way. Too busy as a new dad :)

[2020-11-18 22:05] wojtekmaj commented on #274
Good idea, I think it's worth implementing.

[2020-11-18 22:06] wojtekmaj commented on #318
Are you able to create a reproducible demo on CodeSandbox?

[2020-11-19 02:43] zsytssk opened #320 "how set locale? is there a demo for this?"
how set locale? is there a demo for this?

[2020-11-19 08:22] repjov commented on #318
Sure I will try.

[2020-11-20 11:38] wojtekmaj commented on #320
You set `locale` using `locale` prop as stated in README.

[2020-11-20 11:38] #320 closed, assigned to nobody

[2020-11-24 08:11] IronTony opened #321 "Show only Year picker"
Hi all,

I am a little bit stucked in showing only a date picker with the year. So my question: is it possible to show only a Year picker? Can you show an example code please?

Thank you in advance

[2020-11-24 11:32] benesva4 commented on #229
Try to give it `position: fixed;`

[2020-11-24 14:39] jorrit commented on #181
❤️- ^17.0

[2020-11-25 21:52] jonathanSimonney opened #322 "controlled datepicker still allowing displayed year to be uncontrolled"
Hello, and thank you very much for still maintaining this amazing npm package.

I think the controlled way of using it has a bug, as reproduced on this video : https://www.loom.com/share/2b74bca8f1974fe6bf346d1aeec0f8e8 (it's only 15 seconds long).

The codesandbox where I did it is https://codesandbox.io/s/try-reproduce-controlled-datepicker-bug-uj68z?file=/src/App.js.

As you can see, the input

[2020-11-29 07:48] #168 closed, assigned to nobody

[2020-11-29 23:25] viiiprock commented on #313
You should import with nostyle and with css separately
Read more here
https://github.com/wojtekmaj/react-date-picker#custom-styling

[2020-11-30 14:14] jorrit opened #323 "Serverside rendering broken by navigator access in Input.js"
Since 8.0.4 I can't build my application because of the following error:

This broke in commit 7c6af9dc1b85da949258fc5e80058740ea8ad81e.

I see two solutions:

1. prefix `navigator.userAgent...` with `typeof navigator !== 'undefined' && `.
2. Move `navigator.userAgent.match(/ Edge\/1/)` to the `if` statement in onFocus().

[2020-11-30 14:46] wojtekmaj commented on #323
Thanks for reporting.

Ad 1 - actually window can be undefined in some envs as well. I think the best approach would be:

[code]

[2020-11-30 14:48] #323 closed, assigned to wojtekmaj

[2020-11-30 14:50] wojtekmaj commented on #323
v8.0.5 released. Thanks again

[2020-11-30 18:31] #313 closed, assigned to wojtekmaj

[2020-12-01 11:06] suraj-logics opened #324 "selected date is shown selected in all months"
In datepicker current selected date is selected in all months

[2020-12-01 13:31] wojtekmaj commented on #324
That doesn't sound right, can you share your implementation, preferably on CodeSandbox?

[2020-12-02 16:22] ninavizir opened #325 "Firefox: unable to manually edit day and month"
I'm unable to edit day and month input manually after initial date selection from:
**Firefox 83.0**

**To reproduce**
- open [demo page](https://projects.wojtekmaj.pl/react-date-picker/) in firefox
- select a date from the calendar
- try to edit day or month through the keyboard

I usually get moved to the year input where editing works.

[2020-12-03 18:02] n8turner opened #326 "Overflow: auto causing visibility issue, no access to rootBoundary property"
When the date picker is inside a parent container which has an overflowY set to scroll, or auto the popup is cut off and invokes a horizontal scroll in the container instead of breaking the container border and appearing on top as a popup. Because we are not able to access the Popper library implementation or set the rootBoundary property in order to ignore the overflow.

[2020-12-04 17:58] austincondiff opened #327 "Provide prop to suppress select menu for month names"
I prefer the up/down arrow key navigation when increasing/decreasing numbers. I am expecting the same even if I format the date to use month names. I would like a prop to allow for this behavior even when dates are formatted to use month names.

[2020-12-08 18:04] jtieu-r7 commented on #255
Looks like it doesn't exist yet. Also looks like the component type is incorrect since it's extensible with a constructor, contrary to the current type @8.0.5:

[code]

Seems like it needs to be updated?

[2020-12-08 21:25] adhirchakravarti opened #328 "Clicking on abbreviated / full month name opens both the select dropdown input and the calendar"
Hi Wojciech Maj,

First off, love the react-date-picker, thanks for creating it!

When using the abbreviated / full month name in the `format` prop (`format="dd MMM y"`), clicking the month name or the caret symbol next to it, opens both the select dropdown input and the calendar. The select dropdown is open and covering the calendar behind it. I wanted to attach a screenshot but Github is having

[2020-12-08 23:52] adhirchakravarti commented on #328
Reproducible example: https://codesandbox.io/s/frosty-galileo-d2rrh?file=/src/App.js

[2020-12-09 10:21] wojtekmaj commented on #255
PRs regarding TypeScript are welcome. I'm not maintaining this part of the package because I'm not familiar with TypeScript.

In the future, typings will be moved to DefinitelyTyped.

[2020-12-09 13:02] yanfaingold opened #330 "days include full date in date picker (how to hide/disable?)"
![image](https://user-images.githubusercontent.com/9849056/101633075-7114e200-3a2f-11eb-8ecb-06a92f59c7ea.png)

how i can hide or disable the following label after the day, *

i dont want to display the date text followed after the day

[2020-12-28 09:30] MihaelaTIMIS commented on #185
any updates @wojtekmaj ?

[2020-12-28 12:36] arehman97 commented on #185
@MihaelaTIMIS Well this worked for me format="M/d/y". Now it takes only a single zero.

[2020-12-28 23:01] frofro1979 opened #332 "datepicker not filling parent container"
![image](https://user-images.githubusercontent.com/65353995/103247717-804fc700-492d-11eb-9f46-0a0305f00f25.png)

Using the default css. Here is my code

[code]

I don't have any other css on this page. Do I need to style the date picker directly?

[2021-01-05 17:35] pjg opened #333 "Cannot style wrapper when invalid input is typed"
User can type invalid date into the input field. I'd like to control the styling of the wrapper (`.react-date-picker__wrapper`) whenever such situation occurs. Currently this does not seem to be possible as there's only native `:invalid` pseudo-class on the hidden input, which is insufficient as one cannot style parent depending on the state of the child.

Since there's already `.react-date-picker

[2021-01-06 23:56] jtieu-r7 commented on #266
I'm seeing errors similar to what's been posted in my react testing library tests. Applying ```calendarClassName="absolute"``` doesn't do anything. Anybody have any other ideas on how to fix this?

[2021-01-07 07:48] pkonieczniak commented on #266
In my case, "absolute" was a global utility CSS class defined across the project.

[code]

You can also make a similar helper class or try to set inline styles on the component.

[2021-01-07 23:50] lmaldonadoch opened #334 "Calendar won't close due to Issues with Fit component"
# Configuration
* React Version

* jQuery version

# Behavior
When using the unstyled version of the component, the `Fit` component has no `position: relative` and the children do not have a `position: absolute` properties, which prevents it from closing after setting the date even when explicitly adding the property in the component.

# Expected behavior
For the calendar to close on date selectio

[2021-01-18 11:21] aktoriukas opened #336 "Select week"
is there a way for me to make this on hover select week, not a day?
the way it returns day - have no issues with that, only on hover would like it to mark the whole week, not a day.
is there an easy way of doing this?
thanks in advance.

[2021-01-26 13:00] liamtarpey opened #337 "Disable a list of dates"
Hi there - I couldn't see in your docs that there's a way to disable given days anywhere.

We essentially want to fetch some data from our backend and disable certain days based on this list (format TBD, can be adjusted to what works here)

Any way to do this currently? Same question for your other cool library `react-time-picker` :)

Thanks!

[2021-01-29 06:39] erikiva opened #338 "Date picker crashes in IE11"
When I type the date in IE11, it seems correct on month and date but then when it gets to the year it crashes with the error
`SCRIPT5022: Invalid date: Mon Jan 01 1 00:00:00 GMT-0500 (SA Pacific Standard Time)`

IE11 is supposed to have support for internationalization but even so I've tried adding the polyfill and this is still happening.
The locale is locale="en-US"
Any suggestions on what might

[2021-01-29 13:37] erikiva commented on #338
It seems as you type it initially tries to create a Date with year 1 which in IE11 is an Invalid Date.
This line above for the minValue also generates an Invalid Date
`var defaultMinDate = new Date('0001-01-01');`
![Screen Shot 2021-01-29 at 8 35 21 AM](https://user-images.githubusercontent.com/13215331/106281373-23398080-620d-11eb-8884-d9001f415ecd.png)

[2021-01-29 14:09] wojtekmaj commented on #338
It's actually a much simpler problem than internationalization.

IE handles this date just fine, it's when it gets passed to new Date() again that messes it up :D Apparently IE has a problem with dates < Unix 0, when passed to Date() constructor. Have a look:

![obraz](https://user-images.githubusercontent.com/5426427/106284358-6c0c2c00-6243-11eb-9937-bb0d276ab982.png)

[2021-01-29 14:15] wojtekmaj commented on #338
Ok, I added a check so that new Date() isn't called if we already have a date to begin with, which should, at least looking at the last 2 lines of the screenshot above, help with the issue.

#338

Could you have a look, maybe apply this fix by hand in your project and see if this fixes the problem? Once we have the confirmation it works for you we can release the fix.

[2021-01-29 18:08] erikiva commented on #338
I tried and it fixes it but it doesn't show the numbers being typed,  then the same error comes up this time from the Calendar.

[2021-01-29 18:28] wojtekmaj commented on #338
Thanks so much!

It is expected - calendar suffers from the very same issue and I raised this PR https://github.com/wojtekmaj/react-calendar/pull/480 to fix the same issue there.

Release incoming 👀 We'll see if we could fix the numbers not shown, although that would be a different ticket.

[2021-01-29 18:45] erikiva commented on #338
Thank you so much!

[2021-01-29 19:01] #338 closed, assigned to wojtekmaj

[2021-01-29 19:30] wojtekmaj commented on #338
v8.0.7 released with the fix applied to both React-Date-Picker and React-Calendar.

[2021-01-29 19:38] erikiva commented on #338
All good now, Thank you!!

[2021-01-29 19:54] wojtekmaj commented on #338
Like, _all_? The numbers typed are also shown?

[2021-01-29 20:03] erikiva commented on #338
Yes, for some reason it wasn't picking up my changes for the calendar, and you were faster in fixing the whole thing so just upgraded and now it's ok. I am running IE in parallels and sometimes it's weird.

[2021-02-01 14:20] eeeman1 opened #340 "Global CSS cannot be imported from within node_modules. Read more: https://err.sh/next.js/css-npm Location: node_modules\react-date-picker\dist\entry.js"
Global CSS cannot be imported from within node_modules.
Read more: https://err.sh/next.js/css-npm
Location: node_modules\react-date-picker\dist\entry.js

[2021-02-04 02:36] davistran86 commented on #340
This is what I use:

[code]

[2021-02-04 08:35] #268 closed, assigned to wojtekmaj

[2021-02-04 08:37] wojtekmaj commented on #337
[You can do this in the calendar](https://github.com/wojtekmaj/react-calendar/wiki/Recipes#selectively-disable-tiles) used by React-Date-Picker, but not in React-Date-Picker itself.

[2021-02-04 08:39] wojtekmaj commented on #336
I'd implement my own onChange function that, when called, finds week start/end and sets a range as value. For this to work properly the way to go would be [React-DateRange-Picker](/wojtekmaj/react-daterange-picker).

As to hover styling, that would be possible with React-Calendar's tileClassName, but it'd be quite a lot of work to get right.

[2021-02-04 10:00] aktoriukas commented on #336
To find a start and end of the week - done this already using date-picker (working very well) , but as for hover, still can't come up with a solution. If class names would contain weekday, that would be an easy task.

[2021-02-05 11:36] aktechbee opened #341 "autoFocus={true} this prop is missing in index export"
I am trying to use this prop as per mentioned in document but my eslint is showing error that this prop is not available.

Please add or let me know any workaround

[2021-02-08 11:33] JudeTejada opened #342 "Toggle date-picker on other component"
I'm currently using react-date-picker on my project and one of the feature on my project is that when I click the calendar icon the react-date-picker would show up with a onclick event, I'm new at this library and I'm currently reading the docs as per mentioned but I couldn't find any on how to implement it

[2021-02-08 17:08] lgrosz opened #343 "`showYearPicker` and `selectsRange` props are mutually exclusive and they shouldn't be"
[code]

I expect to be able to select two dates and have the years be highlighted. This is not the case.

Example is the same as [this](https://reactdatepicker.com/#example-date-range-for-one-datepicker), but with `showYearPicker` added.

[2021-02-08 17:15] lgrosz commented on #343
Upon further investigation, it just seems the `showYearPicker` is totally borked. [This](https://reactdatepicker.com/#example-range-quarter-picker) doesn't work either if you use that prop.

[2021-02-10 15:09] flora8984461 opened #344 "Using with Formik, cannot pass an `id` or `name` attribute to the input"
Hi, thanks for this library, it's really nice.

I have not seen anyone is using it with Formik in the issues. When I use it with Formik, it shows the following warning:

[code]

It seems due to the lack of attribute "id" and "name". Though I already used id and name (it should be passing by {...field} and {...rest}, and I added again id and name)

[code]
It seems that the DatePicker is not passing

[2021-02-13 20:52] rscotten commented on #174
@wojtekmaj So, it appears there's intentionally no `readOnly` prop?  Is there another preferred way for disabling the mobile keyboard?

[2021-02-13 22:07] wojtekmaj commented on #174
Well I wouldn't call that intentional, I would very much like that to be implemented but the issue described above makes it difficult.

I'd suggest just using disabled prop instead, or play with CSS user-select.

[2021-02-14 11:27] wojtekmaj commented on #344
Here's the thing: React-Date-Picker creates a set of inputs, so it's not possible to use `id` at all. `name` is passed to a hidden native date input, which is not editable by hand.

We would need to have support for, hm... Fieldsets? in Formik to make it work somehow.

[2021-02-14 11:27] #344 closed, assigned to wojtekmaj

[2021-02-16 12:26] wojtekmaj commented on #341
I'm happy to accept all contributions related to typings shipped with this package.

[2021-02-21 10:07] lahabibi opened #345 "Some Days are disabled but still selectable"
Some days in the calendar are disabled, cant see them but on hover of the mouse they show and are selectable.

[2021-02-22 09:01] wojtekmaj commented on #345
Looks like a styling issue. Are you able to reproduce it with default styling? If yes, please provide me with an example.

[2021-02-23 04:21] sanchits1999 opened #346 "Different Date Picker Styling when importing styles from library"
![image](https://user-images.githubusercontent.com/59724468/108801760-98099b80-75bc-11eb-92c2-0446de1ddfe5.png)

import DatePicker from "react-date-picker/dist/entry.nostyle";
import "react-date-picker/dist/DatePicker.css";
import "react-calendar/dist/Calendar.css";

<DatePicker
           onChange={onChange}
           value={value}
           isOpen={true}
/>

[2021-02-23 04:53] snrohit opened #347 "Calendar modal should only come on click of icon"
Hi,

Can this requirement be achieved?

User should be able to type in the dates freely, without calendar modal being pop out.
Calendar should only come when clicked on calendar icon explicitly.

Any help will be appreciated.

Thanks

[2021-02-23 11:39] gurmeetsinghmalhotra opened #348 "Get output in the defined format"
I have two issues

1) I have set the format of my calendar to "y-MM-dd". Is there a way to access the value selected by the user in the same format?
2) Currently user is able to change the date through the input field by using arrow keys as well as Calendar. Is there a way to restrict users only to change the date through the calendar and none other?

[2021-02-26 16:36] shanmukhirukunaga opened #349 "Minutes and seconds field input manually"
when I try to enter minutes field manually,  from 01 to 09 it is showing numbers as 001,002,003,004,005,006,007,008,009.
I have attached a screenshot, plz check it
![image](https://user-images.githubusercontent.com/76225434/109327490-67588900-787e-11eb-9358-328b679db29e.png)

[2021-02-28 17:48] jayhaluska commented on #288
Had the same bug both in mobile Safari (iOS 14.4) and desktop Safari (14.0.1). @pedrofsantoscom fix worked perfectly fine, thank you!

For me the calendar worked, when I opened it with the calendar icon. It did not work when I opened it through clicking on the date numbers.

This really needs an official fix.

[2021-03-01 13:35] wojtekmaj commented on #348
1. No there is not. However this format is compatible with date-fns format, so you can pass format to both React-Date-Picker and format() from date-fns (along with the Date() of course) to achieve the result you need.

2. I'd check what happens when you use `disabled` prop (don't remember, on mobile), or simply build a component wrapping React-Calendar yourself if you don't need React-Date-Picker

[2021-03-01 13:35] #348 closed, assigned to nobody

[2021-03-01 13:37] wojtekmaj commented on #349
Duplicate of #185

[2021-03-01 13:37] #349 closed, assigned to nobody

[2021-03-01 13:42] wojtekmaj commented on #347
This is idiotic, but try passing an onFocus function that throws an error.

There definitely should be a way to disable this functionality though, so I'm going to add a flag.

[2021-03-03 08:01] wojtekmaj commented on #288
I tested on Safari 14.0.1 and onChange works fine:
<video src="https://user-images.githubusercontent.com/5426427/109772814-bf84e780-7bfe-11eb-9680-062a12991e4e.mov"/>

and calendar opens on input click just fine as well:
<video src="https://user-images.githubusercontent.com/5426427/109772904-daeff280-7bfe-11eb-8242-884ec7bc992d.mov"/>

so I don't know how to reproduce this issue.

[2021-03-03 11:51] gius commented on #91
@wojtekmaj Could you please describe how to use it? Or do you just mean to set fixed on the date picker so that it does not scroll with the other content?

[2021-03-03 16:47] jayhaluska commented on #288
For me the bug was not the opening of the popup, this is working fine. The bug was that it was not possible to choose a value properly. When clicking on a day, the popup closes but the onChange event is not triggered, thus it was not possible to retrieve the date.

[2021-03-10 13:22] elemeNtk0 commented on #185
We solved the problem on our project by explicitly passing the date format: `format='d.M.yyyy'`

[2021-03-10 18:31] #185 closed, assigned to wojtekmaj

[2021-03-10 18:54] wojtekmaj commented on #185
Fixed in v8.1.0.

[2021-03-10 18:56] wojtekmaj commented on #321
Option 1: Use `maxDetail="decade"`. This will cause the calendar not to display any views more detailed than decade, so the most detailed input will be year.

Option 2: Use `format` prop as instructed in README.

[2021-03-10 18:56] #321 closed, assigned to nobody

[2021-03-10 18:58] wojtekmaj commented on #91
@gius

That's what I meant.

[2021-03-10 18:58] #94 closed, assigned to nobody

[2021-03-10 19:00] wojtekmaj commented on #122
Both Chrome and Firefox correctly focus on the first available input inside React-Date-Picker so this will be wontfix.

[2021-03-10 19:00] #122 closed, assigned to wojtekmaj

[2021-03-10 19:02] wojtekmaj commented on #156
Duplicate of #185

[2021-03-10 19:02] #156 closed, assigned to nobody

[2021-03-10 19:43] #181 closed, assigned to nobody

[2021-03-10 21:13] #177 closed, assigned to wojtekmaj

[2021-03-10 21:13] #170 closed, assigned to wojtekmaj

[2021-03-10 21:25] #186 closed, assigned to wojtekmaj

[2021-03-10 21:25] #191 closed, assigned to wojtekmaj

[2021-03-10 21:31] wojtekmaj commented on #300
Pass value as Date, not as string. This will fix the issue.

[2021-03-10 21:42] RubberChickenParadise commented on #300
@wojtekmaj I have the date as a date, then store the object to local storage in the browser using json.stringify to get the json string.  On page refresh pull the object from local storage and deserialize the json string into state.

    const obj = { date: new Date('2020','03','01')}
    const str = JSON.stringify(obj)
    const retreivedObj = JSON.parse(str)

The date is then a string and not a

[2021-03-10 21:50] RubberChickenParadise commented on #300
Sorry: was on mobile and hit the close with comment button

[2021-03-10 22:14] wojtekmaj commented on #300
You will need a smarter way to deserialize your JSON or simply transform value to Date() at the very last moment: at the moment of passing it to props.

[2021-03-10 22:14] #300 closed, assigned to nobody

[2021-03-13 08:35] rscotten commented on #174
@wojtekmaj I couldn't get CSS `user-select: none` to work.

So you're saying it's too difficult to pass a `readOnly` prop down into those three input elements?

For anybody else facing this problem, here's my minimized brute force solution:

[code]

[2021-03-13 17:33] gamegee opened #351 "Prevent typing invalid month and day values"
Hi,

First of all thanks for this amazing library :)

I noticed that it is allowed to enter invalid day number `> 31` or month `> 12`.
Instead of allowing user to enter invalid values, we could prevent such errors by rounding invalid values to the max value.
I guess it could improved the UX, but it's also opinionated.

IMHO it improves UX, because even if the input is not valid internally, your fo

[2021-03-16 20:34] ovidiumihaibelciug opened #352 "Manually toggle focus using refs"
Hello, first of all thank you for creating this awesome library!

I'm struggling to find a way to manually focus on the input. I tried adding a ref, but it doesn't include a focus method. I saw that there is an autoFocus prop, however, I'm looking for a method to focus on the day part of the input when a key (enter) is pressed. So if the user presses on "enter" I would like to trigger a focus on t

[2021-03-17 03:12] thuanKJ commented on #317
Hi @wojtekmaj ,
Do you have any updates for this issue?  This one is blocking me right now. I'm trying to find a solution to work around when i pick a date with 'th-TH' locale.

[2021-03-17 17:22] boroth commented on #103
I'm running into a similar issue as @Luis-Palacios . The DatePicker (Calendar) prevents users from clicking anything beyond the minDate and maxDate properly, but if someone types in a date outside of the range, the onChange event is never fired.

This means when the user submits the form and validation happens, the value of the DatePicker element is either:

1. null, so it causes confusion for val

[2021-03-25 07:59] wojtekmaj commented on #346
Your page styling applied to general elements like buttons affects Calendar styling. That's how CSS works. You will have to write your own custom styles.

[2021-04-07 05:50] OZZlE commented on #253
This is how the onChange signature needs to be defined as:

    const Component = (props) => {
      const [value, setValue] = useState(new Date());

      const onChange = (date: Date | Date[]):void => {
        if (date instanceof Date) {
          setValue(date)
        }
      }

      return (
        <DatePicker onChange={onChange} value={value} />
      )
    }

Not sure how you can select

[2021-04-07 06:01] OZZlE opened #353 "Wrong date is selected"
I'm saving the date in localStorage and I noticed that it always saves the day before...

So if I select: 1970-01-01 it instead stores this:

1969-12-31T23:00:00.000Z

Work around for now I found was to do this:

    const onBirthDateChange = (date: Date | Date[]):void => {
      if (!(date instanceof Date)) {
        return
      }

      // fix - otherwise it sets the day before at 23 PM ??

[2021-04-07 07:11] kabulzhan commented on #308
Has this issue been resolved somehow? The Tab navigation is highly unintuitive.

[2021-04-07 07:15] wojtekmaj commented on #353
Duplicate of #222
Duplicate of #263

[2021-04-07 07:15] #353 closed, assigned to nobody

[2021-04-07 07:17] wojtekmaj commented on #253
`returnValue="range"` would cause React-Date-Picker to return range of dates, which may come in handy when you also use `maxDetail` to limit your selection to month/year/decade instead of day. So you can e.g. get `[January 1 2021 00:00:00, January 31 23:59:59]` when clicking on January.

[2021-04-07 09:52] silvia-ribeiro commented on #308
@kabulzhan I don't think there is a solution yet, and we haven't found one either.

[2021-04-13 12:15] amolksagar opened #354 "In IE11 manual Input on already selected input value does not change value unless existing value is deleted"
Hi,

I am using the latest version of react-date-picker(8.1.1) . All works fine with google chrome however in Internet explorer 11 I am facing an issue. If a date is already selected, say 22/12/2019 then if the user selects the day , it gets highlighted. In chrome user can directly start typing on top of the selection(overwrite) and it works but in IE11 when the user types to overwrite (when date/

[2021-04-15 06:16] cavishek39 opened #355 "Selected date is not shown in the input field"
When, I clicked on a different date other than the current date, that selected date is not showing in the date input field.

[2021-04-17 19:56] VictorBaba commented on #355
I have the same issue. Looks like is more a problem of Safari, because on Chrome everything is working.

[2021-04-20 11:15] ezulu opened #356 "Quarter / Year Picker keyboard navigation appears to be broken"
For Days / Month picker the keyboard navigation appears to be working fine. For quarter and year pickers the keyboard navigation does not transition from the arrow keys in the header of the calendar piece to the different selections of the calendar. I took the gif from your website with the example but couldn't find an open issue for this.

![reactDatePickerKeyboard](https://user-images.githubuser

[2021-04-20 14:14] wojtekmaj commented on #356
Wrong repository. Sorry!

[2021-04-20 14:14] #356 closed, assigned to nobody

[2021-04-26 10:53] ron51 commented on #355
Yes, I am facing the same issue. @VictorBaba @cavishek39 were you able to find an alternate solution?

[2021-04-29 13:13] makis-spy commented on #328
TIP: You can add css pointer-events:none to prevent the drop down opening

[2021-04-30 17:14] jdm000 commented on #308
This is big.  I wanted to use this component, but because of accessibility concerns (tabbing order being one of them) I had to disable your component today to meet our release date.

[2021-04-30 17:15] jdm000 commented on #284
+1

[2021-04-30 17:21] jdm000 opened #358 "Add optional 'title' prop for Clear and Calendar buttons"
It was revealed in my project's accessibility testing that the DatePicker doesn't put 'title' attributes in the buttons that it generates for both the Clear button and the Calendar button.  Screen readers rely on the 'title' attribute to identify what the button is for, and with the current version, all they read is just "button" with no other information.  Aria-label does help, but it is not pick

[2021-05-01 12:49] OsapBender opened #359 "Hello! Invalid prop `value` ... expected `number`."
I get the **warning: Failed prop type: Invalid prop `value` of type `string` supplied to `Input`, expected `number`.**

My code:
`
<DatePicker
 value={new Date(2017, 0, 1)}
          className='form-control'
          calendarIcon={IconCalendar}
          disabled={this.state.disabled}
          clearIcon={null}
          showLeadingZeros={true}
        />,
`

I do everything as in the example, bu

[2021-05-01 13:13] #359 closed, assigned to nobody

[2021-05-01 13:14] OsapBender commented on #359
Okay, I just restarted the project and it works

[2021-05-02 10:58] kabulzhan commented on #308
What other component did you use instead?

[2021-05-02 12:03] jdm000 commented on #308
Sorry poor wording on my part.  I didn’t disable the whole component but the calendar part of the component.

[2021-05-05 07:46] cavishek39 commented on #355
I've used material date picker now.

[2021-05-10 08:08] dawidholisz opened #360 "Add option to close the calendar on Esc key press"
It would be great to add a possibility to close the calendar popup via pressing `ESC` on the keyboard

[2021-05-14 13:26] aaronmw commented on #344
@wojtekmaj Does this not fundamentally break accessibility? How are we meant to connect a DateInput to a `label` without wrapping the entire field with the label (which is not always feasible)??

Maybe the `id` should be applied to the first of those input fields — the real purpose is to forge the connection between label and value, and enable things like clicking the label to focus the field. Hav

[2021-05-16 11:14] arpitprod commented on #209
After added `activeStartDate`, I can't change calendar's month or year

https://user-images.githubusercontent.com/19798516/118395050-ed0df880-b665-11eb-9d5b-321cff8bcc05.mov

[2021-05-18 23:25] Paxatax opened #361 "closeCalendar prop not working"
Hi,

I'm unable to keep the calendar open after selecting a date.

[code]

package.json
[code]

Is this a bug or am I doing something wrong? Running it in a NextJS app.

Thanks in advance.

[2021-05-25 15:19] hjrobinson commented on #361
Yeah, I'm having the same problem. I'm not using NextJS.

[2021-05-28 02:06] jaywcjlove commented on #340
https://github.com/uiwjs/react-md-editor/issues/52#issuecomment-848969341

Perfect solution. @eeeman1  @davistran86

[2021-05-28 15:43] #284 closed, assigned to wojtekmaj

[2021-06-02 11:35] Spacylab commented on #341
Seems like it's just a missing type
#363

[2021-06-07 20:46] billsaysthis opened #364 "maxDate not working"
Updated to RDP latest but still not seeing the expected behavior. Specifically the single `>` does not switch the calendar to the next month. Below is the critical portions of the code:

[code]

Using Devtools I can see that minDate and maxDate have the expected values. Note that minDate works as expected.

[2021-06-09 18:39] billsaysthis commented on #364
I'm no longer sure what's happening. I removed the maxDate prop and downgraded back to 8.0.3 and the next month affordance doesn't switch months. There are no JS errors in the console either.

[2021-06-11 02:28] Aliendre opened #365 "How to keep DatePicker always open?"

[2021-06-11 15:59] kolyasya opened #366 "Focus jumps over month if typing fast"
https://user-images.githubusercontent.com/3371143/121714873-f4021c80-cae6-11eb-908f-7888c2541968.mov

Faced a strange issue when typing numbers fast. Actually it wasn't intentional, this is the speed I'm really usually type with.
So if I hit 2 numbers quick the focus goes directly from the day to year input.

Any ideas how this can be fixed?

[2021-06-11 21:19] kabulzhan commented on #308
+1

[2021-06-11 21:24] kabulzhan opened #367 "Can you please add the functionality to set the default (initial) date earlier than the min date?"
Suppose you want to postpone an event and you want to set the original date as the initial (default) date, but you don't want users to be able to select a date earlier than the current date.

[2021-06-12 08:34] hungyiloo commented on #366
I'm getting this issue too. If typing slowly, it doesn't skip the month field and behaves normally. If typing fast, it skips over the month field.

[2021-06-15 05:31] judemorrissey opened #368 "Omitting locale prop does not properly use default value of browser locale as stated in README"
Observed on `8.2.0`

Using on both Firefox and Chrome, I realized the Calendar has Monday as the first day of the week, versus my expected Sunday as the first day of the week as my locale is `en-US`, as verified using `window.navigator.language` _and_ using `getUserLocale()` from the `get-user-locale` package as is used in `src/shared/dateFormatter.js`. If I explicitly provide the `locale` prop wi

[2021-06-15 08:24] aizaz-react opened #369 "How to change the output value format to yyyy-MM-dd?"

[2021-06-23 09:00] Kavin0016 opened #370 "When maxDate is less than current month or year the calendar showing current month while opening"
[code]
[code]
The above code shows current month while opening since the max date is 15 years back

[2021-06-23 21:21] JohnZonneveld opened #371 "Use of DatePicker in an edit form"
Trying to implement DatePicker into my react application. While creating an object I have no problem at all. If I select a date of 03/09/2002 it is saved as 2002-03-09 in the database.
However when I try to display it in my EditForm, although I set the value as value={tour.date} I see a value of 2002-03-08 in the react-date-picker__inputGroup class.
When I click on the field my app crashes with th

[2021-07-04 17:29] leesei opened #373 "`Uncaught TypeError: (0 , _getUserLocale.default) is not a function` in Snowpack"
[code]

Webpage shows:

[code]

![Screenshot](https://user-images.githubusercontent.com/544400/124394104-71106280-dd30-11eb-8681-1c5650f80210.png)

[2021-07-06 03:55] Tanmay2711 opened #374 "Need to open datepicker window with specific month and year"
Hi Team,

we are using datepicker component and we have requirement as below -
When user clicks on datepicker icon, user should see specific month and year page. Default it opens with current month and year and today's date selected.

E.g. If we want to allow user to select any date from month and year in past or future, then after opening datepicker window user should see that specific month and

[2021-07-08 22:59] usematics opened #375 "Input value not updated when out of boundary date is typed"
- Create a DatePicker setting a minDate and maxDate. Let's say max date is 31/07/2021
- Type a date out of the maxDate, for example 20/9/2021
- Click out of the calendar to hide the calendar
- The month (or day) will show a red background, keeping the typed date. The value will remain with the initial value, but will not update the displaying date.
- Since it is incorrect date, the onChange event

[2021-07-09 06:57] wojtekmaj commented on #369
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString

[2021-07-09 06:57] #369 closed, assigned to nobody

[2021-07-09 06:57] wojtekmaj commented on #341
Fixed in c097c3eba25d92620e2b3a778a5b654e1a9f4842.

[2021-07-09 06:57] #341 closed, assigned to wojtekmaj

[2021-07-13 16:37] wmcg commented on #266
Thanks @pkonieczniak this fixed my problem after a frustrating debugging session.

[2021-07-15 11:10] happyhappycode opened #377 "How can I build a responsive structure?"
I need to get the calendar and options range section separately because the options range should be hidden in a specific size of screen.

[2021-07-16 09:43] WillJiCar commented on #209
This issue is still happening, adding activeStartDate breaks the back and next buttons on the calendar.

I had to put in a hacky workaround. I'm using Formik with the date field being null initially (and so the calendar is blank on load) - when the component loads it creates a useState which stores this initial value (either null, or a date).

`const [date, setDate] = useState(field.value) //Will

[2021-07-22 09:27] SamPro910 opened #378 "Can't even change date with anything. Jumping back to current day. OLD: Can only change date with manual input"
Hello!
I am learning react and can't get `react-date-picker` to work.
It simply doesn't change the date on calendar click, nor does the clear button work.

These are my imports:
[code]
Yes I use a lot of stuff...

And here is the """code (Component call only)""":
[code]

value and onChange defined:
`const [value, onChange] = useState(new Date());`

What is wrong???

EDIT:
it was `onChange` not `on

[2021-08-01 23:31] hjrobinson commented on #352
You can add a ref to your DatePicker component and then access the children:
[code]

[2021-08-12 10:31] honam867 opened #380 "Disable show month dropdown"
Hi, how can I disable month dropdown when I choosing format MMMM
![image](https://user-images.githubusercontent.com/57583732/129182348-913e96da-408b-45f1-8f43-b75ced41b1a9.png)

[2021-08-12 10:44] wojtekmaj commented on #380
Use`disabled`?

[2021-08-12 11:07] #380 closed, assigned to nobody

[2021-08-16 12:51] philohelp commented on #300
I ended up doing the following:
`    <DatePicker
      value={typeof value === "string" ? new Date(value) : value}
    />`

[2021-08-26 13:21] wojtekmaj commented on #354
Not sure what you mean exactly, do you mean that on IE 11 previous value in input doesn't get auto selected?

[2021-08-30 12:14] #337 closed, assigned to wojtekmaj

[2021-09-01 08:30] millscan opened #381 "Return undefined if invalid date"
Hello, thanks for all of your work on this library!

Currently, if you select a date and then change one of the inputs to an invalid date, onChange doesn't fire and the previous valid date remains.

Could we make it possible to fire an onChange event when one of the inputs changes, so that an invalid date will aways return undefined?

Alternatively, exposing onChange handlers for day/month/year in

[2021-09-01 08:52] wojtekmaj commented on #381
It's not as easy as it sounds, and has already been attempted in https://github.com/wojtekmaj/react-date-picker/pull/250.

[2021-09-01 08:53] wojtekmaj commented on #381
Duplicate of #234

[2021-09-01 08:53] #381 closed, assigned to nobody

[2021-09-01 08:54] wojtekmaj commented on #374
Use [React-Calendar](https://github.com/wojtekmaj/react-calendar)'s `activeStartDate`. Just pass it to `DatePicker`.

[2021-09-01 08:54] #374 closed, assigned to nobody

[2021-09-01 10:18] FranciscoMCG commented on #200
Same issue here. I've found a few threads with people asking for this. but no useful feedback so far. @wojtekmaj ?

[2021-09-08 07:11] avargasma opened #382 "Add option to disable specific days of the week"
Add option to disable specific days of the week, for example day 1 or 2.
Something like this.

![image1](https://user-images.githubusercontent.com/14371662/132463000-b4483556-f2f7-4162-9786-f382be7e4610.PNG)

[2021-09-08 13:40] wojtekmaj commented on #382
Duplicate of https://github.com/wojtekmaj/react-date-picker/issues/337

[2021-09-08 13:40] #382 closed, assigned to nobody

[2021-09-10 09:52] sameervaghela2121 commented on #300
If you're using react, keep the date in momentjs and pass it wherever you want.

[2021-09-10 14:33] RubberChickenParadise commented on #300
@sameervaghela2121

The issue comes in when persisting the data across page reloads and losing the js data in memory.  Using local storage requires serializing the js object to a json string then deserializing it on page load.

JSON.stringify and JSON.parse need some extra manipulation to get a Date object out since javascript does not have a date literal (unlike strings, numbers, bools, or regexe

[2021-09-13 00:31] #351 closed, assigned to nobody

[2021-09-13 13:45] shamprasadrh opened #383 "Wrapped component does not render"
When I wrapped react-date-picker and bundled using rollup it does not work.

[2021-09-13 16:58] wojtekmaj commented on #383
Too little information to help. Fill in the template, that's what it's for.

[2021-09-13 21:20] wojtekmaj commented on #355
Is there an easy way to reproduce this? Specific browser, browser version, specific code?

[2021-09-13 22:51] FrancoPaez opened #384 "Disable Saturdays, Sundays and current day"
Hi! I wanted to know if there is any way to make Saturdays and Sundays not selectable. I hope so because I like the component but if it does not have such action they will force me to change it. Thank you :)

**descriptive image**

![Captura](https://user-images.githubusercontent.com/82821596/133167031-f64d1835-bbcb-4da6-9ff9-b1074f0ff187.PNG)

Extra: By the way, something else I wanted to know wa

[2021-09-13 23:12] wojtekmaj commented on #384
Duplicate of #198

[2021-09-13 23:12] #384 closed, assigned to nobody

[2021-09-14 03:47] shamprasadrh commented on #383
We are trying to use react-date-picker in our component library. All we are trying to do is import react-date-picker and style it as per our needs but after bundling it is not working. we are getting below error.

![image](https://user-images.githubusercontent.com/28918386/133191733-58acfd2b-3d33-47f2-be0c-a45850f06e8f.png)

below is the code

[code]

[2021-09-14 12:59] Aliendre commented on #365
I got it using this:

.react-date-picker__calendar--closed {
    display: block !important;
}

[2021-09-14 12:59] #365 closed, assigned to nobody

[2021-09-17 08:47] PukarHub commented on #6
@wojtekmaj  Can we Add a Placeholder like this . Beacuse I am using react date range picker And I want to change the range placeholder with Start Date and End Date text Insted of default Date. Like below Image
![image](https://user-images.githubusercontent.com/39455331/133753579-b75f7571-11d7-4b26-b4b9-5b3233e35fff.png)

[2021-09-17 09:00] wojtekmaj commented on #6
No we cannot. There are multiple inputs inside that simulate the behavior of native date input.

[2021-09-17 09:05] PukarHub commented on #6
Okay, Can you suggest me any tricky ways to work on it. Beacuse I couldn't fulfill my  client design. They want their own label. If there's anthing you can suggest me to try out for this problem please let me know. Thankyou in Advance

[2021-09-19 21:24] FrancoPaez opened #385 "Disable only the days in the calendar"
Because when I use the tileDisabled attribute, not only are the selected days disabled, but also the months, years and decades?

You can check the code with the example in this [DEMO](https://codesandbox.io/s/select-calendar-hiring-d6re6?file=/src/App.js:1325-1337)

I attach screenshots just in case

The days are fine

![1](https://user-images.githubusercontent.com/82821596/133943439-7f310ff6-45b0

[2021-09-20 00:33] #346 closed, assigned to nobody

[2021-09-20 00:33] #345 closed, assigned to nobody

[2021-09-20 00:33] #343 closed, assigned to nobody

[2021-09-20 00:33] #342 closed, assigned to nobody

[2021-09-20 00:33] #340 closed, assigned to nobody

[2021-09-20 00:33] #336 closed, assigned to wojtekmaj

[2021-09-20 11:59] wojtekmaj commented on #343
Wrong repository.

[2021-09-20 12:04] wojtekmaj commented on #368
If `locale` provided to `formatMonth`/`formatShortMonth` was `true`, then `MonthSelect`'s `propTypes` warning would be triggered. So that ain't it.

However, in `MonthView`, there's a function called `getCalendarTypeFromLocale`. Could you debug it to see what's the input and output of this function? This should give us an idea on what's going on.

[2021-09-20 12:11] wojtekmaj commented on #385
`tileDisabled` function runs on all tiles, not only day tiles. You also need to check `view` value.

[2021-09-20 12:11] #385 closed, assigned to wojtekmaj

[2021-09-22 16:17] judemorrissey commented on #368
Hello! I would love to help, I naïvely tried to add `console.log` where I grepped `getCalendarTypeFromLocale` in the `react-calendar` package, but alas for some reason I did not seem to hit my log lines. For context, I haven't really done much debugging of node packages I consume, I've just done enough to occasionally look in the code to see how a package works internally.

Would you please be so

[2021-09-27 00:29] #334 closed, assigned to wojtekmaj

[2021-09-27 09:04] #328 closed, assigned to wojtekmaj

[2021-09-27 10:23] wojtekmaj commented on #330
Looks like you provided your own `formatShortWeekday` which did this.

[2021-09-27 10:23] #330 closed, assigned to wojtekmaj

[2021-09-27 10:25] wojtekmaj commented on #332
Add `.react-date-picker { width: 100% }`.

[2021-09-27 10:25] #332 closed, assigned to wojtekmaj

[2021-09-27 13:59] wojtekmaj commented on #333
Fixed that in [`make-event-props@1.3.0`](https://github.com/wojtekmaj/make-event-props/releases/tag/v1.3.0). This didn't seem to be a burning issue so we won't create a patch release just to force-bump make-event-props, but if fresh installs or manually installing said dependency should pick the update up.

[2021-09-27 13:59] #333 closed, assigned to wojtekmaj

[2021-09-27 14:23] wojtekmaj commented on #334
Well, for Calendar to be positioned properly you will need to follow the development warnings you're seeing. No way around it really.

[2021-09-29 11:17] sam-kaz opened #386 "Disable HTML 5 message bubble"
We are using this date picker with react hook forms with custom validation for our date picker, which is working fine the only issue we are having is on an invalid date its shows the message on the form with HTML5 message bubble (see below). Is there any way we could disable the message bubble on an actual control, instead of applying "noValidate" on the form itself.

![obraz](https://user-images.

[2021-10-04 00:34] #367 closed, assigned to nobody

[2021-10-04 00:34] #364 closed, assigned to nobody

[2021-10-04 14:10] Aliendre commented on #371
try this:

//on state
const [editDate, setEditDate] = useState(new Date(tour.date));

//on DatePicker
value={editDate}

[2021-10-04 15:58] sameervk opened #387 "Error when using keyboard to change date"
When I am trying to use a key (up, down, number) to change the value of the date, it is giving an error, although it works nicely in your demo. I am using the code exactly as in your example.

import React, { useState } from 'react';
import DatePicker from 'react-date-picker';

function MyApp() {
  const [value, onChange] = useState(new Date());

  return (
    <div>
      <DatePicker
        onCh

[2021-10-05 12:05] clamborg opened #388 "Error on typing any input field"
Hello,

We suddenly found crashes in the picker when manually typing in any of the m/d/y inputs. We were previously on v8.0.7, bumped to 8.3.3 and still occurring.

onChange is throwing Invalid date: [object Object] in getValue()
Simple code pen: https://codesandbox.io/s/small-framework-5uqgj?file=/src/App.js

Thanks for having a look!

[2021-10-05 12:18] #388 closed, assigned to nobody

[2021-10-05 12:18] clamborg commented on #388
duplicate of https://github.com/wojtekmaj/react-date-picker/issues/387

[2021-10-05 12:19] clamborg commented on #387
Here's a simple codepen https://codesandbox.io/s/small-framework-5uqgj?file=/src/App.js

Hitting this as well - Many thanks!

[2021-10-06 14:17] nguyennick197 commented on #387
I was also hitting this issue and it seemed to be breaking regardless of the date picker version so I had a guess that an update to one of its dependencies was the source. I checked which dependencies were updated recently and figured it might be the "make-event-props" package. Adding
[code]
to my package.json fixed the issue for me at least.

[2021-10-06 16:12] clamborg commented on #387
Thanks @nguyennick197 great work around for now - much appreciated!

[2021-10-07 16:36] indignant opened #389 "Demo on website won't let me type "09092014" (Firefox)"
Hey there, I'm looking for a date picker to use and I noticed the date picker demo on your project's page doesn't work as expected in OSX Firefox (93.0). It seems to work fine in Chrome.

Steps to reproduce:
1. go to https://projects.wojtekmaj.pl/react-date-picker/ in FF
2. note the date is set to today (while writing this it shows 10/07/2021)
3. focus the month input by clicking it
4. type a diff

[2021-10-08 16:28] hjrobinson commented on #366
Yeah, I'm having the same issue. If there were even an option to turn off the automatic jumping I would be fine with it. The chicken may have come before the egg. This solution to the issue below may have caused the issue:

https://github.com/wojtekmaj/react-date-picker/issues/128

[2021-10-08 19:00] savetheclocktower commented on #387
This one is biting an app I work on; our carelessness in not pinning to a specific version of this library means that we inherited this bug from `react-date-picker`'s recent update. @wojtekmaj, if the `make-event-props` package is indeed the cause, then you could fix the underlying issue in that repo instead. But since I haven't verified that on my own, I'm just chiming in to confirm that this app

[2021-10-08 19:01] savetheclocktower commented on #387
For other readers of this issue, I should also note that @nguyennick197's proposed workaround is great if you use Yarn, but there's not yet an equivalent workaround for NPM, short of using [npm-force-resolutions](https://github.com/rogeriochaves/npm-force-resolutions).

[2021-10-09 14:39] wojtekmaj commented on #387
Fixed in d6e30877e89d4f40ae57d26d85fa11f69520512d. Sorry!

[2021-10-09 14:39] #387 closed, assigned to nobody

[2021-10-10 18:57] wojtekmaj commented on #389
Kinda fixed in 03337f8 but not really.

See https://github.com/wojtekmaj/react-time-picker/issues/92

[2021-10-10 18:57] #389 closed, assigned to nobody

[2021-10-11 00:31] #370 closed, assigned to nobody

[2021-10-11 07:42] IsbahAhmed commented on #361
I am having same problem but i want to close date picker on select.

[2021-10-11 15:07] clamborg commented on #387
thanks for the quick turnaround @wojtekmaj - confirmed working for us with patch!

[2021-10-11 17:39] hjrobinson commented on #361
Since I was having the opposite problem you could try using the 8.2.0 release but you won't have the latest updates.

[2021-10-22 07:15] akkharolia commented on #59
You need to set initial state of isOpen state variable to true and then update the same on onCalendarOpen. change state of isOpen variable after success of onChange.
Here is my code:
`this.state={openDatePicker:true}`
`handleChange(){this.setState{openDatePicker:false}}`
`<DatePicker isOpen={this.state.openDatePicker} onCalendarOpen={() => this.setState({openDatePicker:true})} onChange={this.handl

[2021-10-25 00:33] #373 closed, assigned to nobody

[2021-10-25 00:33] #327 closed, assigned to nobody

[2021-10-25 00:33] #326 closed, assigned to nobody

[2021-10-25 00:33] #325 closed, assigned to nobody

[2021-10-25 00:33] #324 closed, assigned to wojtekmaj

[2021-10-25 05:29] wojtekmaj commented on #375
This is tricky because if we pass initial value, or null value, in onChange when invalid date is typed, then we could get very unexpected results when React-Date-Picker is used as controlled input. My suggestion would be to listen for onInvalid.

[2021-10-25 05:29] #375 closed, assigned to nobody

[2021-10-25 05:32] wojtekmaj commented on #327
Month names are using `<select>` for value selection and I don't see how we could (and whether we should) change the default, well-known dropdown behavior.

[2021-10-25 05:34] wojtekmaj commented on #326
I'm not sure if I fully understand the issue. This library is not using Popper.

[2021-10-25 10:29] #378 closed, assigned to nobody

[2021-11-01 00:32] #377 closed, assigned to nobody

[2021-11-01 00:32] #322 closed, assigned to nobody

[2021-11-01 00:32] #318 closed, assigned to nobody

[2021-11-01 16:35] wojtekmaj commented on #322
Hi - sorry for a major delay in replying....

Making this component _fully_ controlled wouldn't be possible, because WIP state (separate for day, month, year...) is not exposed. Rather, a valid date is returned in onChange and accepted back in value. So instead, onChange fires whenever a valid date is written in full - similarly to how native date input works - and allows it being updated using va

[2021-11-02 15:02] iway1 opened #392 "disableCalendar does not exist on type"
Typescript doesn't think that DatePicker has a disableCalendar prop

[2021-11-02 20:37] #392 closed, assigned to nobody

[2021-11-02 23:23] MuhammadAlbab opened #393 "[Question] can i completly change the placeholder to any string i want instead of date format?"

[2021-11-03 05:12] wojtekmaj commented on #195
Duplicate of #86

[2021-11-03 05:12] wojtekmaj commented on #393
Duplicate of #86

[2021-11-03 05:13] #393 closed, assigned to nobody

[2021-11-03 05:34] wojtekmaj commented on #310
@sjahan Is there any chance to "revive" the video?

[2021-11-07 17:22] sinups commented on #293
onFocus={document.activeElement.blur()}

[2021-11-09 13:46] #285 closed, assigned to wojtekmaj

[2021-11-16 18:04] gnoul4869 opened #395 "``<Fit />'s child needed to have its height decreased`` Warning in console"
Hi, there. I'm having this warning shown up everytime I toggle the calendar. The value ``334.78125px`` is not final, it changes everytime the page loads.
[code]
Every things work fine but I want to know what caused this warning and what can I do about this. Thanks in advanced!

[2021-11-22 00:31] #352 closed, assigned to nobody

[2021-11-22 00:31] #309 closed, assigned to nobody

[2021-11-22 00:31] #306 closed, assigned to wojtekmaj

[2021-11-22 00:31] #299 closed, assigned to nobody

[2021-11-22 00:31] #291 closed, assigned to wojtekmaj

[2021-11-22 00:31] #289 closed, assigned to nobody

[2021-11-22 10:49] wojtekmaj commented on #291
You can use `defaultView` prop in React-Calendar to do just that.

You can also use controlled prop `view` like so:
https://codesandbox.io/s/react-calendar-default-decade-xk5t1

[2021-11-23 17:51] tony-seng opened #396 "Issue with iOS 15 and Australian English"
Hi,

Since that iOS 15 got released on iPhone, we experienced an issue with the lib when the phone is in English (Australian).

The year input disappears and the last divider before the year is not "/" but "/17".
When we tried to input a date, the page crashed with the following error: "Invalid date: Invalid Date"

Cf attached video and error stack.

Kind regards,

https://user-images.githubuserco

[2021-11-23 19:56] wojtekmaj commented on #396
Congratulations, Apple!

![image](https://user-images.githubusercontent.com/5426427/143094685-027d570b-8f30-418d-84d2-b25e60e7e719.png)

[2021-11-23 20:07] wojtekmaj commented on #396
Reported to WebKit here: https://bugs.webkit.org/show_bug.cgi?id=230827

[2021-11-23 20:14] #396 closed, assigned to wojtekmaj

[2021-11-23 20:18] wojtekmaj commented on #396
Released in v8.3.6. Thanks!

[2021-11-24 11:02] tony-seng commented on #396
Thank you! it works great

[2021-11-29 00:31] #288 closed, assigned to wojtekmaj

[2021-11-29 00:31] #274 closed, assigned to wojtekmaj

[2021-11-29 00:31] #266 closed, assigned to nobody

[2021-11-30 05:24] wojtekmaj commented on #360
Duplicate of #285

[2021-11-30 05:24] #360 closed, assigned to wojtekmaj

[2021-11-30 13:59] wojtekmaj commented on #258
This was resolved in e8643de4177ea785b202c8f83c22c64e45dd6187. Typing values longer than max length causes focus to jump to the next field.

[2021-11-30 13:59] #258 closed, assigned to wojtekmaj

[2021-12-09 21:10] irunner-toptal commented on #103
Is there an answer to this? D: Would be nice if an onChange was triggered even if it was set to an invalid value ... the silent error is a killer

[2021-12-11 11:01] HPieters commented on #355
@wojtekmaj I can reproduce this issue on Safari when I use react-date-picker in a modal. It works just fine if I use it outside of a modal. The strange thing is that if you wrap DatePicker with a div and an onClick to control isOpen the area that is covered by the div (and calendar that opens) will actually fill the input.

Reproduction here: [https://codesandbox.io/s/react-date-picker-modal-examp

[2021-12-13 09:18] wojtekmaj opened #400 "Add `calendarProps` prop"
### Before you start - checklist

- [X] I have checked if this feature request is not already reported

### Description

Currently, calendar consumes all props with a few exceptions:

https://github.com/wojtekmaj/react-date-picker/blob/5f11efba15c47d854668527ceb9e56bd897c7aaf/src/DatePicker.jsx#L234-L240

This limits the possibilities of how React-Date-Picker and React-Calendar could be customized

[2021-12-14 12:33] craghagBg commented on #91
I tried with position fixed and dynamically setting top and left in the onCalendarOpen, but <Fit> override my styles :(

[2021-12-20 00:34] #354 closed, assigned to nobody

[2021-12-20 00:34] #257 closed, assigned to wojtekmaj

[2021-12-20 00:34] #255 closed, assigned to wojtekmaj

[2021-12-20 00:34] #248 closed, assigned to wojtekmaj

[2021-12-20 00:34] #247 closed, assigned to wojtekmaj

[2021-12-20 00:34] #234 closed, assigned to wojtekmaj

[2021-12-20 08:29] wojtekmaj commented on #255
Closed by https://github.com/DefinitelyTyped/DefinitelyTyped/pull/51210

[2021-12-24 00:32] chriscarrillo commented on #400
@wojtekmaj Thank you for this. I believe this would be a great feature to add!

I have set a `minDate` and `maxDate` with a default value of `undefined` but when I open the calendar, today's date shows by default. I would like the `minDate` to be the default date that shows when the calendar opens. If a `minDate` is set, I propose the calendar shows that date as the default date instead of today's

[2021-12-27 00:34] #358 closed, assigned to nobody

[2021-12-27 00:34] #233 closed, assigned to nobody

[2021-12-27 00:34] #229 closed, assigned to wojtekmaj

[2021-12-27 00:34] #215 closed, assigned to nobody

[2021-12-27 00:34] #214 closed, assigned to wojtekmaj

[2021-12-29 15:54] jespadas opened #402 "Not working with React 16.0.0"
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

### Description

I'm having an issue with the version 4.5.0. I can't work with library it crash everytime I try.

### Steps to reproduce

I just installed the newest version using :
    "react": "16.0.0",
    "react-date

[2021-12-29 15:58] jespadas commented on #402
My bad, wrong gh page. I'm triying with this library now.

[2021-12-29 16:04] #402 closed, assigned to nobody

[2022-01-05 17:08] fl4x commented on #395
Guys I am having the same warning, it's annoying, because I can not override the styles of npm
![image](https://user-images.githubusercontent.com/10885321/148259060-5acd79d8-9b45-4812-b456-32c203e7e743.png)

[2022-01-06 20:31] SasSam commented on #178
Default Next.js setup throws error as well:
![image](https://user-images.githubusercontent.com/496429/148446907-339c558a-b1b0-4a1b-b627-76b1cdbdd710.png)

The linked page about the issue: https://nextjs.org/docs/messages/css-npm

It says:

Any suggestions?

[2022-01-10 00:35] #383 closed, assigned to nobody

[2022-01-17 00:35] #209 closed, assigned to wojtekmaj

[2022-01-17 00:35] #194 closed, assigned to wojtekmaj

[2022-01-17 13:35] #200 closed, assigned to nobody

[2022-01-17 15:52] wojtekmaj commented on #317
Implemented in https://github.com/wojtekmaj/react-date-picker/pull/403, but this needs a but more testing.

[2022-01-19 16:27] wojtekmaj commented on #395
These warnings are not removable by other things than `process.env.NODE_ENV`, however if you really, really want to suppress these warnings, consider updating secondary dependency `react-fit` to `^1.4.0` (side note: this will be the minimum required version of `react-fit` in React-Date-Picker's next release, so if you're reading this in the future, chances are you don't need to do this), and then

[2022-01-19 16:27] #395 closed, assigned to wojtekmaj

[2022-01-31 00:32] #371 closed, assigned to nobody

[2022-01-31 00:32] #366 closed, assigned to nobody

[2022-02-02 15:58] wojtekmaj commented on #175
Duplicate of #284

Implemented in #362 in a form of new `openCalendarOnFocus` prop which can be explicitly set to `false` to achieve desired behavior.

[2022-02-02 15:58] #175 closed, assigned to nobody

[2022-02-07 00:33] #203 closed, assigned to nobody

[2022-02-07 00:33] #150 closed, assigned to nobody

[2022-02-07 00:33] #62 closed, assigned to wojtekmaj

[2022-02-08 15:34] wojtekmaj commented on #386
There are a couple of ways you can tackle this:

* Use `<form noValidate>`, but this will disable ALL native form validation rules
* Use `event.preventDefault()` in `onInvalid` callback; with a bit of additional logic to keep autofocus on error working correctly: https://codesandbox.io/s/react-date-picker-disable-native-validation-y89xz

[2022-02-08 15:34] #386 closed, assigned to nobody

[2022-02-08 15:41] wojtekmaj commented on #361
Caused by https://github.com/wojtekmaj/react-calendar/pull/388

[2022-02-08 15:43] #361 closed, assigned to nobody

[2022-02-10 08:23] functor-dev commented on #103
This is a huge problem for us, did anyone find out the solution?

[2022-02-14 00:34] #58 closed, assigned to wojtekmaj

[2022-02-14 00:34] #47 closed, assigned to wojtekmaj

[2022-02-16 06:38] n1cklarosa commented on #150
I too have this issue..

[2022-02-21 00:37] #310 closed, assigned to nobody

[2022-02-24 21:39] cdurran9 opened #404 "Allow user to type a numeric month value or month name when Month is set to MMM or MMMM"
### Before you start - checklist

- [X] I have checked if this feature request is not already reported

### Description

Here's the scenario: month is set to MMM to fit our UX mocks, but we anticipate users may be quickly tabbing in to the input and typing a date rather than clicking on the calendar to pick one. If I wanted to select July, at the moment I'd have to hit "j" multiple times to cycle

[2022-02-28 00:40] #5 closed, assigned to wojtekmaj

[2022-03-02 09:06] jorrit opened #405 "Memory leak in dateFormatter.getFormatter"
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

### Description

Commit 277e8796872e1806c3bf441898f91d5eb8b3bd5b introduced a cache for date formatters. One of the cache keys is the `options` object. However, at several locations this method is invoked with a new `opt

[2022-03-07 00:41] #315 closed, assigned to wojtekmaj

[2022-03-07 00:41] #308 closed, assigned to nobody

[2022-03-16 08:06] klichg0ky commented on #178
i fixed it with this line
`
import DatePicker from "react-date-picker/dist/entry.nostyle";`
and then added this lines in global css file

[code]

[2022-03-17 17:55] #178 closed, assigned to wojtekmaj

[2022-03-21 00:41] #271 closed, assigned to wojtekmaj

[2022-03-21 10:20] jorrit commented on #405
@wojtekmaj Can I do anything to help fix this issue? I could make a PR, but there are many different solutions to this problem and I don't know which one you prefer.

[2022-03-21 14:43] #91 closed, assigned to nobody

[2022-03-21 20:57] wojtekmaj commented on #405
Nope that's more than enough for me to work on, thank you - sorry, pretty busy in my private life :D Ironically, sick leave is what keeps my OSS projects going lately.

[2022-03-21 20:58] #405 closed, assigned to nobody

[2022-03-21 21:02] jorrit commented on #405
Thanks a lot, hope you get better soon!

[2022-03-22 00:03] ZinkNotTheMetal opened #406 "Vite.JS support"
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

### Description

I am trying to migrate from webpack -> vite.js using React and Typescript

I am getting a runtime error. Everything seems to be fine from the compilation standpoint

[code]

When I attempted to migrate o

[2022-03-22 23:33] desmondandersen opened #407 "Add day of week name to 'format' prop"
### Before you start - checklist

- [X] I have checked if this feature request is not already reported

### Description

Hi I am trying to implement a date picker that includes the day of the week name next to the date in the selection box. For instance: [Tuesday, 03/22/2022].

Right now the format prop only supports `y`, `M`, `MM`, `MMM`, `MMMM`, `d`, `dd`.

### Proposed solution

Would it be pos

[2022-03-23 07:56] wojtekmaj commented on #407
I don't see how that could be reliably implemented. And if you select Monday, which Monday do you mean? The one before, or after currently selected day?

Best you could do is probably something like this:
https://codesandbox.io/s/react-date-picker-with-weekday-rkuvhf

[2022-03-23 08:07] wojtekmaj commented on #406
Addressed in b1adefe6f19cbbe2a483466d7fd7a7e54cc7d0d1 already.

[2022-03-23 08:07] #406 closed, assigned to nobody

[2022-03-29 12:47] cskiran opened #408 "Uncaught TypeError: Method get Intl.DateTimeFormat.prototype.format called on incompatible receiver undefined at get format (<anonymous>)"
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

### Description

When trying to open the calendar i am getting **Uncaught TypeError: Method get Intl.DateTimeFormat.prototype.format called on incompatible receiver undefined**

### Steps to reproduce

click on the calen

[2022-03-29 16:21] #408 closed, assigned to nobody

[2022-04-07 19:25] 27-7survey opened #409 "portalContainer missing in DatePickerProps interface"
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

### Description

In index.d.ts where is DatePickerProps interface definition portalContainer is missing

### Steps to reproduce

not applicable

### Expected behavior

not applicable

### Actual behavior

not applicable

[2022-04-08 07:18] 27-7survey commented on #409
As I see portalContainer is not available in latest version (8.4.0), but it is mentioned in README.md, so maybe it will be available in next release

[2022-04-18 00:56] #368 closed, assigned to wojtekmaj

[2022-04-18 00:56] #347 closed, assigned to nobody

[2022-04-20 17:02] MarinaGhe opened #410 "Calendar not displaying screen containing minDate when passing dynamic value"
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

Unexpected behaviour when passing minDate and maxDate through props.
I'm passing minDate value through props inside my DatePicker component and I have some weird scenarios.

### Expected behavior

The react date picker e

[2022-04-26 23:36] muiradams commented on #408
@cskiran, I'm having the same issue. Did you close the ticket because you solved it? If so, how?

[2022-05-09 07:26] MatteoGauthier commented on #409
Any news about this issue ?

[2022-05-10 00:10] longlostnick commented on #68
I had the same problem in next.js... interestingly I didn't run into this with `wojtekmaj/react-calendar`. Not ideal, but importing the `.nostyle` version worked for me as mentioned in this comment: https://github.com/wojtekmaj/react-date-picker/issues/68#issuecomment-462430601

[2022-05-10 13:05] jorrit commented on #405
@wojtekmaj Could you perhaps make a release with this fix? Thanks in advance!

[2022-05-16 00:55] #174 closed, assigned to wojtekmaj

[2022-05-18 22:50] flowerbot opened #411 "calendar does not respect selected locale"
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

### Description

I am trying to use the date-time picker for "en-AU" locale.  When fed a default date, the date appears in the text fields correctly, with the day first, then month, then year.  The calendar however does

[2022-05-19 16:04] mpham-r7 commented on #409
https://github.com/wojtekmaj/react-date-picker/pull/412

[2022-05-20 06:49] #409 closed, assigned to nobody

[2022-05-26 15:38] PokerJava commented on #317
help me pls version 8.4.0 not working year out put 2565 current year

[2022-05-30 01:00] #103 closed, assigned to wojtekmaj

[2022-06-09 21:01] msdrigg opened #414 "Placeholder width not respected until element focused"
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

### Description

When I have a placeholder that is bigger than the initial placeholder value, it doesn't get updated until it is focused. It appears crampped until I focus it.

For example, my year placeholder is `yyyy`

[2022-06-13 16:12] edwinmunguia opened #415 "Calendar still closes even when closeCalendar is set to false"
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

### Description

when the calendar is open and i change, for example, the month or year, the value doesn't change and the calendar closes even with prop `closeCalendar` set to `false`

any reason for this behavior?

###

[2022-06-15 13:16] edwinmunguia commented on #415
I found that this only happens when the component is inside a Modal (MUI modal in this case).. any thoughts?

[2022-06-20 00:57] #404 closed, assigned to nobody

[2022-07-05 10:10] pjg commented on #333
I've upgraded `make-event-props` to v1.3 but that did not solve the issue. The `onInvalid` is never called/activated, despite entering an invalid date part (like `33` for the day field) in the text input. Should I open a new issue for this?

[2022-07-05 12:04] wojtekmaj commented on #333
`onInvalid` should be fired but only if you submit the form with an invalid values. Is that the case you have?

[2022-07-05 12:20] pjg commented on #333
I see. Yes, I can verify that `onInvalid` is actually being fired/handled by DatePicker on form submit. My use case is very similar to how you add the `:invalid` pseudo class for a single invalid DatePicker input field. I would like to be able to highlight the whole input/date container as being invalid in such situation, something which seems to be impossible currently.

[2022-07-05 13:58] wojtekmaj commented on #333
Hmmmm... There is a way to do this in pure CSS, but `:has()` pseudo-class is only supported in Safari 15.4 or later at the moment of writing.

https://codesandbox.io/s/react-date-picker-invalid-styles-ckpnfw

For now, you'll need to use `onInput`/`onChange` to listen for changes, iterate over inputs to check their validity, and change classes accordingly.

[2022-07-05 16:51] pjg commented on #333
Thanks for the update! Unfortunately lack of browser support for `:has()` limits its usefulness. I also thought about iterating over all inputs, but that seems a little bit overkill. Ideally `react-date-picker` should bubble up the `invalid` class name to the main container element ;)

[2022-07-08 11:39] workforbala commented on #78
-moz-user-input: is deprecated and not supported by all browser as per documentation . so need better solution for same.

https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-user-input

[2022-07-08 11:48] workforbala commented on #293
mentioned fix has been deprecated  .

https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-user-input

[2022-07-08 11:51] workforbala opened #417 "How can I disable manual input date from keyboard? mentioned fix deprecated"
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

### Description

How can I disable manual input date from keyboard? I wan't to leave possibility use calendar UI only.

mentioned fix for this issue is deprecated not working on all the browser.
https://developer.mozilla

[2022-07-08 14:25] jose-valero commented on #6
@wojtekmaj we can remove the divider "-" from the placeholder? any idea?

[2022-07-08 17:14] wojtekmaj commented on #6
Divider is not the part of placeholder, but date format. Placeholders are where the numbers go in this - automatically derived from locale or manually provided - date format.

[2022-07-14 14:32] ketanmodha opened #418 "portalContainer doesn't seem to be working"
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

### Description

Hi, Wanted to load the calendar using portalContainer doesn't seem to be working.

Tried this way to assign the existing div where I wanted to load the calendar

portalContainer={document.getElementById(

[2022-07-15 06:04] wojtekmaj commented on #418
This feature has not been released yet.

[2022-07-15 06:04] #418 closed, assigned to nobody

[2022-07-15 13:15] carmelocatalfamo commented on #417
+1

[2022-07-20 16:03] lowcozy commented on #261
do we have new update for this feature :(

[2022-07-25 00:58] #407 closed, assigned to nobody

[2022-08-09 14:47] AnnaPetryuk opened #421 "Safari open 2 calendars native and custom"
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

### Description

In Safari browser I click on month or year calendar buttons, browser open two datepickers (custom and native)

### Steps to reproduce

- click on datepicker icon
- on the top choose month/year
- select o

[2022-08-12 09:50] aesy commented on #418
@wojtekmaj When would you estimate a new version to be released, roughly speaking?

[2022-08-26 17:15] Sarfraz-droid opened #423 "No props for ClassName for react-date-picker__wrapper"
### Before you start - checklist

- [X] I have checked if this feature request is not already reported

### Description

No Props for adding **className** in **react-date-picket__wrapper** div.

### Proposed solution

_No response_

### Alternatives

_No response_

### Additional information

_No response_

[2022-09-05 01:14] #411 closed, assigned to nobody

[2022-09-08 09:02] wojtekmaj commented on #411
I could not reproduce this behavior. Mind you, neither React-Calendar not React-Date-Picker parse dates manually; they are passed between each other as `Date` objects, so I don't see the possibility of confusing days and months here.

[2022-09-14 09:23] #414 closed, assigned to nobody

[2022-09-14 09:45] wojtekmaj commented on #421
Hmmm, can't reproduce, but I have Safari 15.5. Do you have a screenshot maybe?

[2022-09-14 09:46] wojtekmaj commented on #423
Adding props for additional class names for each and every element in React-Date-Picker internals would be a huge mess. Please use internal class names for styling internal elements of React-Date-Picker.

[2022-09-14 09:46] #423 closed, assigned to nobody

[2022-09-14 09:53] wojtekmaj commented on #418
Roughly... Now.

[2022-09-19 14:45] pjg opened #425 ""<Fit />'s child does not have absolute position. You should apply `position: absolute` to it" warning"
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

### Description

After upgrading to v9.0.0 (from v8.4.0) I started receiving this warning in the console (even with devtools closed).

I tried adding the `position: absolute` style to the Fit's child (which is `.react-ca

[2022-09-19 18:48] pjg commented on #425
I was able to fix this issue on my end by adding `position: absolute` css rule for `.react-date-picker__calendar--open` and `.react-date-picker__calendar--closed` css classes. Not sure why those classes don't have this rule as the component sets `inset` css value as `style` attribute to the element with those classes.

[2022-09-20 13:17] zapbampow commented on #261
I would also love this feature. I've had trouble getting local linking working with yarn to test out some ideas, but my guess is that something like adding new customCalendarHeader/customCalendarFooter props to be used in renderCalendar would work.

[code]

[2022-09-23 07:04] sam3177 opened #426 "Input Value maxLength checked only on 'onKeyPress' event."
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

### Description

<img width="691" alt="image" src="https://user-images.githubusercontent.com/63252304/191907033-509373ec-0b26-48f1-b3b7-5522aca8dee5.png">

So I see here this function for the "onKeyPress" event and it wo

[2022-09-23 07:12] sam3177 opened #427 "I can't get noticed of an internal error, outside of the component."
### Before you start - checklist

- [X] I have checked if this feature request is not already reported

### Description

When I type a date and it is invalid, like mont 14, I see that input with a different background, but I don't trigger actually the validation of the form, to get an error message for it.
The onChange works only when i select a valid date, nothing else is happening till then.

##

[2022-10-03 01:08] #415 closed, assigned to nobody

[2022-10-05 07:59] netraagal commented on #308
Still nothing ? The tab navigation is quite a problem on the forms...

I'm gonna try to find a way to implement that, will see if luck is with me

[2022-10-05 12:34] netraagal commented on #308
Found a solution by using the `onKeyDown` attribute. I'm using some regex to still be able to tab through the year/month/day inputs before going to the next form input.

It will create a strange effect on the back Tab, but for now that's enough for me.

[code]

[2022-10-10 07:58] masterbater opened #428 "Can we have a hover effect that highlights the entire week?"
### Before you start - checklist

- [X] I have checked if this feature request is not already reported

### Description

When hovering a date, add a props to activate hover effect of the entire week, also adds option to also exclude weekends

### Proposed solution

_No response_

### Alternatives

_No response_

### Additional information

_No response_

[2022-10-18 14:51] aesy opened #429 "Menu is not positioned when using portalContainer"
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

### Description

When setting `portalContainer` on the `DatePicker`, I would expect the menu to still be positioned under the input instead of completely leaving the positioning up to the user. It's possible that I have

[2022-10-19 09:34] MaximeBress opened #430 "portalContainer doesn't work when value is set"
### Before you start - checklist

- [X] I followed instructions in documentation written for my React-Date-Picker version
- [X] I have checked if this bug is not already reported

### Description

When i set portalContainer on DatePicker and set a value the calendar doesn't render in the HTML Element defined in portalContainer.

### Steps to reproduce

1. Create a ref to my div element `const ref

[2022-10-25 19:41] restrin-extensis commented on #421
I have Safari 15.5 as well and can repro by clicking on the whitespace between the year field and the close icon.
<img width="374" alt="image" src="https://user-images.githubusercontent.com/46825740/197866550-72988fc7-3089-4f75-b0a5-f934715b6b03.png">

Firefox 106.0.1 exhibits similarly
<img width="372" alt="image" src="https://user-images.githubusercontent.com/46825740/197866735-6ed2ec9c-c846-411

[2022-10-26 17:25] serge-eric-kalaga opened #450 "Is there an event fired on Clear button click?"
### Before you start - checklist

- [X] I have checked if this feature request is not already reported

### Description

Please add an event when clicking on 'clear button'

### Proposed solution

_No response_

### Alternatives

_No response_

### Additional information

_No response_

[2022-10-27 06:32] lagroms commented on #318
I'm having the same issue. In some places of my app, the component works just fine, and on 1 specific page, clicking on the component makes the CPU go 100% and them the browser is unresponsive. I don't understand what's the reason behind this because i'm using it in the exact same manner as the rest of my pages.

[2022-11-07 00:59] #417 closed, assigned to nobody

[2022-11-09 21:16] wojtekmaj commented on #450
When clicking clear icon, onChange is called with null.

[2022-11-09 21:16] #450 closed, assigned to nobody

[2022-11-09 21:52] #421 closed, assigned to nobody

[2022-11-10 09:47] serge-eric-kalaga commented on #450
Thank

[2022-11-10 17:19] wojtekmaj commented on #430
I'm unable to reproduce this, can you provide a CodeSandbox, perhaps?

[2022-11-15 14:20] #430 closed, assigned to nobody

[2022-11-28 19:21] danielacorner commented on #408
@muiradams resolved on my end by adding the `format` prop - but, same error reoccurs after I add `isOpen` prop,

then, resolved by adding all `formatDay`-like functions formatDay, formatMonth, formatYear, formatLongDate, formatMonthYear, formatShortWeekday, formatWeekday ...